<% if ( iLayout == 1) { %>

    <%- body %>

    <%- script %>

<% } else if ( iLayout == 2 ){ %>

    <!doctype html>
    <html>
        <head>
            <%- include('headpopup') %>
        </head>
        <body>

            <div class="content" style="position:relative; padding:0 10px 0 10px;">
                <div class="list_tit" style="height:80px; padding-top:10px;">
                    <h3>
                        <% if ( agent.iClass == 2 ) { %> 
                            <a class="btn_gray" style="font-weight:bold; font-size:18px; position:absolute; left:50px; top:25px;">상위 ▶ <%=strParent%></a>
                            <span style="font-size:18px; font-weight:bold; position:absolute;left:200px; top:12px;">[<%=__('ViceHQ')%>]<%=agent.strNickname%></span> 
                        <% } else if ( agent.iClass == 3 ) { %> 
                            <a class="btn_gray" style="font-weight:bold; font-size:18px; position:absolute; left:50px; top:25px;">상위 ▶ <%=strParent%></a>
                            <span style="font-size:18px; font-weight:bold; position:absolute;left:200px; top:12px;">[<%=__('Admin')%>]<%=agent.strNickname%></span> 
                        <% } else if ( agent.iClass == 4 ) { %> 
                            <a class="btn_gray" style="font-weight:bold; font-size:18px; position:absolute; left:50px; top:25px;">상위 ▶ <%=strParent%></a>
                            <span style="font-size:18px; font-weight:bold; position:absolute;left:200px; top:12px;">[<%=__('ProAdmin')%>]<%=agent.strNickname%></span> 
                        <% } else if ( agent.iClass == 5 ) { %> 
                            <a class="btn_gray" style="font-weight:bold; font-size:18px; position:absolute; left:50px; top:25px;">상위 ▶ <%=strParent%></a>
                            <span style="font-size:18px; font-weight:bold; position:absolute;left:200px; top:12px;">[<%=__('ViceAdmin')%>]<%=agent.strNickname%></span> 

                        <% } else if ( agent.iClass == 6 ) { %>
                            <a class="btn_gray" style="font-weight:bold; font-size:18px; position:absolute; left:50px; top:25px;">상위 ▶ <%=strParent%></a>
                            <span style="font-size:18px; font-weight:bold; position:absolute;left:200px; top:12px;">[<%=__('Agent')%>]<%=agent.strNickname%></span> 
                        <% } else if ( agent.iClass == 7 ) { %>
                            <a class="btn_gray" style="font-weight:bold; font-size:18px; position:absolute; left:50px; top:25px;">상위 ▶ <%=strParent%></a>
                            <span style="font-size:18px; font-weight:bold; position:absolute;left:200px; top:12px;">[<%=__('Shop')%>]<%=agent.strNickname%></span> 
                        <%}%>
                </h3>
                    <h3>
                        <div style="text-align:right;padding-right:0px;margin-top:0px;">
                            <span id="top_total_point_area">
                                <font style="color:#00FFFF;font-size:15px;font-weight:bold;"><%=__('Cash')%> :</font>
                                <font style="color:yellow;font-size:15px;font-weight:bold;"><%=agent.iCash.toLocaleString()%></font>
                                &nbsp;&nbsp;
                                <font style="color:#00FFFF;font-size:15px;font-weight:bold;"><%=__('Rolling')%> :</font>
                                <font style="color:yellow;font-size:15px;font-weight:bold;"><%=parseInt(agent.iRolling).toLocaleString()%></font>
                                &nbsp;&nbsp;
                                <font style="color:#00FFFF;font-size:15px;font-weight:bold;"><%=__('Settle')%> :</font>
                                <font style="color:yellow;font-size:15px;font-weight:bold;"><%=parseInt(agent.iSettle).toLocaleString()%></font>
                                <% if (agent.iClass == 4) { %>
                                    &nbsp;&nbsp;&nbsp;
                                    <font style="color:#00FFFF;font-size:15px;font-weight:bold;">죽장이월 :</font>
                                    <font style="color:yellow;font-size:15px;font-weight:bold;"><%=parseInt(agent.iSettleAcc ?? 0).toLocaleString()%></font>
                                <% } %>
                                &nbsp;&nbsp;&nbsp;
                            </span>
                        </div>
                    </h3>
                </div>
                <div style="padding-left:10px;margin-top:10px;margin-bottom:10px;">
                    <% if ( iHeaderFocus == 20 ) { %>
                        <a href="#" class="btn_blue" id="popup_logs">정보로그</a>
                    <% } else { %>
                        <% if ( agent.iRootClass <= 3 || agent.iRootClass < agent.iClass ) { %>
                            <% if ( iHeaderFocus == 0 ) { %>
                                <a href="#" class="btn_blue" id="popup_agentinfo"><%=__('Information')%></a> &nbsp;
                            <% } else { %>
                                <a href="#" class="btn_green" id="popup_agentinfo"><%=__('Information')%></a> &nbsp;
                            <% } %>
                        <% } %>
                        <% if ( agent.iClass <= 3 ) { %>
                            <% if ( iHeaderFocus == 10 ) { %>
                                <a href="#" class="btn_blue" id="popup_proadminlist"><%=__('ProAdmin')%></a> &nbsp;
                            <% } else { %>
                                <a href="#" class="btn_green" id="popup_proadminlist"><%=__('ProAdmin')%></a> &nbsp;
                            <% } %>
                        <% } %>

                        <% if ( agent.iClass <= 4 ) { %>
                            <% if ( iHeaderFocus == 1 ) { %>
                                <a href="#" class="btn_blue" id="popup_viceadminlist"><%=__('ViceAdmin')%></a> &nbsp;
                            <% } else { %>
                                <a href="#" class="btn_green" id="popup_viceadminlist"><%=__('ViceAdmin')%></a> &nbsp;
                            <% } %>
                        <% } %>

                        <% if ( agent.iClass <= 5 ) { %>
                            <% if ( iHeaderFocus == 2 ) { %>
                                <a href="#" class="btn_blue" id="popup_agentlist"><%=__('Agent')%></a> &nbsp;
                            <% } else { %>
                                <a href="#" class="btn_green" id="popup_agentlist"><%=__('Agent')%></a> &nbsp;
                            <% } %>
                        <% } %>

                        <% if ( agent.iClass <= 6 ) { %>
                            <% if ( iHeaderFocus == 3 ) { %>
                                <a href="#" class="btn_blue" id="popup_shoplist"><%=__('Shop')%></a> &nbsp;
                            <% } else { %>
                                <a href="#" class="btn_green" id="popup_shoplist"><%=__('Shop')%></a> &nbsp;
                            <% } %>
                        <% } %>

                        <% if ( agent.iClass <= 7 ) { %>
                            <% if ( iHeaderFocus == 4 ) { %>
                                <a href="#" class="btn_blue" id="popup_userlist"><%=__('User')%></a> &nbsp;
                            <% } else { %>
                                <a href="#" class="btn_green" id="popup_userlist"><%=__('User')%></a> &nbsp;
                            <% } %>
                        <% } %>

                        <% if ( iHeaderFocus == 5 ) { %>
                            <a href="#" class="btn_blue" id='popup_charges'><%=__('Input')%></a> &nbsp;
                        <% } else { %>
                            <a href="#" class="btn_green" id="popup_charges"><%=__('Input')%></a> &nbsp;
                        <% } %>

                        <% if ( iHeaderFocus == 6 ) { %>
                            <a href="#" class="btn_blue" id='popup_exchanges'><%=__('Output')%></a> &nbsp;
                        <% } else { %>
                            <a href="#" class="btn_green" id="popup_exchanges"><%=__('Output')%></a> &nbsp;
                        <% } %>

                        <% if ( iHeaderFocus == 7 ) { %>
                            <a href="#" class="btn_blue" id='popup_points'><%=__('RecordPointExchange')%></a> &nbsp;
                        <% } else { %>
                            <a href="#" class="btn_green" id="popup_points"><%=__('RecordPointExchange')%></a> &nbsp;
                        <% } %>

                        <% if ( iHeaderFocus == 8 ) { %>
                            <a href="#" class="btn_blue" id='popup_bettingrecord'>본인 <%=__('RecordBetting')%></a> &nbsp;
                        <% } else { %>
                            <a href="#" class="btn_green" id="popup_bettingrecord">본인 <%=__('RecordBetting')%></a> &nbsp;
                        <% } %>

                        <% if ( iHeaderFocus == 9 ) { %>
                            <a href="#" class="btn_blue" id='popup_games'><%=__('Calculation')%></a> &nbsp;
                        <% } else { %>
                            <a href="#" class="btn_green" id="popup_games"><%=__('Calculation')%></a> &nbsp;
                        <% } %>

                        <% if ( agent.iClass <= 4 ) { %>
                            <% if ( iHeaderFocus == 11 ) { %>
                                <a href="#" class="btn_blue" id="popup_credits">가불</a> &nbsp;
                            <% } else { %>
                                <a href="#" class="btn_green" id="popup_credits">가불</a> &nbsp;
                            <% } %>
                        <% } %>

                        <% if ( iHeaderFocus == 20 ) { %>
                            <a href="#" class="btn_blue" id="popup_logs">정보로그</a> &nbsp;
                        <% } else { %>
                            <a href="#" class="btn_green" id="popup_logs">정보로그</a> &nbsp;
                        <% } %>
                    <% } %>
                </div>

            <%- body %>

            </div>
            <%- script %>
        </body>
    </html>

<% } else if ( iLayout == 3 ) { %>

    <!doctype html>
    <html>
        <head>
            <%- include('headpopup_user') %>
        </head>
        <body>
            <div class="content" style="position:relative; padding:0 10px 0 10px;">
                <div class="list_tit" style="height:80px; padding-top:10px;">
                    <h3> 
                        <!-- <span style="font-size:32px;color:yellow;font-weight:bold;padding-top:10px; font-family: 'Hahmlet', serif;">[<%=__('User')%>] &nbsp;<%=agent.strNickname%> (<%=agent.strID%>)</span>  -->
                        <a class="btn_gray" style="font-weight:bold; font-size:18px; position:absolute; left:50px; top:25px;">▶ <%=parents.strShop%></a>
                        <span style="font-size:18px; font-weight:bold; position:absolute;left:200px; top:12px;">[<%=__('User')%>] &nbsp;<%=agent.strNickname%> (<%=agent.strID%>)</span> 
                    </h3>
    
                    <h3>
                        <div style="text-align:right;padding-right:0px;margin-top:0px;">
                            <span id="top_total_point_area">
                                <font style="color:#00FFFF;font-size:15px;font-weight:bold;"><%=__('Cash')%> :</font>
                                <font style="color:yellow;font-size:15px;font-weight:bold;"><%=agent.iCash.toLocaleString()%></font>
                                &nbsp;&nbsp;
                                <font style="color:#00FFFF;font-size:15px;font-weight:bold;"><%=__('Rolling')%> :</font>
                                <font style="color:yellow;font-size:15px;font-weight:bold;"><%=parseInt(agent.iRolling).toLocaleString()%></font>
                                &nbsp;&nbsp;
                                <font style="color:#00FFFF;font-size:15px;font-weight:bold;"><%=__('Settle')%> :</font>
                                <font style="color:yellow;font-size:15px;font-weight:bold;">0</font>
                                &nbsp;&nbsp;&nbsp;
                            </span>
                        </div>
                    </h3>


                </div>
                <div style="padding-left:10px;margin-top:10px;margin-bottom:10px;">
                    <% if ( iHeaderFocus == 20 ) { %>
                        <a href="#" class="btn_blue" id="popup_logs">정보로그</a>
                    <% } else { %>
                        <% if ( iHeaderFocus == 0 ) { %>
                        <a href="#" class="btn_blue" id="popup_userinfo"><%=__('Information')%></a> &nbsp;
                        <% } else { %>
                        <a href="#" class="btn_green" id="popup_userinfo"><%=__('Information')%></a> &nbsp;
                        <% } %>

                        <% if ( iHeaderFocus == 1 ) { %>
                        <a href="#" class="btn_blue" id="popup_input"><%=__('Input')%></a> &nbsp;
                        <% } else { %>
                        <a href="#" class="btn_green" id="popup_input"><%=__('Input')%></a> &nbsp;
                        <% } %>

                        <% if ( iHeaderFocus == 2 ) { %>
                        <a href="#" class="btn_blue" id="popup_output"><%=__('Output')%></a> &nbsp;
                        <% } else { %>
                        <a href="#" class="btn_green" id="popup_output"><%=__('Output')%></a> &nbsp;
                        <% } %>

                        <% if ( iHeaderFocus == 3 ) { %>
                        <a href="#" class="btn_blue" id="popup_pointrecord"><%=__('RecordPointExchange')%></a> &nbsp;
                        <% } else { %>
                        <a href="#" class="btn_green" id="popup_pointrecord"><%=__('RecordPointExchange')%></a> &nbsp;
                        <% } %>

                        <% if ( iHeaderFocus == 4 ) { %>
                        <a href="#" class="btn_blue" id="popup_bettingrecorduser"><%=__('RecordBetting')%></a> &nbsp;
                        <% } else { %>
                        <a href="#" class="btn_green" id="popup_bettingrecorduser"><%=__('RecordBetting')%></a> &nbsp;
                        <% } %>

                        <% if ( iHeaderFocus == 20 ) { %>
                            <a href="#" class="btn_blue" id="popup_logs">정보로그</a> &nbsp;
                        <% } else { %>
                            <a href="#" class="btn_green" id="popup_logs">정보로그</a> &nbsp;
                        <% } %>
                    <% } %>
                </div>
            <%- body %>
            </div>
            <%- script %>
    </body>
</html>
<% } else if ( iLayout == 4 ) { %>
    <!doctype html>
    <html>
    <head>
        <%- include('headpopup_user') %>
    </head>
    <body>
    <div class="content" style="position:relative; padding:0 10px 0 10px;">
        <div class="list_tit">
            <h3 style="font-size:21px; color:yellow;font-weight:bold;margin-top:10px;">

                <% if ( agent.iClass == 1 ) { %>
                <span style="margin-left:10px;">[<%=__('HQ')%>]<span style="color:#f56868;"><%=agent.strNickname%></span></span>
                <% } else if ( agent.iClass == 2 ) { %>
                <span style="margin-left:10px;">[<%=__('ViceHQ')%>]<span style="color:#f56868;"><%=agent.strNickname%></span></span>
                <% } else if ( agent.iClass == 3 ) { %>
                <span style="margin-left:10px;">[<%=__('Admin')%>]<span style="color:#f56868;"><%=agent.strNickname%></span></span>
                <% } else if ( agent.iClass == 4 ) { %>
                <span style="margin-left:10px;">[<%=__('ProAdmin')%>]<span style="color:#f56868;"><%=agent.strNickname%></span></span>
                <% } else if ( agent.iClass == 5 ) { %>
                <span style="margin-left:10px;">[<%=__('ViceAdmin')%>]<span style="color:#f56868;"><%=agent.strNickname%></span></span>
                <% } else if ( agent.iClass == 6 ) { %>
                <span style="margin-left:10px;">[<%=__('Agent')%>]<span style="color:#f56868;"><%=agent.strNickname%></span></span>
                <% } else if ( agent.iClass == 7 ) { %>
                <span style="margin-left:10px;">[<%=__('Shop')%>]<span style="color:#f56868;"><%=agent.strNickname%></span></span>
                <% } %>

                <% if ( agent.iClass > 3 ) { %>
                <span style="float:right; margin-left:10px;"><%=__('Settle')%> : <span id="settle" style="color:#f56868;"></span></span>
                <span style="float:right; margin-left:10px;"><%=__('Rolling')%> : <span id="rolling" style="color:#7fbe18;"></span></span>
                <% } %>
                <span style="float:right; margin-left:10px;"><%=__('Cash')%> : <span id="cash" style="color:#ffffff;"></span></span>
            </h3>
        </div>
        <div id="tab_list" style="padding-left:10px;margin-top:10px;margin-bottom:10px;">
            <% if ( iHeaderFocus == 0 ) { %>
                <a href="#" class="btn_blue" id="popup_changemoeny">캐시기록 목록</a> &nbsp;
            <% } else { %>
                <a href="#" class="btn_green" id="popup_changemoeny">캐시기록 목록</a> &nbsp;
            <% } %>
            <% if ( iHeaderFocus == 1 ) { %>
                <a href="#" class="btn_blue" id="popup_letter_send">보낸쪽지 목록</a> &nbsp;
            <% } else { %>
                <a href="#" class="btn_green" id="popup_letter_send">보낸쪽지 목록</a> &nbsp;
            <% } %>
            <% if ( iHeaderFocus == 2 ) { %>
                <a href="#" class="btn_blue" id="popup_letter_receive">받은쪽지 목록</a> &nbsp;
            <% } else { %>
                <a href="#" class="btn_green" id="popup_letter_receive">받은쪽지 목록</a> &nbsp;
            <% } %>
        </div>
        <%- body %>
    </div>
    <%- script %>
    </body>
    </html>
<% } else if ( iLayout == 5 ){ %>

    <!doctype html>
    <html>
    <head>
        <%- include('headpopup') %>
    </head>
    <body>

    <div class="content" style="position:relative; padding:0 10px 0 10px;">
        <div class="list_tit" style="height:80px; padding-top:10px;">
            <h3>
                <a class="btn_gray" style="font-weight:bold; font-size:18px; position:absolute; left:50px; top:25px;">상위 ▶ <%=strParent%></a>
                <span style="font-size:18px; font-weight:bold; position:absolute;left:200px; top:12px;">[<%=__('Admin')%>]<%=agent.strNickname%></span>
            </h3>
            <h3>
                <div style="text-align:right;padding-right:0px;margin-top:0px;">

                            <span id="top_total_point_area">
                                <font style="color:#00FFFF;font-size:15px;font-weight:bold;"><%=__('Cash')%> :</font>
                                <font style="color:yellow;font-size:15px;font-weight:bold;"><%=agent.iCash.toLocaleString()%></font>
                                &nbsp;&nbsp;&nbsp;
                            </span>
                </div>
            </h3>
        </div>
        <div style="padding-left:10px;margin-top:10px;margin-bottom:10px;">
            <a href="#" class="btn_blue">가불</a> &nbsp;
        </div>

        <%- body %>

    </div>
    <%- script %>
    </body>
    </html>
<% } else if ( iLayout == 6 ) { %>

<!doctype html>
<html>
<head>
    <%- include('headpopup') %>
</head>
<body>

<div class="content" style="position:relative; padding:0 10px 0 10px;">
    <div class="list_tit" style="height:80px; padding-top:10px;">
        <h3>
            <a class="btn_gray" style="font-weight:bold; font-size:18px; position:absolute; left:50px; top:25px;">상위 ▶ <%=strParent%></a>
            <span style="font-size:18px; font-weight:bold; position:absolute;left:200px; top:12px;">[<%=__('Admin')%>]<%=agent.strNickname%></span>
        </h3>
        <h3>
            <div style="text-align:right;padding-right:0px;margin-top:0px;">
            </div>
        </h3>
    </div>
    <div style="padding-left:10px;margin-top:10px;margin-bottom:10px;">
        <div style="padding-left:10px;margin-top:10px;margin-bottom:10px;">
            <% if ( iHeaderFocus == 0 ) { %>
                <a href="#" class="btn_blue" id="popup_share">지분자 목록</a> &nbsp;
            <% } else { %>
                <a href="#" class="btn_green" id="popup_share">지분자 목록</a> &nbsp;
            <% } %>
            <% if ( iHeaderFocus == 1 ) { %>
                <a href="#" class="btn_blue" id="popup_share_history">지분자 입출금 내역</a> &nbsp;
            <% } else { %>
                <a href="#" class="btn_green" id="popup_share_history">지분자 입출금 내역</a> &nbsp;
            <% } %>
            <% if ( iHeaderFocus == 2 ) { %>
                <a href="#" class="btn_blue" id="popup_changemoney">지급차감 기록</a> &nbsp;
            <% } else { %>
                <a href="#" class="btn_thinorange" id="popup_changemoney">지급차감 기록</a> &nbsp;
            <% } %>
        </div>
    </div>

    <%- body %>

</div>
<%- script %>
</body>
</html>
<% } else if ( iLayout == 7 ) { %>

<!doctype html>
<html>
<head>
    <%- include('headpopup') %>
</head>
<body>

<div class="content" style="position:relative; padding:0 10px 0 10px;">
    <div class="list_tit" style="height:80px; padding-top:10px;">
        <h3>
            <a class="btn_gray" style="font-weight:bold; font-size:18px; position:absolute; left:50px; top:25px;">상위 ▶ <%=strParent%></a>

            <span style="font-size:18px; font-weight:bold; position:absolute;left:200px; top:12px;">[<%=__('Admin')%>]<%=agent.strNickname%></span>
        </h3>
        <h3>
            <div style="text-align:right;padding-right:0px;margin-top:0px;">
            </div>
        </h3>
    </div>
    <%- body %>

</div>
<%- script %>
</body>
</html>
<% } else if ( iLayout == 8 ) { %>

<!doctype html>
<html>
<head>
    <%- include('headpopup') %>
</head>
<body>
<div class="content" style="position:relative; padding:0 10px 0 10px;">
    <div class="list_tit" style="height:80px; padding-top:10px;">
        <h3>
            <a class="btn_gray" style="font-weight:bold; font-size:18px; position:absolute; left:50px; top:25px;">계좌관리</a>
        </h3>
        <h3>
            <div style="text-align:right;padding-right:0px;margin-top:0px;">
            </div>
        </h3>
    </div>
    <%- body %>

</div>
<%- script %>
</body>
</html>
<% } else { %>

<!doctype html>
<html>
    <head>
        <%- include('head') %>
    </head>

<body>
    <div id="wrap" class="skin_type01">
        <header id="header">
            <nav id="gnb">
                <ul class="clearfix">
                    <div style="float:right;">
                        <div id="input_process">
                        </div>
                        <div id="output_process">
                        </div>
                        <div id="letter_process">
                        </div>
                        <div id="charge_process">
                        </div>
                        <div id="contact_process">
                        </div>
                        <div id="letterreply_process">
                        </div>
                        <div id="contactreply_process">
                        </div>
                        <% if ( parseInt(user.iClass) <= 2 ) { %>
                            <a class="btn_thinorange" style="position:absolute;top:35px; right:15%;" href="javascript:OnClickChangeMoney('<%=user.strNickname%>', '<%=user.strGroupID%>', '<%=user.iClass%>');"><%=__('Give')%><%=__('Take')%> <%=__('Record')%></a>
                        <%} else if ( parseInt(user.iClass) <= 3 ) { %>
                            <a class="btn_thinorange" style="position:absolute;top:35px; right:15%;" href="javascript:OnClickChangeMoney('<%=user.strNickname%>', '<%=user.strGroupID%>', '<%=user.iClass%>');"><%=__('CashRecord')%></a>
                        <% } %>
<!--                        <select id="LanguageSelect" class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:100px; height:27px; position:absolute;top:35px; right:8%;background-color:black; color:white;">-->
<!--                            <option selected>Language</option>-->
<!--                            <option value="1"><a href="/ko">한국어</a></option>-->
<!--                            <option value="2"><a href="/jp">日本語</a></option>-->
<!--                            <option value="3"><a href="/en">English</a></option>-->
<!--                        </select>-->
                        <% if ( parseInt(user.iClass) == 1 ) { %>
                            <a class="init btn_thinred" style="position:absolute;top:35px; right:5%;" href="#">초기화</a>
                        <% } %>
                        <a class='logout btn_thinred' style="position:absolute;top:35px; right:1%;" href="/account/logout"><%=__('Logout')%></a>

                    </div>
                    <li>
                        <% if ( user.iClass == 1 ) { %>
                        <p style="margin-top:-5px;margin-bottom:-5px; color:yellow;font-size:20px;font-family:'Spoqa Han Sans Neo', 'sans-serif';">[총총]<%=user.strNickname%></p>
                        <% } else if ( user.iClass == 2 ) { %>
                        <p style="margin-top:-5px;margin-bottom:-5px; color:yellow;font-size:20px;font-family:'Spoqa Han Sans Neo', 'sans-serif';">[총본]<%=user.strNickname%></p>
                        <% } else if ( user.iClass == 3 ) { %>
                        <p style="margin-top:-10px;margin-bottom:-10px; color:yellow;font-size:25px;font-family:'Spoqa Han Sans Neo', 'sans-serif';">[본] <%=user.strNickname%></p>
                        <% } else if ( user.iClass == 4 ) { %>
                        <p style="margin-top:-10px;margin-bottom:-10px; color:yellow;font-size:25px;font-family:'Spoqa Han Sans Neo', 'sans-serif';">[대]<%=user.strNickname%></p>
                        <% } else if ( user.iClass == 5 ) { %>
                        <p style="margin-top:-10px;margin-bottom:-10px; color:yellow;font-size:25px;font-family:'Spoqa Han Sans Neo', 'sans-serif';">[부]<%=user.strNickname%></p>
                        <% } else if ( user.iClass == 6 ) { %>
                        <p style="margin-top:-10px;margin-bottom:-10px; color:yellow;font-size:25px;font-family:'Spoqa Han Sans Neo', 'sans-serif';">[총]<%=user.strNickname%></p>
                        <% } else if ( user.iClass == 7 ) { %>
                        <p style="margin-top:-10px;margin-bottom:-10px; color:yellow;font-size:25px;font-family:'Spoqa Han Sans Neo', 'sans-serif';">[매]<%=user.strNickname%></p>
                        <% } else { %>
                        <p style="margin-top:-10px;margin-bottom:-10px; color:yellow;font-size:25px;font-family:'Spoqa Han Sans Neo', 'sans-serif';"><%=user.strNickname%></p>
                        <% } %>
                    </li>
                    <% if ( parseInt(user.iClass) < 7 ) { %>
                    <% if ( iHeaderFocus == 0 ) { %>
                        <li class="on">
                    <% } else { %>
                        <li>
                    <% } %>
                            <a href="#" id="manage_partner"><%=__('MenuPartner')%></a>
                        </li>
                    <% } %>

                    <% if ( iHeaderFocus == 1 ) { %>
                        <li class="on">
                    <% } else { %>
                        <li>
                    <% } %>                    
                        <% if ( parseInt(user.iClass) > 2 ) { %>
                        <a href="#" id="manage_user"><%=__('MenuUser')%></a>
                        <% } %>
                    </li>
                    <% if ( iHeaderFocus == 2 ) { %>
                        <li class="on">
                    <% } else { %>
                        <li>
                    <% } %>                    
                        <a href="#" id="manage_inouts"><%=__('MenuInout')%></a>
                    </li>
                    <% if ( iHeaderFocus == 3 ) { %>
                        <li class="on">
                    <% } else { %>
                        <li>
                    <% } %>
                        <% if ( parseInt(user.iClass) > 1 ) { %>
                        <a href="#" id="manage_bettingrecord"><%=__('MenuBettingRecord')%></a>
                        <% } %>
                    </li>
                    
                    <% if ( iHeaderFocus == 5 ) { %>
                        <li class="on">
                    <% } else { %>
                        <li>
                    <% } %>
                        <% if ( parseInt(user.iClass) > 1 ) { %>
                            <a href="#" id="manage_setting"><%=__('MenuBoard')%></a>
                        <% } %>
                    </li>

                    <% if ( parseInt(user.iClass) > 1 && parseInt(user.iClass) <= 7 ) { %>
                        <% if ( iHeaderFocus == 6 ) { %>
                            <li class="on">
                        <% } else { %>
                            <li>
                        <% } %>
                            <% if ( parseInt(user.iClass) >= 1 ) { %>     
                            <a href="#" id="manage_calculation"><%=__('MenuCalculation')%></a>
                            <% } %>
                        </li>
                    <%}%>
                    <% if ( user.iClass >= 4 ) { %>
                        <li>
                            <a href="#" id="manage_change_money" style="border:1px solid rgb(95, 93, 93);border-radius:3px;width:70px;height:25px;text-align:center;background-color: rgb(240, 90, 90);color:white" onclick="OnClickChangeMoney('<%=user.strNickname%>', '<%=user.strGroupID%>', '<%=user.iClass%>');"><%=__('ExchangeMoney')%></a>
                        </li>
                    <% } %>

                    <% if ( user.iClass <= 3 ) { %>
                        <% if ( iHeaderFocus == 7 ) { %>
                        <li class="on">
                            <% } else { %>
                        <li>
                            <% } %>
                            <a href="#" id="manage_contact">관리자 문의</a>
                        </li>
                    <% } %>
                    </li>
                    <% if (parseInt(user.iClass) != 1 && parseInt(user.iClass) <= 3) { %>
                        <% if ( iHeaderFocus == 8 ) { %>
                            <li class="on">
                                <a href="#" id="manage_share" onclick="">지급차감</a>
                            </li>
                        <% } else { %>
                            <li>
                                <a href="#" id="manage_share">지급차감</a>
                            </li>
                        <% } %>
                    <% } %>
                    <li>
                        <p style="margin-top:-15px; margin-bottom:-16px; font-weight:medium; color:rgb(255, 251, 0);font-size:17px;font-family:'Spoqa Han Sans Neo', 'sans-serif';"><%=__('MyCash')%> <span style="color:white;" id="MainLayoutMyCash"><%=parseInt(user.iCash).toLocaleString()%></span></p>
                    </li>
                </ul>
            </nav>
        </header>

    <%- body %>
    <script type="text/javascript" src="js/menu.js"></script>
    <script type="text/javascript" src="js/common_menu.js"></script>
    <script>

        $(document).on('change', '#LanguageSelect', (e)=> {
			const value = $('#LanguageSelect').val();
			console.log(value);

			if ( value == 1 )
			{
				location.href = '/ko';
			}
			else if ( value == 2 )
			{
				location.href = '/jp';
			}
			else if ( value == 3 )
			{
				location.href = '/en';
			}
        })


        $(document).on('click', '.init', (event) => {
            if (user.iClass != 1) {
                alert('권한이 없습니다');
                return;
            }
            var dialog = window.confirm('초기화 하시겠습니까?(유저 정보를 제외한 모든 데이터가 초기화됩니다)');
            if (dialog) {
                $.ajax({
                    url:"/init",
                    type:"POST",
                    dataType: "json",
                    success: function (obj) {

                        alert(obj.string);

                        location.reload();

                    }
                });
            }
        })
        
        $(document).on('click', '.logout', (event) => {
            location.redirect('/account/logout');
        });

        let OnClickInputProcess = () => {

            let user = JSON.parse('<%-JSON.stringify(user)%>');

            let $form = $('<form></form>');
            $form.attr('action', '/manage_inout/charge');
            $form.attr('method', 'post');
            $form.appendTo('body');
            
            let strNickname = $(`<input type="hidden" value="${user.strNickname}" name="strNickname">`);
            let strGroupID = $(`<input type="hidden" value="${user.strGroupID}" name="strGroupID">`);
            let iClass = $(`<input type="hidden" value=${user.iClass} name="iClass">`);
            let iPermission = $(`<input type="hidden" value=${user.iPermission} name="iPermission">`);

            $form.append(strNickname).append(strGroupID).append(iClass).append(iPermission);
            $form.submit();
        }

        let OnClickOutputProcess = () => {
            var user = JSON.parse('<%-JSON.stringify(user)%>');

            var $form = $('<form></form>');
            $form.attr('action', '/manage_inout/exchange');
            $form.attr('method', 'post');
            $form.appendTo('body');
            
            var strNickname = $(`<input type="hidden" value="${user.strNickname}" name="strNickname">`);
            var strGroupID = $(`<input type="hidden" value="${user.strGroupID}" name="strGroupID">`);
            var iClass = $(`<input type="hidden" value=${user.iClass} name="iClass">`);
            var iPermission = $(`<input type="hidden" value=${user.iPermission} name="iPermission">`);

            $form.append(strNickname).append(strGroupID).append(iClass).append(iPermission);
            $form.submit();

        }

        let OnClickLetterProcess = () => {
            
            var user = JSON.parse('<%-JSON.stringify(user)%>');

            var $form = $('<form></form>');
            $form.attr('action', '/manage_setting/letterlistreceive');
            
            $form.attr('method', 'post');
            $form.appendTo('body');
            
            var strNickname = $(`<input type="hidden" value="${user.strNickname}" name="strNickname">`);
            var strGroupID = $(`<input type="hidden" value="${user.strGroupID}" name="strGroupID">`);
            var iClass = $(`<input type="hidden" value=${user.iClass} name="iClass">`);
            var iPermission = $(`<input type="hidden" value=${user.iPermission} name="iPermission">`);

            $form.append(strNickname).append(strGroupID).append(iClass).append(iPermission);
            $form.submit();
        }

        let OnClickLetterReply = () => {

            var user = JSON.parse('<%-JSON.stringify(user)%>');

            var $form = $('<form></form>');
            $form.attr('action', '/manage_setting/letterlistsend');

            $form.attr('method', 'post');
            $form.appendTo('body');

            var strNickname = $(`<input type="hidden" value="${user.strNickname}" name="strNickname">`);
            var strGroupID = $(`<input type="hidden" value="${user.strGroupID}" name="strGroupID">`);
            var iClass = $(`<input type="hidden" value=${user.iClass} name="iClass">`);
            var iPermission = $(`<input type="hidden" value=${user.iPermission} name="iPermission">`);

            $form.append(strNickname).append(strGroupID).append(iClass).append(iPermission);
            $form.submit();

        }

        let OnClickChargeProcess = () => {

            var user = JSON.parse('<%-JSON.stringify(user)%>');

            var $form = $('<form></form>');
            $form.attr('action', '/manage_contact/list_charge_request');

            $form.attr('method', 'post');
            $form.appendTo('body');

            var strNickname = $(`<input type="hidden" value="${user.strNickname}" name="strNickname">`);
            var strGroupID = $(`<input type="hidden" value="${user.strGroupID}" name="strGroupID">`);
            var iClass = $(`<input type="hidden" value=${user.iClass} name="iClass">`);
            var iPermission = $(`<input type="hidden" value=${user.iPermission} name="iPermission">`);

            $form.append(strNickname).append(strGroupID).append(iClass).append(iPermission);
            $form.submit();

        }


        let OnClickContactProcess = () => {

            var user = JSON.parse('<%-JSON.stringify(user)%>');

            var $form = $('<form></form>');
            $form.attr('action', '/manage_contact/list_contact_receive');

            $form.attr('method', 'post');
            $form.appendTo('body');

            var strNickname = $(`<input type="hidden" value="${user.strNickname}" name="strNickname">`);
            var strGroupID = $(`<input type="hidden" value="${user.strGroupID}" name="strGroupID">`);
            var iClass = $(`<input type="hidden" value=${user.iClass} name="iClass">`);
            var iPermission = $(`<input type="hidden" value=${user.iPermission} name="iPermission">`);

            $form.append(strNickname).append(strGroupID).append(iClass).append(iPermission);
            $form.submit();
        }

        let OnClickContactSendReply = () => {

            var user = JSON.parse('<%-JSON.stringify(user)%>');

            var $form = $('<form></form>');
            $form.attr('action', '/manage_contact/list_contact_send');

            $form.attr('method', 'post');
            $form.appendTo('body');

            var strNickname = $(`<input type="hidden" value="${user.strNickname}" name="strNickname">`);
            var strGroupID = $(`<input type="hidden" value="${user.strGroupID}" name="strGroupID">`);
            var iClass = $(`<input type="hidden" value=${user.iClass} name="iClass">`);
            var iPermission = $(`<input type="hidden" value=${user.iPermission} name="iPermission">`);

            $form.append(strNickname).append(strGroupID).append(iClass).append(iPermission);
            $form.submit();
        }

    </script>
    <%- script %>

</div>

</body>
</html>
<% } %>

