<div class="search_wrap">
    <div class="container clearfix">
        <p style="background-repeat:no-repeat; background-position:left center; font-size:20px; color:#454545; padding-left:22px;margin-top:10px;height:30px;margin-bottom:5px;">
            지분자 목록
        </p>
        <div id="share_buttons">
        </div>
        <div style="background-color:#ffffff;text-align:right;padding-right:5px;padding-top:0px;padding-bottom:0px;" colspan="19">
            <select id="quater_month" style="width:100px;">
                <option value="0">1</option>
                <option value="1">2</option>
                <option value="2">3</option>
                <option value="3">4</option>
                <option value="4">5</option>
                <option value="5">6</option>
                <option value="6">7</option>
                <option value="7">8</option>
                <option value="8">9</option>
                <option value="9">10</option>
                <option value="10">11</option>
                <option value="11">12</option>
            </select>월
            <button id="button_quater1" class="menu1" data-menu="2" style="border:1px solid rgb(95, 93, 93);width:170px;height:25px;text-align:center;color:white" onclick="Request1stHalf();"><%=__('Half1')%></button>
            <button id="button_quater2" class="menu1" data-menu="3" style="border:1px solid rgb(95, 93, 93);width:170px;height:25px;text-align:center;color:white" onclick="Request2ndHalf();"><%=__('Half2')%></button>
            <% if (user.iPermission != 100) { %>
                <button id="button_share_regist" class="button_blue" data-menu="2" style="border:1px solid rgb(95, 93, 93);width:130px;height:25px;text-align:center;color:white" onclick="OnClickRegisterShare('<%=user.strNickname%>', '<%=user.strGroupID%>', '<%=user.iClass%>');">지분자등록</button>
            <% } %>
            <div id="testSettle" style="background-color:#ffffff;text-align:right;padding-right:5px;padding-top:0px;padding-bottom:0px;" colspan="19">
            </div>
        </div>

        <div class="list">
            <div class="search_wrap" id="div_realtimebet">
                <table class="search_list">
                    <caption><%=__('SearchResult')%></caption>
                    <colgroup>
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:23%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">본사</th>
                        <th scope="col">지분자</th>
                        <th scope="col">순이익</th>
                        <th scope="col">슬롯 알값</th>
                        <th scope="col">수금</th>
                        <th scope="col">합계</th>
                        <th scope="col">지분율%</th>
                        <th scope="col">배당금</th>
                        <th scope="col">전월 이월 금액</th>
                        <th scope="col">입출전 금액</th>
                        <th scope="col">입출후 금액</th>
                        <th scope="col" >비고</th>
                    </tr>
                    </thead>
                    <tbody id="list_agents">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="js/constants.js"></script>
<script type="text/javascript" src="js/enum.js"></script>
<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript" src="js/manage_partner_popup_menu.js"></script>
<script type="text/javascript" src="js/manage_inout_ref.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/common_menu.js"></script>
<script type="text/javascript">
    let agent = JSON.parse('<%-JSON.stringify(agent)%>');
    let user = JSON.parse('<%-JSON.stringify(user)%>');
    let list = JSON.parse('<%-JSON.stringify(list)%>');
    let strQuater = '';
    let dateQuaterStart = '';
    let dateQuaterEnd = '';
    let selectQuaterMonth = '';
    let selectQuater = 0;
    let shareList = [];

    DatePicker();

    let date = new Date();

    $('#quater_month').on('change', () => {
        $('#button_quater1').attr('class', 'menu1');
        $('#button_quater2').attr('class', 'menu1');
    });

    $(document).ready( ()=> {
        $('#quater_month').val(date.getMonth());
        selectQuaterMonth = date.getMonth();

        SetList(list, false);
    });

    $(document).on('click', '#button_quater1', (e) => {
        let iMonth = parseInt($('#quater_month').val());
        // if (!ValidationSettleHalf1(iMonth)) {
        // 	$(e.currentTarget).attr('class', 'menu1');
        // 	alert('현재 해당 분기는 조회할 수 없습니다(16일부터 가능합니다)');
        // 	return;
        // }
        $('.menu5').attr('class', 'menu1');
        $(e.currentTarget).attr('class', 'menu5');
    });

    $(document).on('click', '#button_quater2', (e) => {
        let iMonth = parseInt($('#quater_month').val());
        // if (!ValidationSettleHalf2(iMonth)) {
        // 	$(e.currentTarget).attr('class', 'menu1');
        // 	alert('현재 해당 분기는 조회할 수 없습니다(1일부터 가능합니다)');
        // 	return;
        // }
        $('.menu5').attr('class', 'menu1');
        $(e.currentTarget).attr('class', 'menu5');
    });

    let SetList = (list, enable) => {
        console.log('SetList');
        console.log(list);
        console.log(list.length);

        $(`#share_buttons`).empty();
        if (enable) {
            $('#share_buttons').append(
                `
            <h3>지분 정산
                <% if (user.iPermission != 100) { %>
                    <button id='button_changeshare' style="margin-left:8%;width:200px;height:40px;text-align:center;background-color: rgb(82, 161, 206);color:white" onclick="javascript:DoApplyShare();"><strong>지분율 적용</strong></button>
                    <button id='button_applyshare' style="margin-left:300px;width:200px;height:40px;text-align:center;background-color: rgb(218, 107, 107);color:white" onclick="javascript:RequestApplyShare();"><strong>지분 지급</strong></button>
                <% } %>
            </h3>
            `
            );
        }

        $(`#list_tit`).empty();

        $("#list_agents").empty();
        if (list.length > 0) {
            shareList = [];
            for (var i = 0; i<list.length; i++) {
                let aObject = list[i];

                let parentNickname = aObject.parentNickname ?? '';
                let strNickname = aObject.strNickname ?? '';
                let iShareOrgin = parseInt(aObject.iShareOrgin ?? '0'); // 순이익
                let iSlotCommission = parseInt(aObject.iSlotCommission ?? 0);
                let iPayback = parseInt(aObject.iPayback ?? 0);
                let iSum = iShareOrgin + iSlotCommission + iPayback;
                let fShareR = parseInt(aObject.fShareR ?? 0); // 지분율
                let iShare = parseInt(aObject.iShare ?? 0); // 배당금
                if (enable) {
                    iSlotCommission = -parseInt(aObject.iSWinlose ?? 0) * 0.1; // 슬롯 알값(슬롯 죽장이 0일 경우 슬롯에 대한 수수료를 지분자들이 부담)
                    iSum = iShareOrgin + iSlotCommission + iPayback;
                    // 서버 전송용
                    aObject.iSlotCommission = iSlotCommission;
                    aObject.iSum = iSum;
                    aObject.iShare = 0; // 배당금은 서버에서 계산 처리
                } else {
                    aObject.iSum = iSum;
                }

                let iShareAccBefore = parseInt(aObject.iShareAccBefore ?? 0); // 전월 이월금액
                let iCreditBefore = parseInt(aObject.iCreditBefore ?? 0); // 가불전 금액(배당금 + 전월 이월 금액)
                let iCreditAfter = parseInt(aObject.iCreditAfter ?? 0); // 가불후 금액

                let tagoption = 'disabled="disabled"';
                if (enable) {
                    tagoption = '';
                }

                console.log(aObject);
                $('#list_agents').append(`
                    <tr class="Share" id=${aObject.strNickname}>
                        <td id='agent_${strNickname}'>${parentNickname}</td>
                        <% if (user.iPermission != 100) { %>
                            <td id='strNickname_${strNickname}'><a style="color:blue;" href='#' onclick="OnClickNickname('${strNickname}')";>${strNickname}</a></td>
                        <% } else { %>
                            <td id='strNickname_${strNickname}'>${strNickname}</td>
                        <% } %>
                        <td id='iShareOrgin_${strNickname}' style="font-size: 12px; padding: 10px; line-height: 1.5;">
                            <label id='iShareOrgin_${strNickname}' for="mile_sect_cash_2" style="font-size:12px;">${GetNumberSign(iShareOrgin, '0')}</label>
                        </td>
                        <td id='iShareCommision_${strNickname}' style="font-size: 12px; padding: 10px; line-height: 1.5;">
                            <label id='iShareCommisionS_${strNickname}' for="mile_sect_cash_2" style="font-size:12px;">${GetNumberSign(iSlotCommission, '0')}</label>
                        </td>
                        <td id='iSharePayback_${strNickname}' style="font-size: 12px; padding: 10px; line-height: 1.5;">
                            <label id='iSharePayback_${strNickname}' for="mile_sect_cash_2" style="font-size:12px;">${GetNumberSign(iPayback, '0')}</label>
                        </td>
                        <td id='iShareTotal_${strNickname}' style="font-size: 12px; padding: 10px; line-height: 1.5;">
                            <label id='iShareTotal_${strNickname}' for="mile_sect_cash_2" style="font-size:12px;">${GetNumberSign(iSum, '0')}</label>
                        </td>
                        <td style="font-size: 12px; padding: 10px; line-height: 1.5;">
                            <input type="number" style="width:50%;" name="bakara_over_31" id="fShareR_${aObject.strNickname}" required="no" message="지분" value=${aObject.fShareR} ${tagoption}>%
                        </td>
                        <td id='iShare_${strNickname}' style="font-size: 12px; padding: 10px; line-height: 1.5;">
                            <label id='iShare_${strNickname}' for="mile_sect_cash_2" style="font-size:12px;">${GetNumberSign(iShare, '0')}</label>
                        </td>
                        <td id='iShareAccBefore_${strNickname}'>${GetNumberSign(iShareAccBefore)}</td>
                        <td id='iCreditBefore_${strNickname}'>${GetNumberSign(iCreditBefore, '0')}</td>
                        <td id='iCreditAfter_${strNickname}'>${GetNumberSign(iCreditAfter, '0')}</td>
                        <% if (user.iPermission != 100) { %>
                            <td>
                                <input type="radio" name="${aObject.strID}_mile_sect" required="yes" message="구분" value="M" id="share_type_1">
                                <label for="mile_sect_cash_1" style="color:red;font-size:15px;">가불</label>
                                <input type="radio" name="${aObject.strID}_mile_sect" required="yes" message="구분" value="P" id="share_type_2">
                                <label for="mile_sect_cash_2" style="color:blue;font-size:15px;">적립</label>
                                <input style='width:30%;' type='number' id="iIncrease_${strNickname}" value=''>&nbsp;&nbsp;
                                메모 : <input style='width:30%;' type='text' id="sharememo_${strNickname}" value=''>
                                <button style='color:white;' class='menu4' onclick='OnClickShareApply("${aObject.strID}", "${strNickname}");'>적용</button>
                            </td>
                        <% } else { %>
                            <td>
                            </td>
                        <% } %>
                    </tr>
                `);

                checkBlockNum(`#fShareR_${aObject.strNickname}`);
                checkBlockNum(`#iIncrease_${strNickname}`);
                checkBlockCharSpecial2(`#sharememo_${strNickname}`);


                shareList.push(aObject);

            }

            // total
            let strIDs = [];
            let data = {strID:'', iShareOrgin:0, iSlotCommission:0, iSum:0, iShare:0, iShareAccBefore: 0, iCreditBefore: 0, iCreditAfter: 0, iPayback: 0};
            for (let i in shareList) {
                let strID = shareList[i].strID;
                if (strIDs.includes(strID)) {
                    continue;
                }
                strIDs.push(strID);
                data.iShareOrgin += parseInt(shareList[i].iShareOrgin ?? 0);
                data.iSlotCommission += parseInt(shareList[i].iSlotCommission ?? 0);
                data.iSum += parseInt(shareList[i].iSum ?? 0);
                if (!enable) {
                    data.iShare += parseInt(shareList[i].iShare ?? 0);
                }
                data.iShareAccBefore += parseInt(shareList[i].iShareAccBefore ?? 0);
                data.iCreditBefore += parseInt(shareList[i].iCreditBefore ?? 0);
                data.iCreditAfter += parseInt(shareList[i].iCreditAfter ?? 0);
                data.iPayback += parseInt(shareList[i].iPayback ?? 0);
            }
            $('#list_agents').append(`
                    <tr class="Total" style="font-weight: bold">
                        <td colspan="2">합계</td>
                        <td>${GetNumberSign(data.iShareOrgin, '0')}</td>
                        <td>${GetNumberSign(data.iSlotCommission, '0')}</td>
                        <td>${GetNumberSign(data.iPayback, '0')}</td>
                        <td>${GetNumberSign(data.iSum, '0')}</td>
                        <td></td>
                        <td>${GetNumberSign(data.iShare, '0')}</td>
                        <td>${GetNumberSign(data.iShareAccBefore)}</td>
                        <td>${GetNumberSign(data.iCreditBefore, '0')}</td>
                        <td>${GetNumberSign(data.iCreditAfter, '0')}</td>
                        <td></td>
                    </tr>
                `);
        } else {
            console.log('else');
            $('#list_agents').append(`
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            `);
        }


    }

    // 지분자 비율 적용
    let DoApplyShare = () => {
        var list = [];
        var totalR = 0;
        var agents = document.querySelectorAll("tr[class=Share]");
        for (var i = 0; i < agents.length; i++)
        {
            const element = agents[i];

            let strNickname = element.id;
            let fShareR = parseFloat($(`#fShareR_${element.id}`).val());
            list.push(strNickname);
            list.push(fShareR);

            totalR = totalR + fShareR;
        }

        if (totalR > 100) {
            alert('지분율은 100%를 넘을 수 없습니다');
            return;
        }

        $.ajax({
            url:'/manage_share/request_modify_share_group',
            type:"POST",
            data: {
                data: JSON.stringify(list)
            },
            dataType: "json",
            success: function (obj) {

                if ( obj.result == 'OK')
                {
                    alert(obj.msg);
                    RequestShareList();
                }
                else
                {
                    alert(obj.msg);
                }
            }
        });
    }

    // 지분 지급
    let RequestApplyShare = () => {

        if (strQuater == '' || strQuater == undefined) {
            alert('분기를 선택해주세요');
            return;
        }

        var list = [];
        var credits = [];

        for (let i in shareList) {
            let obj = shareList[i];
            let iShareOrgin = obj.iShareOrgin ?? 0;
            let iSlotCommission = obj.iSlotCommission ?? 0;
            let iPayback = obj.iPayback ?? 0;
            let iSum = obj.iSum ?? 0;
            let fShareR = obj.fShareR ?? 0;
            let iShare = obj.iShare ?? 0;
            let iShareAccBefore = obj.iShareAccBefore  ?? 0;

            list.push(obj.strNickname);
            list.push(iShareOrgin);
            list.push(iSlotCommission)
            list.push(iPayback)
            list.push(iSum);
            list.push(fShareR);
            list.push(iShare);
            list.push(iShareAccBefore);
        }

        $.ajax({
            url:'/manage_share/request_share_apply',
            type:"POST",
            data: {
                data: JSON.stringify(list),
                strID: user.strID,
                strGroupID: user.strGroupID,
                strQuater: strQuater,
            },
            dataType: "json",
            success: function (obj) {

                if ( obj.result == 'OK')
                {
                    alert(obj.msg);
                    RequestShareList();
                    // location.reload();
                }
                else
                {
                    alert(obj.msg);
                }
            }
        });
    }

    let OnClickShareApply = (strID, strNickname) => {
        let type = $(`input[name="${strID}_mile_sect"]:checked`).val();
        let iIncrease = $(`#iIncrease_${strNickname}`).val();
        iIncrease = parseInt(iIncrease);

        if (iIncrease <= 0) {
            alert('가불액을 확인해주세요');
            return;
        }

        if (type != 'M' && type != 'P') {
            alert('가불/적립 여부를 선택해주세요');
            return;
        }

        if (type == 'M') {
            iIncrease = -iIncrease;
        }

        let strMemo = $(`#sharememo_${strNickname}`).val();
        strMemo = strMemo.replace(/(\n|\r\n)/g, '<br>');

        $.ajax({
            url:'/manage_share/request_share_credit_apply',
            type:"POST",
            data: {
                strNickname: strNickname,
                strID: user.strID,
                strGroupID: user.strGroupID,
                iIncrease: iIncrease,
                writer: user.strNickname,
                strMemo: strMemo,
            },
            dataType: "json",
            success: function (obj) {

                if ( obj.result == 'OK')
                {
                    alert(obj.msg);
                    location.reload();
                }
                else
                {
                    alert(obj.msg);
                }
            }
        });
    }

    let Request1stHalf = () => {
        let iMonth = parseInt($('#quater_month').val());
        dateQuaterStart = Get1QuaterStartDate(iMonth);
        dateQuaterEnd = Get1QuaterEndDate(iMonth);
        strQuater = `${parseInt(iMonth)+1}-1`;
        selectQuater = 1;
        RequestShareList();
    }

    let Request2ndHalf = () => {
        let iMonth = parseInt($('#quater_month').val());
        dateQuaterStart = Get2QuaterStartDate(iMonth);
        dateQuaterEnd = Get2QuaterEndDate(iMonth);
        strQuater = `${parseInt(iMonth)+1}-2`;
        selectQuater = 2;
        RequestShareList();
    }

    let RequestShareList = () => {

        $.ajax({
            url:'/manage_share/request_share_list',
            type:"POST",
            data: {
                strID:user.strID,
                strGroupID: user.strGroupID,
                strNickname:user.strNickname,
                dateStart: dateQuaterStart,
                dateEnd: dateQuaterEnd,
                strQuater:strQuater,
                iMonth: selectQuaterMonth,
                iQuater: selectQuater,
            },
            dataType: "json",
            success: function (obj) {
                console.log(obj);
                // 해당 분기 죽장 완료 여부 체크
                if ( obj.result == 'OK')
                {
                    SetList(obj.list, obj.enable);
                }
                else
                {
                    alert(obj.msg);
                }
            }
        });
    }

    let OnClickNickname = (strNickname) => {
        console.log(`OnClickRegisterShare : ${strNickname}`);
        window.open('', 'popupChkRegisterShareUser', 'width=1000, height=250, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
        let $form = $('<form></form>');
        $form.attr('action', '/manage_share/popup_view_share_user');
        $form.attr('method', 'post');
        $form.attr('target', 'popupChkRegisterShareUser');
        $form.appendTo('body');
        let idx = $(`<input type="hidden" value="${strNickname}" name="strNickname">`);
        $form.append(idx);
        $form.submit();
    }


    let OnClickRegisterShare = (strNickname, strGroupID, iClass) => {
        window.open('', 'popupChkRegisterShareUser', 'width=1000, height=250, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
        let $form = $('<form></form>');
        $form.attr('action', '/manage_share/popup_registershare');
        $form.attr('method', 'post');
        $form.attr('target', 'popupChkRegisterShareUser');
        $form.appendTo('body');

        let id = $(`<input type="hidden" value="${strID}" name="strID">`);
        let idx = $(`<input type="hidden" value="${strNickname}" name="strNickname">`);
        let page = $(`<input type="hidden" value="${strGroupID}" name="strGroupID">`);
        let category = $(`<input type="hidden" value=${parseInt(iClass)} name="iClass">`);

        $form.append(idx).append(page).append(category).append(id);
        $form.submit();
    }

</script>