<div class="sub_wrap">
	<div class="container clearfix">
		<div class="content" style="position:relative; padding:0 10px 0 10px;">

			<ul class="list_tab" style="float:right; margin-right:10px; position:relative; z-index:10;">
				<% if ( parseInt(user.iClass) <= 2 && user.iPermission != 100 ) { %>
					<a href="#" id="setting_odds" iAgentClass="3" class="btn_red">일괄 수정</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#" id="register_agent" iAgentClass="3" class="btn_gray">본사등록</a>
					<a href="#" id="register_agent_view" iAgentClass="3" class="btn_gray">본사등록(보기용)</a>
					<a href="#" id="popup_overview_logs" class="btn_gray">정산데이터 상세 조회(임시)</a>
				<% } %>
			</ul>


			<ul class="list_tab" style="margin-bottom:10px;width:75%;z-index:10000;" id="partner_header">
			</ul>
		</div>

		<div class="search_wrap" id="div_realtimebet_overview">
		</div>

		<div class="list">

			<div id="search_date">
			</div>

			<div class="search_wrap" id="div_realtimebet_overview_record">
			</div>

			<!-- <br> -->

			<div class="list_tit">
				<h3><%=__('SubMenuAdminList')%></h3><p style="margin-top:-35px; float:right; color: white; font-weight: bold; font-size: 15px;"><%=user.strPartnerInfo%></p>
			</div>


			<div class="search_wrap" id="div_realtimebet">

				<!-- <table class="search_list" style='font-family:"Consalas", Consalas, monospace; font-size:95%'> -->
				<table class="search_list">
					<caption><%=__('SearchResult')%></caption>
					<colgroup>
						<col style="width:2%">
						<col style="width:2%">
						<col style="width:2%">
						<col style="width:2%">
						<col style="width:2%">
						<col style="width:6%">
						<col style="width:6%">

						<col style="width:7%;">
						<col style="width:7%;">
						<col style="width:7%;">
						<col style="width:7%;">
						<col style="width:7%;">
						<col style="width:7%;">

						<col style="width:6%">
						<col style="width:6%">
						<col style="width:5%;">
						<% if ( user.iClass <= 3 && user.iPermission != 100 ) {%>
							<col style="width:8%;">
							<col style="width:5%;">
						<% } %>
					</colgroup>
					<thead>
					<tr>
						<th scope="col"><%=__('ProAdmin')%></th>
						<th scope="col"><%=__('ViceAdmin')%></th>
						<th scope="col"><%=__('Agent')%></th>
						<th scope="col"><%=__('Shop')%></th>
						<th scope="col"><%=__('User')%></th>
						<th scope="col"><%=__('ID')%></th>
						<th scope="col"><%=__('Nickname')%></th>

						<th scope="col"><%=__('Input')%></th>
						<th scope="col"><%=__('Output')%></th>
						<th scope="col"><%=__('MyCoin')%></th>
						<th scope="col"><%=__('WinLose')%></th>
						<th scope="col"><%=__('Rolling')%></th>
						<th scope="col"><%=__('Total')%></th>

						<th scope="col">미전환롤링</th>
						<th scope="col">미전환죽장</th>

						<th scope="col"><%=__('Admin')%> <%=__('MyCoin')%></th>
						<th scope="col"><%=__('State')%></th>
						<% if ( user.iClass <= 3 && user.iPermission != 100 ) {%>
						<th scope="col"><%=__('ShortCut')%></th>
						<th scope="col"><%=__('Remove')%></th>
						<% }%>
					</tr>
					</thead>
					<tbody id="vadmin_list">

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<style>
	.clicked_menu{
		color: red;
	}
</style>
<script>
	$('.search_btn').each(function(index){
		$(this).attr('search_btn-index', index);
	}).click(function(){
		/*클릭된 <div>의 menu-index 값을 index 변수에 할당한다.*/
		var index = $(this).attr('search_btn-index');
		/*클릭한 <div>에  clicked_menu 클래스 추가*/
		$('.search_btn[search_btn-index=' + index + ']').addClass('clicked_menu');
		/*그 외 <div>는  clicked_menu 클래스 삭제*/
		$('.search_btn[search_btn-index!=' + index + ']').removeClass('clicked_menu');
	});

	$(document).on('click', '.menu1', (e) => {

		$('.menu5').attr('class', 'menu1');

		$(e.currentTarget).attr('class', 'menu5');
	});

</script>
<script type="text/javascript" src="js/enum.js"></script>
<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript" src="js/manage_partner_menu.js"></script>
<script type="text/javascript" src="js/manage_partner_ref.js"></script>
<script type="text/javascript" src="js/manage_partner_register.js"></script>
<script type="text/javascript" src="js/manage_search_date.js"></script>
<script type="text/javascript" src="js/block_modal.js"></script>
<script type="text/javascript" src="js/socket.js"></script>
<script>

	let user = JSON.parse('<%-JSON.stringify(user)%>');
	let objectOverview = JSON.parse('<%-JSON.stringify(data.overview)%>');
	let objectVA = JSON.parse('<%-JSON.stringify(data.agents)%>');
	let agentinfo = JSON.parse('<%-JSON.stringify(agentinfo)%>');
	let iocount = JSON.parse('<%-JSON.stringify(iocount)%>');

	var i18nTexts = {
        Search: "<%=__('Search')%>",
        Today : "<%=__('Today')%>",
        Half1: "<%=__('Half1')%>",
        Half2: "<%=__('Half2')%>",
        Open: "<%=__('Open')%>",
		Nickname: "<%=__('Nickname')%>",
    };

	const cTClass	= parseInt(user.iClass);
	let bClickDateSelection = false;
	let bToggleRecord = false;

	let startDate = GetCurrentDate();
	let endDate = GetCurrentDate();


	$(document).on('click', '.menu1', (e) => {

		$('.menu5').attr('class', 'menu1');

		$(e.currentTarget).attr('class', 'menu5');
	});

	$(document).ready(() => {
		SetSeachButtons("#search_date",0,i18nTexts,user,3);

		$("#table_record_list").hide();

		Alert(iocount, "<%=__('RequestInput')%>", "<%=__('RequestOutput')%>","<%=__('LetterSend')%>");

		SetPartnerHeader(3, user.iClass);

		Init("#vadmin_list");
		SetOverview(objectOverview, "#div_realtimebet_overview", true);
		SetAdminList(EAgent.eAdmin, "#vadmin_list", objectVA, user.iPermission);
		
		DatePicker();

		$('#datepicker1').val(startDate);
		$('#datepicker2').val(endDate);
	});

	function OnClickRecord()
	{
		bToggleRecord = !bToggleRecord;
		if ( bToggleRecord ) {
			$("#table_record_list").show();
			$("#button_toggle_record").text("닫기");
		} else {
			$("#table_record_list").hide();
			$("#button_toggle_record").text(strOpen);
		}
		RequestBettingDayList();
	}

	let OnClickDayPeriod = (startDay) => {
		startDate = GetDateStart(startDate, startDay);
		endDate = GetDateEnd(endDate, startDay+4);

		$('#datepicker1').val(startDate);
		$('#datepicker2').val(endDate);

		bToggleRecord = false;
		$("#table_record_list").hide();
		$("#button_toggle_record").text(strOpen);

		RequestOverview(cTClass, user.strGroupID, user.iClass, user.iPermission, user.strNickname, user.strID);
		RequestAdminList(EAgent.eAdmin, user.strGroupID, user.iClass, user.iPermission);
		// RequestBettingDayList();
	}

	let OnClickTodayRecord = () => {
		startDate = GetCurrentDate();
		endDate = GetCurrentDate();

		$('#datepicker1').val(startDate);
		$('#datepicker2').val(endDate);

		bToggleRecord = false;
		$("#table_record_list").hide();
		$("#button_toggle_record").text(strOpen);

		RequestOverview(cTClass, user.strGroupID, user.iClass, user.iPermission, user.strNickname, user.strID);
		RequestAdminList(EAgent.eAdmin, user.strGroupID, user.iClass, user.iPermission);
		// RequestBettingDayList();
	}

	let OnClickYesterdayRecord = () => {
		startDate = GetCurrentDateBefore(1);
		endDate = GetCurrentDateBefore(1);

		$('#datepicker1').val(startDate);
		$('#datepicker2').val(endDate);

		bToggleRecord = false;
		$("#table_record_list").hide();
		$("#button_toggle_record").text(strOpen);

		RequestOverview(cTClass, user.strGroupID, user.iClass, user.iPermission, user.strNickname, user.strID);
		RequestAdminList(EAgent.eAdmin, user.strGroupID, user.iClass, user.iPermission);
		// RequestBettingDayList();
	}

	let OnClickMonthly1stRecord = () => {
		startDate = GetMonthly1stStartDate();
		endDate = GetMonthly1stEndDate();

		$('#datepicker1').val(startDate);
		$('#datepicker2').val(endDate);

		bToggleRecord = false;
		$("#table_record_list").hide();
		$("#button_toggle_record").text(strOpen);

		RequestOverview(cTClass, user.strGroupID, user.iClass, user.iPermission, user.strNickname, user.strID);
		RequestAdminList(EAgent.eAdmin, user.strGroupID, user.iClass, user.iPermission);
		// RequestBettingDayList();
	}

	let OnClickMonthly2ndRecord = () => {
		startDate = GetMonthly2ndStartDate();
		endDate = GetMonthly2ndEndDate();

		$('#datepicker1').val(startDate);
		$('#datepicker2').val(endDate);

		bToggleRecord = false;
		$("#table_record_list").hide();
		$("#button_toggle_record").text(strOpen);

		RequestOverview(cTClass, user.strGroupID, user.iClass, user.iPermission, user.strNickname, user.strID);
		RequestAdminList(EAgent.eAdmin, user.strGroupID, user.iClass, user.iPermission);
		// RequestBettingDayList();
	}

	let OnClickSearch = (iTargetClass, strGroupID, iClass, iPermission) => {
		bToggleRecord = false;
		$("#table_record_list").hide();
		$("#button_toggle_record").text(strOpen);

		RequestOverview(cTClass, strGroupID, iClass, iPermission, user.strNickname, user.strID);
		RequestAdminList(iTargetClass, strGroupID, iClass, user.iPermission);
		// RequestBettingDayList();
	}

	let RequestBettingDayList = () => {
		if (bToggleRecord) {
			RequestBettingRecord(cTClass, user.strGroupID, user.iClass, user.strID);
		}
	}

	let OnClickSearchNickname = () => {
		bToggleRecord = false;
		$("#table_record_list").hide();
		$("#button_toggle_record").text(strOpen);

		RequestAdminList(EAgent.eAdmin, user.strGroupID, user.iClass, user.iPermission);
		// RequestBettingDayList();
	}
</script>
