<div class="sub_wrap">
	<div class="container clearfix">

		<ul class="list_tab" style="float:right; margin-right:10px; position:relative; z-index:10;">
			<a href="#" id="register_agent" iAgentClass="4" class="btn_gray"><%=__('ProAdmin')%><%=__('Register')%></a>
			<a href="#" id="register_agent" iAgentClass="5" class="btn_gray"><%=__('ViceAdmin')%><%=__('Register')%></a>
			<a href="#" id="register_agent" iAgentClass="6" class="btn_gray"><%=__('Agent')%><%=__('Register')%></a>
			<a href="#" id="register_agent" iAgentClass="7" class="btn_gray"><%=__('Shop')%><%=__('Register')%></a>
			<a href="#" id="register_agent" iAgentClass="8" class="btn_gray"><%=__('User')%><%=__('Register')%></a>
		</ul>


		<div class="content" style="position:relative; padding:0 10px 0 10px;">
			<ul class="list_tab" style="margin-bottom:10px;width:75%;z-index:10000;" id="partner_header">
			</ul>
		</div>

		
		<div class="list">
			<div id="search_date">
			</div>
		
			<div class="list_tit">
				<h3><%=__('SubMenuProAdminList')%>

					<% if ( user.iRootClass <= 3 && user.iPermission != 100 ) { %>
					<button class="btn_blue" style="margin-left:15%;width:200px;text-align:center;background-color: #f0d17e;color:black" onclick="javascript:DoApplyRolling(user);"><%=__('Rolling')%>/<%=__('Settle')%> <%=__('Apply')%></button>
					<%}%>
				</h3>
			</div>
	
			<div class="search_wrap" id="div_realtimebet">
	
				<table class="search_list">
					<caption><%=__('SearchResult')%></caption>
					<colgroup>
						<col style="width:2%">
						<col style="width:2%">
						<col style="width:2%">
						<col style="width:2%">
						<col style="width:3%">
						<col style="width:4%">

						<col style="width:4%">
						<col style="width:4%">
						<col style="width:4%">
						<col style="width:4%">
						<col style="width:4%">

						<col style="width:7%;">
						<col style="width:7%;">
						<col style="width:7%;">
						<col style="width:7%;">
						<col style="width:7%;">
						<col style="width:7%;">

						<col style="width:6%">
						<col style="width:6%">
						<col style="width:6%;">
						<% if (user.iRootClass <= 3 && user.iPermission != 100) { %>
							<col style="width:6%;">
						<% } %>
						<col style="width:6%;">

						<col style="width:3%;">
						<% if (user.iRootClass <= 3 && user.iPermission != 100) {%>
							<col style="width:3%;">
							<col style="width:3%;">
						<% } %>
					</colgroup>
					<thead>
						<tr>
							<th scope="col"><%=__('ViceAdmin')%></th>
							<th scope="col"><%=__('Agent')%></th>
							<th scope="col"><%=__('Shop')%></th>
							<th scope="col"><%=__('User')%></th>
							<th scope="col"><%=__('ID')%></th>
							<th scope="col"><%=__('Nickname')%></th>

							<th scope="col" style="background-color:#f0d17e;color:black;"><%=__('Slot')%></th>
							<th scope="col" style="background-color:#f0d17e;color:black;"><%=__('Baccarat')%></th>
							<th scope="col" style="background-color:#f0d17e;color:black;"><%=__('UnderOver')%></th>
							<th scope="col" style="background-color:#f0d17e;color:black;">바카라<br>죽장</th>
							<th scope="col" style="background-color:#f0d17e;color:black;">슬롯<br>죽장</th>

							<th scope="col"><%=__('Input')%></th>
							<th scope="col"><%=__('Output')%></th>
							<th scope="col"><%=__('MyCoin')%></th>
							<th scope="col"><%=__('WinLose')%></th>
							<th scope="col"><%=__('Rolling')%></th>
							<th scope="col"><%=__('Total')%></th>

							<th scope="col">롤링</th>
							<th scope="col">미전환롤링</th>
							<th scope="col">미전환죽장</th>
							<% if (user.iRootClass <= 3 && user.iPermission != 100) { %>
								<th scope="col"><%=__('TemporaryModify')%></th>
							<% } %>
							<th scope="col">관리자 <%=__('MyCoin')%></th>

							<th scope="col"><%=__('State')%></th>
							<% if (user.iRootClass <= 3 && user.iPermission != 100) { %>
								<th scope="col"><%=__('ShortCut')%></th>
								<th scope="col"><%=__('Remove')%></th>
							<% } %>
						</tr>
					</thead>
					<tbody id="vadmin_list">

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="js/enum.js"></script>
<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/manage_partner_menu.js"></script>
<script type="text/javascript" src="js/manage_partner_ref.js"></script>
<script type="text/javascript" src="js/manage_partner_register.js"></script>
<script type="text/javascript" src="js/manage_setting_ref.js"></script>
<script type="text/javascript" src="js/manage_inout_ref.js"></script>
<script type="text/javascript" src="js/manage_search_date.js"></script>
<script type="text/javascript" src="js/block_modal.js"></script>
<script type="text/javascript" src="js/socket.js"></script>
<script>

	let user = JSON.parse('<%-JSON.stringify(user)%>');
	let objectOverview = JSON.parse('<%-JSON.stringify(data.overview)%>');
	let objectVA = JSON.parse('<%-JSON.stringify(data.agents)%>');
	let agentinfo = JSON.parse('<%-JSON.stringify(agentinfo)%>');
	let iocount = JSON.parse('<%-JSON.stringify(iocount)%>');

	var i18nTexts = {
        Search: "<%=__('Search')%>",
        Today : "<%=__('Today')%>",
        Half1: "<%=__('Half1')%>",
        Half2: "<%=__('Half2')%>",
        Open: "<%=__('Open')%>",
		Nickname: "<%=__('Nickname')%>",
    };

    let startDate = GetCurrentDate();
	let endDate = GetCurrentDate();

	$(document).on('click', '.menu1', (e) => {

		$('.menu5').attr('class', 'menu1');

		$(e.currentTarget).attr('class', 'menu5');
	});

	let bClickDateSelection = false;
	let bToggleRecord = false;
	const cTClass = parseInt(user.iClass);

	$(document).ready(() => {
		SetSeachButtons("#search_date",1,i18nTexts,user,4);
		
		$("#table_record_list").hide();
		
		DatePicker();

		$('#datepicker1').val(GetCurrentDate());
		$('#datepicker2').val(GetCurrentDate());

		Alert(iocount, "<%=__('RequestInput')%>", "<%=__('RequestOutput')%>","<%=__('LetterSend')%>");

		SetPartnerHeader(4, cTClass);

		Init("#vadmin_list");

		RequestAgentList(EAgent.eProAdmin, user.strGroupID, user.iClass);
	});

	function OnClickMonthlyRecord()
	{
		bToggleRecord = !bToggleRecord;

		if ( bToggleRecord ) {
			$("#table_record_list").show();
			$("#button_toggle_record").text("닫기");
			
			if ( false == bClickDateSelection )
			{
				startDate = GetMonthlyStartDate();
				endDate = GetMonthlyEndDate();
				$('#datepicker1').val(startDate);
				$('#datepicker2').val(endDate);
			}

			RequestBettingRecord(cTClass, user.strGroupID, user.iClass, user.strID);
		}
		else {
			$("#table_record_list").hide();
			$("#button_toggle_record").text(strOpen);
		}
	}

	let OnClickTodayRecord = () => {
		startDate = GetCurrentDate();
		endDate = GetCurrentDate();

		$('#datepicker1').val(startDate);
		$('#datepicker2').val(endDate);
		
		bToggleRecord = true;
		$("#button_toggle_record").text("닫기");

		bClickDateSelection	= true;
		RequestAgentList(EAgent.eProAdmin, user.strGroupID, user.iClass);
	}

	let OnClickMonthly1stRecord = () => {
		startDate = GetMonthly1stStartDate();
		endDate = GetMonthly1stEndDate();
		$('#datepicker1').val(startDate);
		$('#datepicker2').val(endDate);

		bToggleRecord = true;
		$("#button_toggle_record").text("닫기");

		bClickDateSelection	= true;
		RequestAgentList(EAgent.eProAdmin, user.strGroupID, user.iClass);
	}

	let OnClickMonthly2ndRecord = () => {
		startDate = GetMonthly2ndStartDate();
		endDate = GetMonthly2ndEndDate();
		$('#datepicker1').val(startDate);
		$('#datepicker2').val(endDate);

		bToggleRecord = true;
		$("#button_toggle_record").text("닫기");
		RequestAgentList(EAgent.eProAdmin, user.strGroupID, user.iClass);
	}

	let OnClickDayPeriod = (startDay) => {
		startDate = GetDateStart(startDate, startDay);
		endDate = GetDateEnd(endDate, startDay+4);

		$('#datepicker1').val(startDate);
		$('#datepicker2').val(endDate);

		RequestAgentList(EAgent.eProAdmin, user.strGroupID, user.iClass);
	}

	let OnClickSearch = (iTargetClass, strGroupID, iClass) => {
		bToggleRecord = true;
		$("#button_toggle_record").text("닫기");

		RequestAgentList(iTargetClass, strGroupID, iClass);
	}

	let OnClickSearchNickname = () => {
		RequestAgentList(EAgent.eProAdmin, user.strGroupID, user.iClass);
	}

</script>

<script type="text/javascript">
	$(document).ready(function(){
		$('.menu').each(function(index){
			$(this).attr('menu-index', index);
		}).click(function(){
			var index = $(this).attr('menu-index');
			$('.menu[menu-index=' + index + ']').addClass('clicked_menu');
			$('.menu[menu-index!=' + index + ']').removeClass('clicked_menu');
		});
	});
</script>