<div class="sub_wrap">
    <div class="container clearfix">

        <div class="content" style="position:relative; padding:0 10px 0 10px;">

            <ul class="list_tab" style="float:right; margin-right:10px; position:relative; z-index:10;">
            </ul>

            <ul class="list_tab" style="margin-bottom:10px;width:75%;z-index:10000;" id="partner_header">
            </ul>
        </div>

        <div class="search_wrap" id="div_realtimebet_overview">
        </div>

        <div class="list">
            <div style="background-color:#ffffff;text-align:right;padding-right:5px;padding-top:0px;padding-bottom:0px;" colspan="19">
                <%=__('Search')%>
                <select id="select_roomno" style="width:80px;">
                    <option><%=__('Nickname')%></option>
                </select>
                <input style="margin-left:0px;width:100px;" id="strSearchNickname" type="text"/>
                <button class="btn_blue" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnClickSearchNickname();"><%=__('Search')%></button>
            </div>

            <div class="list_tit">
                <h3>당일등록현황</h3>
            </div>

            <div class="search_wrap">

                <table class="search_list">
                    <caption><%=__('SearchResult')%></caption>
                    <colgroup>
                        <% if (user.iRootClass == 2) {%>
                            <col style="width:5%">
                        <% } %>
                        <col style="width:5%">
                        <col style="width:5%">
                        <col style="width:5%">
                        <col style="width:5%">
                        <col style="width:5%">
                        <% if (user.iRootClass <= 3 && user.iPermission != 100) {%>
                            <col style="width:5%">
                            <col style="width:5%">
                        <% } %>
                        <col style="width:6%">
                        <col style="width:6%">
                        <col style="width:6%">
                        <col style="width:6%">
                        <col style="width:6%">
                        <col style="width:6%">
                        <% if (user.iRootClass <= 3 && user.iPermission != 100) {%>
                            <col style="width:5%">
                        <% } %>
                        <col style="width:5%">
                        <col style="width:5%">
                        <col style="width:7%">
                        <col style="width:7%">
                    </colgroup>
                    <thead>
                    <tr>
                        <% if (user.iRootClass == 2) {%>
                            <th scope="col"><%=__('Admin')%></th>
                        <% } %>
                        <th scope="col"><%=__('ProAdmin')%></th>
                        <th scope="col"><%=__('ViceAdmin')%></th>
                        <th scope="col"><%=__('Agent')%></th>
                        <th scope="col"><%=__('Shop')%></th>
                        <th scope="col"><%=__('Nickname')%></th>
                        <% if (user.iRootClass <= 3 && user.iPermission != 100) { %>
                            <th scope="col"><%=__('Letter')%></th>
                            <th scope="col"><%=__('Menu')%></th>
                        <%}%>
                        <th scope="col"><%=__('Input')%></th>
                        <th scope="col"><%=__('Output')%></th>
                        <th scope="col"><%=__('MyCash')%></th>
                        <th scope="col"><%=__('Rolling')%></th>
                        <th scope="col"><%=__('Total')%></th>
                        <th scope="col">미전환롤링</th>
                        <% if (user.iRootClass <= 3 && user.iPermission != 100) { %>
                            <th scope="col"><%=__('TemporaryModify')%></th>
                        <%}%>
                        <th scope="col"><%=__('DateRegister')%></th>
                        <th scope="col"><%=__('State')%></th>
                        <th scope="col"><%=__('DateLogin')%></th>
                        <th scope="col"><%=__('IP')%></th>
                    </tr>
                    </thead>
                    <tbody id = "userlist">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/enum.js"></script>
<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript" src="js/manage_partner_menu.js"></script>
<script type="text/javascript" src="js/manage_inout_ref.js"></script>
<script type="text/javascript" src="js/manage_partner_register.js"></script>
<script type="text/javascript" src="js/manage_user_menu.js"></script>
<script type="text/javascript" src="js/manage_setting_ref.js"></script>
<script type="text/javascript" src="js/socket.js"></script>
<script>
    let user = JSON.parse('<%-JSON.stringify(user)%>');
    let userlist = JSON.parse('<%-JSON.stringify(userlist)%>');
    let shoplist = JSON.parse('<%-JSON.stringify(shoplist)%>');
    let agentlist = JSON.parse('<%-JSON.stringify(agentlist)%>');
    let vadminlist = JSON.parse('<%-JSON.stringify(vadminlist)%>');
    let proadminlist = JSON.parse('<%-JSON.stringify(proadminlist)%>');
    let iocount = JSON.parse('<%-JSON.stringify(iocount)%>');

    Alert(iocount, "<%=__('RequestInput')%>", "<%=__('RequestOutput')%>","<%=__('LetterSend')%>");

    $(document).ready(() => {
        SetPartnerHeader(10, user.iClass);

        $('#userlist').empty();
        let total0 = SetUserList(proadminlist, 4, user.iRootClass);
        let total1 = SetUserList(vadminlist, 5, user.iRootClass);
        let total2 = SetUserList(agentlist, 6, user.iRootClass);
        let total3 = SetUserList(shoplist, 7, user.iRootClass);
        let total4 = SetUserList(userlist, 8, user.iRootClass);
        AddEndTag(total0, total1, total2, total3, total4, user.iRootClass);
    });

    let SetUserList = (userlist, iClass, iRootClass) => {

        console.log(userlist);

        let total = {cash:0, input:0, output:0, rolling:0, loan:0, total:0, totalRolling: 0};

        for ( let i in userlist )
        {
            let strColor = 'rgb(0, 126, 199)';
            let bgcolor = 'white';
            if ( iClass == 7 )
                bgcolor = '#f3e9d9';
            else if ( iClass == 6 )
                bgcolor = '#ece7ab';
            else if ( iClass == 5 )
                bgcolor = '#c9c9c4';

            console.log(userlist[i]);

            if ( userlist[i].eState == 'BLOCK' )
            {
                strColor = 'rgb(207, 61, 4)';
                bgcolor = '#fcd7e6';
            }
            else if ( userlist[i].eState == 'NOTICE' )
            {
                strColor = 'rgb(207, 100, 4)';
                bgcolor = '#faecd9';
            }

            let tagState = '';
            if (user.iRootClass <= 3 && user.iPermission != 100) {
                tagState = `<td class="parent_row_31" style='background-color:${bgcolor};'>
                            <select style="vertical-align:middle;width:100%; background-color:${strColor}; color:white;" id="partner_agentstatus_${userlist[i].strNickname}" onchange="OnChangeStatus('${userlist[i].strNickname}');">
                            <option value="NORMAL" selected>${strNormal}</option>
                            <option value="NOTICE">${strNotice}</option>
                            <option value="BLOCK">${strBlock}</option>
                            </select>
                            </td>`;

                if ( userlist[i].eState == 'BLOCK') {

                    console.log('BLOCK');
                    tagState = `<td class="parent_row_31" style='background-color:${bgcolor};'>
                                <select style="vertical-align:middle;width:100%; background-color:${strColor}; color:white;" id="partner_agentstatus_${userlist[i].strNickname}" onchange="OnChangeStatus('${userlist[i].strNickname}');">
                                <option value="NORMAL">${strNormal}</option>
                                <option value="NOTICE">${strNotice}</option>
                                <option value="BLOCK" selected>${strBlock}</option>
                                </select>
                                </td>`
                }
                else if ( userlist[i].eState == 'NOTICE' )
                {
                    console.log('BLOCK');
                    tagState = `<td class="parent_row_31" style='background-color:${bgcolor};'>
                                <select style="vertical-align:middle;width:100%; background-color:${strColor}; color:white;" id="partner_agentstatus_${userlist[i].strNickname}" onchange="OnChangeStatus('${userlist[i].strNickname}');">
                                <option value="NORMAL">${strNormal}</option>
                                <option value="NOTICE" selected>${strNotice}</option>
                                <option value="BLOCK">${strBlock}</option>
                                </select>
                                </td>`
                }
            } else {
                tagState = `<td class="parent_row_31" style='background-color:${bgcolor};'>
                            <select disabled style="vertical-align:middle;width:100%; background-color:${strColor}; color:white;" id="partner_agentstatus_${userlist[i].strNickname}" >
                            <option value="NORMAL" selected>${strNormal}</option>
                            <option value="NOTICE">${strNotice}</option>
                            <option value="BLOCK">${strBlock}</option>
                            </select>
                            </td>`;

                if ( userlist[i].eState == 'BLOCK') {

                    console.log('BLOCK');
                    tagState = `<td class="parent_row_31" style='background-color:${bgcolor};'>
                                <select disabled style="vertical-align:middle;width:100%; background-color:${strColor}; color:white;" id="partner_agentstatus_${userlist[i].strNickname}" >
                                <option value="NORMAL">${strNormal}</option>
                                <option value="NOTICE">${strNotice}</option>
                                <option value="BLOCK" selected>${strBlock}</option>
                                </select>
                                </td>`
                }
                else if ( userlist[i].eState == 'NOTICE' )
                {
                    console.log('BLOCK');
                    tagState = `<td class="parent_row_31" style='background-color:${bgcolor};'>
                                <select disabled style="vertical-align:middle;width:100%; background-color:${strColor}; color:white;" id="partner_agentstatus_${userlist[i].strNickname}" >
                                <option value="NORMAL">${strNormal}</option>
                                <option value="NOTICE" selected>${strNotice}</option>
                                <option value="BLOCK">${strBlock}</option>
                                </select>
                                </td>`
                }
            }

            let strLoginedAt = '';
            if ( userlist[i].loginedAt != null )
                strLoginedAt = userlist[i].loginedAt.replace(/T/, ' ').replace(/\..+/, '');
            let strCreatedAt = '';
            strCreatedAt = userlist[i].createdAt.replace(/T/, ' ').replace(/\..+/, '');

            let strClassTag = `<td style='background-color:${bgcolor};'><a href="#" onclick="OnClickNickname('${userlist[i].strNickname}')" style="color:blue;">${userlist[i].strNickname}</a></td>`;
            if ( userlist[i].iClass != 8 )
                strClassTag = `<td style='background-color:${bgcolor};'><a href="#" onclick="OnClickNickname('${userlist[i].strNickname}')" style="color:blue;">${userlist[i].strNickname}</a></td>`;

            let letter = ``;
            let strDeleteTag = '';
            if (user.iRootClass <= 3 && user.iPermission != 100) {
                letter = `<td id="btn_84" style='background-color:${bgcolor};'><a href="javascript:OnClickWritingLetter('${userlist[i].strNickname}');" class="btn_green">${strLetter}</a></td>`;
                strDeleteTag = `<td id="btn_84" style='background-color:${bgcolor};'>
                                    <a href="javascript:OnClickRemove('${userlist[i].strNickname}', '${userlist[i].strGroupID}', '${userlist[i].iClass}');" class="btn_red">${strRemove}</a>
                                </td>`;
            }

            let inoutTag = ``;
            if (user.iRootClass <= 3 && user.iPermission != 100) {
                inoutTag = `<td style="background-color:${bgcolor};">
                                <a style="border: 1px solid green;display:inline-block;font-weight:bold;border-radius:4px;background-color:blue;width:30px;color:white;" href="#" id="partner_adjustinput" strnickname="${userlist[i].strNickname}" strgroupid="${userlist[i].strGroupID}" iclass="${userlist[i].iClass}">입금</a>
                                <a style="border: 1px solid green;display:inline-block;font-weight:bold;border-radius:4px;background-color:red;width:30px;color:white;" href="#" id="partner_adjustoutput" strnickname="${userlist[i].strNickname}" strgroupid="${userlist[i].strGroupID}" iclass="${userlist[i].iClass}">출금</a>
                            </td>`;
            }
            let adminTag = '';
            if (user.iRootClass == 2) {
                if (userlist[i].iClass == 4) {
                    adminTag = `<td style='background-color:${bgcolor};'>${userlist[i].lev2}</td>`;
                } else {
                    adminTag = `<td style='background-color:${bgcolor};'>${userlist[i].lev1}</td>`;
                }
            }
            let class4 = userlist[i].iClass > 4 ? `${userlist[i].lev2}` : '';
            if (userlist[i].iClass == 4) {
                class4 = userlist[i].lev3;
            }
            let class5 = userlist[i].iClass >= 5 ? `${userlist[i].lev3}` : '';
            let class6 = userlist[i].iClass >= 6 ? `${userlist[i].lev4}` : '';
            let class7 = userlist[i].iClass >= 7 ? `${userlist[i].lev5}` : '';
            let tag = `
                <tr>
                    ${adminTag}
                    <td style='background-color:${bgcolor};'>${class4}</td>
                    <td style='background-color:${bgcolor};'>${class5}</td>
                    <td style='background-color:${bgcolor};'>${class6}</td>
                    <td style='background-color:${bgcolor};'>${class7}</td>
                    ${strClassTag}
                    ${letter}
                    ${strDeleteTag}
                    <td style='background-color:${bgcolor};'>${GetNumber(userlist[i].iInput)}</td>
                    <td style='background-color:${bgcolor};'>${GetNumber(userlist[i].iOutput)}</td>
                    <td style='background-color:${bgcolor};'>${GetNumber(userlist[i].iCash)}</td>
                    <td style='background-color:${bgcolor};'><font color="${GetClassSettleColor(userlist[i].iMyRollingMoney, iRootClass)}">${GetNumber(userlist[i].iMyRollingMoney)}</font></td>
                    <td style='background-color:${bgcolor};'><font color="${GetClassColor(userlist[i].iTotal-userlist[i].iMyRollingMoney, iRootClass)}">${GetNumber(userlist[i].iTotal-userlist[i].iMyRollingMoney)}</font></td>
                    <td style='background-color:${bgcolor};'><font color="${GetClassSettleColor(userlist[i].iCurrentRolling, iRootClass)}">${GetNumber(userlist[i].iCurrentRolling)}</font></td>
                    ${inoutTag}
                    <td style='background-color:${bgcolor};'>${strCreatedAt}</td>
                    ${tagState}
                    <td style='background-color:${bgcolor};'>${strLoginedAt}</td>
                    <td style='background-color:${bgcolor};'>${userlist[i].strIP}</td>
                </tr>`;

            $('#userlist').append(tag);

            total.cash += parseFloat(userlist[i].iCash);
            total.input += parseFloat(userlist[i].iInput);
            total.output += parseFloat(userlist[i].iOutput);
            total.rolling += parseFloat(userlist[i].iMyRollingMoney);
            total.loan += parseFloat(userlist[i].iLoan);
            total.total += parseFloat(userlist[i].iTotal);
            total.totalRolling += parseFloat(userlist[i].iCurrentRolling);
        }

        return total;
    }

    let OnChangeStatus = (strNickname) => {
        console.log(strNickname);

        let item = $(`#partner_agentstatus_${strNickname}`);
        console.log(item.val());

        if (confirm(strConfirmChangeState))
        {
            $.ajax({
                type:'post',
                url: "/manage_partner/request_agentstate",
                context: document.body,
                data:{strNickname:strNickname, eState:item.val()},

                success:function(data) {

                    location.reload();

                }
            });

        }
    }

    let AddEndTag = (total0, total1, total2, total3, total4, iRootClass) => {
        let total = {
            input:  total0.input + total1.input + total2.input + total3.input + total4.input,
            output: total0.output + total1.output + total2.output + total3.output + total4.output,
            cash:   total0.cash + total1.cash + total2.cash + total3.cash + total4.cash,
            rolling:total0.rolling + total1.rolling + total2.rolling + total3.rolling + total4.rolling,
            total:  total0.total + total1.total + total2.total + total3.total + total4.total,
            totalRolling: total0.totalRolling + total1.totalRolling + total2.totalRolling + total3.totalRolling + total4.totalRolling
        };

        let total_f = parseFloat(total.total) - parseFloat(total.rolling);

        let colspan = 5;
        if (user.iRootClass == 2) {
            colspan = 6;
        }

        let endtag = `
        <tr>
            <td colspan="${colspan}">${strTotal}</td>
            <% if (user.iRootClass <= 3 && user.iPermission != 100) { %>
                <td></td>
                <td></td>
            <%}%>
            <td>${GetNumber(total.input)}</td>
            <td>${GetNumber(total.output)}</td>
            <td>${GetNumber(total.cash)}</td>
            <td><font color='${GetClassSettleColor(total.rolling, iRootClass)}'>${GetNumber(total.rolling)}</font></td>
            <td><font color=${GetClassColor(total.total, iRootClass)}>${GetNumber(total.total-total.rolling)}</font></td>
            <td><font color='${GetClassSettleColor(total.totalRolling, iRootClass)}'>${GetNumber(total.totalRolling)}</font></td>
            <% if (user.iRootClass <= 3 && user.iPermission != 100) { %>
                <td></td>
            <%}%>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>`;

        $('#userlist').append(endtag);
    }

    let RequestUserList = (iTargetClass, strGroupID, iClass) => {
        const dateStart = $('#datepicker1').val();
        const dateEnd = $('#datepicker2').val();
        const strNickname = $('#strSearchNickname').val();

        $.ajax({
            type:'post',
            url: "/manage_partner/request_todayregistlist",
            context: document.body,
            data:{iTargetClass:iTargetClass, strGroupID:strGroupID, iClass:iClass, dateStart:dateStart, dateEnd:dateEnd, strSearchNickname:strNickname},

            success: (obj) => {

                $('#userlist').empty();
                let total = SetUserList(obj.proadminlist, 4, obj.iRootClass);
                let total1 = SetUserList(obj.vadminlist, 5, obj.iRootClass);
                let total2 = SetUserList(obj.agentlist, 6, obj.iRootClass);
                let total3 = SetUserList(obj.shoplist, 7, obj.iRootClass);
                let total4 = SetUserList(obj.userlist, 8, obj.iRootClass);

                AddEndTag(total, total1, total2, total3, total4, obj.iRootClass);
            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

    let OnClickRemove = (strNickname, strGroupID, iClass) => {
        if ( confirm(`${strNickname} ${strConfirmRemove}`) )
        {
            $.ajax({
                type:'post',
                url: "/manage_user/request_removeuser",
                context: document.body,
                data:{strNickname:strNickname, strGroupID:strGroupID, iClass:iClass},
                success:function(data) {
                    if ( data.result == 'OK' )
                    {
                        alert(strAlertComplete);
                        location.reload();
                    }
                    else
                    {
                        alert(strAlertCantRemove);
                    }
                    console.log(data);
                }
            });
        }
    }

    let OnClickSearchNickname = () => {
        RequestUserList(user.iClass, user.strGroupID, user.iClass);
    }

    let OnClickWritingLetter = (strTo) => {
        window.open('', 'WriteLetter', 'width=1024, height=512, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');

        var $form = $('<form></form>');
        $form.attr('action', '/manage_setting_popup/writeletter');
        $form.attr('method', 'post');
        $form.attr('target', 'WriteLetter');
        $form.appendTo('body');

        var idx = $(`<input type="hidden" value="${user.strNickname}" name="strNickname">`);
        var page = $(`<input type="hidden" value="${user.strGroupID}" name="strGroupID">`);
        var category = $(`<input type="hidden" value=${parseInt(user.iClass)} name="iClass">`);
        var iPermission = $(`<input type="hidden" value=${parseInt(user.iPermission)} name="iPermission">`);
        var strTo = $(`<input type="hidden" value='${strTo}' name="strTo">`);

        $form.append(idx).append(page).append(category).append(iPermission).append(strTo);
        $form.submit();
    }

</script>