<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<title>
		<%=__('Partner')%>
			<%=__('Register')%>
	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="../../js/placeholders.js"></script>
	<script type="text/javascript" src="../../js/layout.js"></script>
	<script type="text/javascript" src="../../js/common_js.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/general.css" />
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
	<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>

<body style="font-family:'Spoqa Han Sans Neo';">
	<div class="content" style="position:relative; padding:0 10px 0 10px;">
		<div class="list_tit" id="registeragent_title">
		</div>
		<div class="write">
			<p
				style="background-repeat:no-repeat; background-position:left center; font-size:16px; color:#454545; padding-left:22px;">
				<%=__('Partner')%>
					<%=__('Information')%>
			</p>

			<table>
				<caption>
					<%=__('BoardWrite')%>
						<%=__('Register')%>
				</caption>
				<colgroup>
					<col style="width:15%;">
					<col style="width:35%;">
					<col style="width:15%;">
					<col style="width:35%;">
				</colgroup>
				<tr>
					<th scope="row">
						<%=__('Parent')%>
							<%=__('Partner')%>
					</th>
					<td colspan="3">
						<select style="vertical-align:middle;width:20%;" id="parentenable_list"
							onchange="OnChangeParent();">
							<option value="">선택하세요</option>
						</select>

						<input type="hidden" id="strParentGroupID" value="" />
						<input type="hidden" id="iParentClass" value="" />
						<input type="hidden" id="iParentID" value="" />
					</td>
				</tr>
				<tr>
					<th scope="row" style="background-color:lightsteelblue">
						<%=__('Nickname')%>
					</th>
					<td style="background-color:lightsteelblue">
						<input type="text" style="width:50%;" required="yes" id="strNickname" message="">&nbsp;<a
							href="#" class="btn_red" id="check_nickname">
							<%=__('Duplication')%>
								<%=__('OK')%>
						</a>
					</td>
					<th scope="row">
						<%=__('BankName')%>
					</th>
					<td>
						<input type="text" style="width:50%;" id="strBankName" required="no" message="">
					</td>
				</tr>
				<tr>
					<th scope="row" style="background-color:lightsteelblue">
						<%=__('ID')%>
					</th>
					<td style="background-color:lightsteelblue">
						<input type="text" style="width:50%;" required="yes" id="strID" message="" />&nbsp;<a href="#"
							class="btn_red" id="check_id">
							<%=__('Duplication')%>
								<%=__('OK')%>
						</a>
						<div id="check_id"></div>
					</td>
					<th scope="row">
						<%=__('BankAccount')%>
					</th>
					<td>
						<input type="text" style="width:50%;" id="strAccountNumber" required="no" message="">
					</td>
				</tr>
				<tr>
					<th scope="row">
						<%=__('Password')%>
					</th>
					<td>
						<input type="text" maxlength="16" id="strPassword" required="yes" message=""
							style="width:50%; ime-mode:disabled"> <span
							style="display:inline-block; padding-top:4px;"></span>
					</td>
					<th scope="row">
						<%=__('BankAccountHolderName')%>
					</th>
					<td>
						<input type="text" style="width:50%;" id="strAccountOwner" required="no" message="">
					</td>
				</tr>

				<tr>
					<th scope="row">
						<%=__('PasswordConfirm')%>
					</th>
					<td>
						<input type="text" maxlength="16" id="strPasswordConfirm" required="yes" message=""
							style="width:50%; ime-mode:disabled">
					</td>

					<th scope="row">
						<%=__('Contact')%>
					</th>
					<td colspan="3">
						<input type="text" style="width:50%;" id="strMobileNo" name="cell" required="no" message="">
					</td>
				</tr>

				<tr>
				</tr>

			</table>

			<% if ( parent.iAgentClass !=9 && parent.iAgentClass !=0 && parent.iAgentClass !=1 ) { %>
				<p style="background-repeat:no-repeat; background-position:left center; font-size:16px; color:#454545; padding-left:22px;">
					<%=__('Rolling')%>
						<%=__('Setting')%>
				</p>
				<table>
					<colgroup>
						<col width="15%" />
						<col width="35%" />
						<col width="15%" />
						<col width="35%" />
					</colgroup>

					<tr>
						<th scope="row">
							<%=__('Baccarat')%>
						</th>
						<td>
							<input type="text" style="width:40%;" required="no" message="" id="fRollingBaccarat"> %
						</td>

						<th scope="row">
							<%=__('UnderOver')%>
						</th>
						<td>
							<input type="text" style="width:40%;" required="no" message="" id="fRollingUnderOver" > %
						</td>

					</tr>

					<tr>
						<th scope="row">
							<%=__('Slot')%>
						</th>
						<td>
							<input type="text" style="width:40%;" required="no" message="" id="fRollingSlot" > %
						</td>

						<th scope="row" style="background-color:beige"></th>
						<td style="background-color:beige">
						</td>
					</tr>

				</table>
				<%}%>

					<table>
						<colgroup>
							<col width="15%" />
							<col width="35%" />
							<col width="15%" />
							<col width="35%" />
						</colgroup>
						<p
							style="background-repeat:no-repeat; background-position:left center; font-size:16px; color:#454545; padding-left:22px;">
							입출금 설정</p>

						<tr>


							<th scope="row">
								<%=__('UsingInput')%>
							</th>
							<td>
								<input type="checkbox" style="width:30px;height:30px;" name="using_input"
									id="using_input" required="no" message="" checked> <strong>
									<%=__('DescUsingInput')%>
								</strong>
							</td>
							<th scope="row">
								<%=__('UsingOutput')%>
							</th>
							<td>
								<input type="checkbox" style="width:30px;height:30px;" name="using_output"
									id="using_output" required="no" message="" checked> <strong>
									<%=__('DescUsingOutput')%>
								</strong>
							</td>

						</tr>

					</table>

					<!-- </form> -->

					<div class="write_btn align_r mt35">
						<button class="btn_modify" onclick="Submit();">
							<%=__('Save')%>
						</button>
						<a href="javascript:self.close();" class="btn_list">
							<%=__('Close')%>
						</a>

					</div>
		</div>
	</div>
	</div>

	<script type="text/javascript" src="js/enum.js"></script>
	<script type="text/javascript" src="js/manage_partner_popup_register.js"></script>
	<script type="text/javascript">
		const parent = JSON.parse('<%-JSON.stringify(parent)%>');
		console.log(parent);

		const strAlertComplete = '<%=__("AlertComplete")%>';
		const strAlertEnableToUse = '<%=__("AlertEnableToUse")%>';
		const strAlertDisableToUse = '<%=__("AlertDisableToUse")%>';
		const strAlertNeedToDuplicationCheckID = '<%=__("AlertNeedToDuplicationCheckID")%>';
		const strAlertNeedToDuplicationCheckNickname = '<%=__("AlertNeedToDuplicationCheckNickname")%>';
		const strAlertDifferentPasswordAndConfirm = '<%=__("AlertDifferentPasswordAndConfirm")%>';
		const strAlertErrorRollingValue = '<%=__("AlertErrorRollingValue")%>';
		const strAlertErrorSettleValue = '<%=__("AlertErrorSettleValue")%>';

		const caAgentType = ['', '<%=__("HQ")%>', '<%=__("ViceHQ")%>', '<%=__("Admin")%>', '<%=__("ProAdmin")%>', '<%=__("ViceAdmin")%>', '<%=__("Agent")%>', '<%=__("Shop")%>', '<%=__("User")%>'];

		$('#registeragent_title').append(`<a style="font-weight:regular;color:yellow;font-size:25px;font-family:'Spoqa Han Sans Neo', 'sans-serif';">${caAgentType[parseInt(parent.iAgentClass)]} ${"<%=__('Register')%>"}</a>`);

		RequestParentEnableList(parent.strNickname, parent.strGroupID, parent.iClass, parent.iAgentClass, parent.iPermission);

		$('#using_input').attr('checked', true);
		$('#using_output').attr('checked', true);
		$('#using_input_permission').attr('checked', false);

		checkBlockCharNickname(`#strNickname`);
		checkBlockCharNickname(`#strID`);
		checkBlockCharNickname(`#strPassword`);
		checkBlockCharNickname(`#strPasswordConfirm`);

		checkBlockCharSpecial(`#strBankName`);
		checkBlockNum(`#strAccountNumber`);
		checkBlockCharSpecial(`#strAccountOwner`);
		checkBlockNum(`#strMobileNo`);

		checkBlockNum(`#fRollingBaccarat`);
		checkBlockNum(`#fRollingUnderOver`);
		checkBlockNum(`#fRollingSlot`);
	</script>


</body>

</html>