<div style="height:5px;"></div>

<div class="list">
	<div class="search_wrap">

			<p style="background-repeat:no-repeat; background-position:left center; font-size:20px; color:#454545; padding-left:22px;margin-top:10px;height:30px;margin-bottom:5px;"><%=__('RecordInput')%>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</p>

			<div style="background-color:#ffffff;padding-right:5px;padding-top:0px;padding-bottom:0px;" colspan="19">
				<div style="float: left;">
					<button class="menu1" data-menu="1" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;color:white" onclick="OnClickSearchClass('');">전체</button>
					<button class="menu5" data-menu="1" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;color:white" onclick="OnClickSearchClass(`${agent.iClass}`);">본인</button>
				</div>
				<div style="overflow: hidden;">
					<div style="float: right; background-color:#ffffff;">
						<input style="margin-left:180px;width:100px;" type="text" id="datepicker1" class="datepicker"/>~
						<input style="width:100px;" type="text" id="datepicker2" class="datepicker" />

						<button class="btn_blue" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnClickSearchInput();"><%=__('Search')%></button>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<%=__('Search')%>
						<select id="select_search" style="width:80px;">
							<option value="Nickname"><%=__('Nickname')%></option>
						</select>

						<input type="text" value="" style="width:10%;" id="strSearchNickname">
						<button class="btn_blue" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnClickSearchInput();"><%=__('Search')%></button>

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</div>
				</div>
			</div>

			<table class="search_list">
				<thead>
					<tr>
						<th width="4%"><%=__('Index')%></th>
						<th width="6%"><%=__('Token')%></th>
						<th width="5%"><%=__('Nickname')%></th>
						<th width="8%"><%=__('CashBeforeInput')%></th>
						<th width="8%"><%=__('Input')%></th>
						<% if (agent.iRootClass == 2) { %>
							<th width="9%"><%=__('InputHolderName')%>&nbsp;&nbsp;<button class="btn_blue" style="border:1px solid rgb(95, 93, 93);width:50px;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnClickBank();">보기</button></th>
						<% } else { %>
							<th width="9%"><%=__('InputHolderName')%></th>
						<% } %>
						<th width="8%"><%=__('DateRequest')%></th>
						<th width="8%"><%=__('DateProcess')%></th>
						<th width="8%">가입일</th>
					</tr>
				</thead>
			<tbody id="input_list">
			<tr>
				<td style="color:red;"><%=__('Total')%></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			</tbody>
		</table>

		<div class="pagination mt0" id="pagination">
		</div>
	</div>
</div>

<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript" src="js/enum.js"></script>
<script type="text/javascript" src="js/manage_partner_popup_menu.js"></script>
<script type="text/javascript" src="js/manage_inout_ref.js"></script>
<script type="text/javascript" src="js/pagination.js"></script>
<script type="text/javascript">
	var agent = JSON.parse('<%-JSON.stringify(agent)%>');

	DatePicker();
	$("#datepicker1").val(GetCurrentDateBefore(30));
	$("#datepicker2").val(GetCurrentDate());

	let iLimit = 30;
	let iCurrentPage = 1;
	let searchClass = agent.iClass;
	let searchKey = '';

	$(document).on('click', '.menu1', (e) => {
		$('.menu5').attr('class', 'menu1');
		$(e.currentTarget).attr('class', 'menu5');
	});

	let OnClickSearchClass = (iClass) => {
		searchClass = iClass;
		iCurrentPage = 1;
		OnClickSearchInput();
	}

	$(document).ready(() => {
		OnClickSearchInput();
	});

	<% if (agent.iRootClass == 2) { %>
		let OnClickBank = () => {
			let input = prompt('암호입력');
			if (input == null) {
				return;
			} else if (input.length == 0) {
				alert(`암호 미입력`);
				return;
			}

			$.ajax(
					{
						type:'post',
						url: "/manage_inout/request_input_pass",
						context: document.body,
						data:{
							iPage:iCurrentPage,
							input:input,
						},

						success:function(obj) {
							if (obj.result == 'OK') {
								searchKey = obj.key;
								OnClickPage(iCurrentPage);
							} else {
								alert(obj.msg);
							}
						}
					}
			);
		}
	<% } %>

	let OnClickSearchInput = () => {

		let date1 = $("#datepicker1").val();
        let date2 = $("#datepicker2").val();

        let strNickname = $('#strSearchNickname').val();

		$.ajax(
            {
                type:'post',
                url: "/manage_inout/request_searchby",
                context: document.body,
                data:{
					type:'INPUT',
					dateStart:date1,
					dateEnd:date2,
					strGroupID:agent.strGroupID,
					strSearchNickname:strNickname,
					iClass:agent.iClass,
					iLimit:iLimit,
					iPage:iCurrentPage,
					searchKey:searchKey,
					searchClass:searchClass
				},
        
                success:function(obj) {

					console.log(obj);

					const total = obj.totalCount ?? 0;
					SetList(obj.data, getNo(iLimit, total, iCurrentPage, 0));

					$('#pagination').empty();
					$('#pagination').append(getPagination(iLimit, obj.totalCount, iCurrentPage));
                }
            }
        );
	}

	let OnClickPage = (iPage) => {
		if (iPage < 1) {
			return;
		}
		iCurrentPage = iPage;
		OnClickSearchInput();
	}

	let SetList = (data, startIndex) =>
	{
		let iTotal = 0;

		$('#input_list').empty();
		for ( let i in data )
		{
			if ( data[i].eState == 'COMPLETE' )
			{
				let tag = `
				<tr>
					<td>${parseInt(startIndex)-i}</td>
					<td>${data[i].id}</td>
					<td>${data[i].strID}</td>
					<td>${data[i].iPreviousCash.toLocaleString()}</td>
					<td>${data[i].iAmount.toLocaleString()}</td>
					<td>${data[i].strAccountOwner}</td>
					<td>${data[i].createdAt}</td>
					<td>${data[i].updatedAt}</td>
					<td>${data[i].userCreatedAt}</td>
				</tr>
				`;
				$('#input_list').append(tag);

				iTotal += parseFloat(data[i].iAmount);
			}
		}

		let endtag = `
			<td style="color:red;"><%=__('Total')%></td>
			<td></td>
			<td></td>
			<td></td>
			<td>${iTotal.toLocaleString()}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		`;
		$('#input_list').append(endtag);
	}

</script>