<div style="height:5px;">
</div>
<div class="write">
	<p style="background-repeat:no-repeat; background-position:left center; font-size:16px; color:#454545; padding-left:22px;">파트너 정보(가입일 : <%=agent.createdAt%>)</p>
		<table>
			<caption><%=__('Partner')%> <%=__('Modify')%></caption>
			<colgroup>
				<col style="width:15%">
				<col style="width:35%">
				<col style="width:15%">
				<col style="width:35%">
			</colgroup>
			<input type="hidden" name="chuchun_idx" id="chuchun_idx" value="3"/>
			<tr>
				<th scope="row"><%=__('Nickname')%></th>
				<td>
					<input type="text" style="width:50%;" name="member_nick" id="member_nick" required="no"  message="" placeholder="한글,숫자만 가능" value="<%=agent.strNickname%>">&nbsp;
					<% if (agent.iPermission != 100) { %>
						<a href="#" onclick="CheckNickname();" class="btn_red"><%=__('Duplication')%><%=__('OK')%></a>
					<% } %>
				</td>
				<th scope="row"><%=__('BankName')%></th>
				<td>
					<% if (agent.iRootClass > 3) { %>
						<input type="password" style="width:50%;" name="bank_name" id="bank_name" required="no" message="" value="" disabled>
					<% } else { %>
						<input type="text" style="width:50%;" name="bank_name" id="bank_name" required="no" message="" value="" disabled>
						<a href="#" onclick="OnClickBankInfo(`${agent.strNickname}`);" class="btn_blue">은행정보 조회</a>
					<% } %>
				</td>
			</tr>
			<tr>
				<th scope="row"><%=__('ID')%></th>
				<td>
					<input type="text" style="width:50%;" name="member_id" id="member_id" placeholder="영어,숫자만 가능" value="<%=agent.strID%>" required="yes"  message="아이디"/>&nbsp;
					<% if (agent.iPermission != 100) { %>
						<a href="#" onclick="CheckID();" class="btn_red"><%=__('Duplication')%><%=__('OK')%></a>
					<% } %>
				</td>
				<th scope="row"><%=__('BankAccount')%></th>
				<td>
					<% if (agent.iRootClass > 3) { %>
						<input type="password" style="width:50%;" name="bank_num" id="bank_num" required="no" message="" value="" disabled>
					<% } else { %>
						<input type="text" style="width:50%;" name="bank_num" id="bank_num" required="no" message="" value="" disabled>
					<% } %>
				</td>
			</tr>
			<tr>
				<th scope="row"><%=__('Password')%></th>
				<td>
					<% if (agent.iRootClass == 7) { %>
						<input type="text" maxlength="16" name="member_password" id="member_password" required="no"  message="" style="width:50%; ime-mode:disabled" value="<%=agent.strPassword%>"> <span style="display:inline-block; padding-top:4px;" > </span>
					<% } else { %>
						<input type="text" maxlength="16" name="member_password" id="member_password" required="no"  message="" style="width:50%; ime-mode:disabled" value="<%=agent.strPassword%>" disabled> <span style="display:inline-block; padding-top:4px;" > </span>
					<% } %>
				</td>
				<th scope="row"><%=__('BankAccountHolderName')%></th>
				<td>
					<% if (agent.iRootClass > 3) { %>
						<input type="password" style="width:50%;" name="bank_owner" id="bank_owner" required="no"  message="" value="" disabled>
					<% } else { %>
						<input type="text" style="width:50%;" name="bank_owner" id="bank_owner" required="no"  message="" value="" disabled>
					<% } %>
				</td>
			</tr>
			<tr>
				<th scope="row"><%=__('PasswordConfirm')%></th>
				<td>
					<% if (agent.iRootClass == 7) { %>
						<input type="text" maxlength="16" name="member_password2" id="member_password2"required="no"  message="" style="width:50%; ime-mode:disabled" value="<%=agent.strPassword%>"> <span style="display:inline-block; padding-top:4px;" > </span>
					<% } else { %>
						<input type="text" maxlength="16" name="member_password2" id="member_password2"required="no"  message="" style="width:50%; ime-mode:disabled" value="<%=agent.strPassword%>" disabled> <span style="display:inline-block; padding-top:4px;" > </span>
					<% } %>
				</td>
				<th scope="row"><%=__('Contact')%></th>
				<td>
					<% if (agent.iRootClass > 3) { %>
						<input type="password" style="width:50%;" name="cell" id="cell" required="no"  message="" value="" disabled>
					<% } else { %>
						<input type="text" style="width:50%;" name="cell" id="cell" required="no"  message="" value="" disabled>
					<% } %>
				</td>
			</tr>
		</table>

		<table>
		<colgroup>
			<col style="width:15%">
			<col style="width:35%">
			<col style="width:15%">
			<col style="width:35%">
		</colgroup>
		<p style="background-repeat:no-repeat; background-position:left center; font-size:16px; color:#454545; padding-left:22px;">롤링 설정</p>
		<tr>
			<th scope="row">바카라 롤링</th>
			<td>
				<input type="text" style="width:30%;" name="bank_password" id="fBaccaratR" required="no"  message="" value="<%=agent.fBaccaratR%>">
			</td>
			<th scope="row">언오버 롤링</th>
			<td>
				<input type="text" style="width:30%;" name="bank_password" id="fUnderOverR" required="no"  message="" value="<%=agent.fUnderOverR%>">
			</td>
		</tr>
		<tr>
			<th scope="row">슬롯 롤링</th>
			<td>
				<input type="text" style="width:30%;" name="bank_password" id="fSlotR" required="no"  message="" value="<%=agent.fSlotR%>">
			</td>
			<th scope="row">  </th>
			<td>
			</td>
		</tr>
	</table>

	<% if (agent.iClass >= 3 && agent.iClass <= 5) { %>
	<table>
		<colgroup>
			<col style="width:15%">
			<col style="width:35%">
			<col style="width:15%">
			<col style="width:35%">
		</colgroup>
		<p style="background-repeat:no-repeat; background-position:left center; font-size:16px; color:#454545; padding-left:22px;">죽장 설정</p>
		<tr>
			<th scope="row">바카라 죽장</th>
			<td>
				<input type="text" style="width:30%;" name="bank_password" id="fSettleBaccarat" required="no"  message="" value="">
			</td>
			<th scope="row">슬롯 죽장</th>
			<td>
				<input type="text" style="width:30%;" name="bank_password" id="fSettleSlot" required="no"  message="" value="">
			</td>
		</tr>
	</table>
	<% } else { %>
	<div style="display: none">
		<table>
			<colgroup>
				<col style="width:15%">
				<col style="width:35%">
				<col style="width:15%">
				<col style="width:35%">
			</colgroup>
			<p style="background-repeat:no-repeat; background-position:left center; font-size:16px; color:#454545; padding-left:22px;">죽장 설정</p>
			<tr>
				<th scope="row">바카라 죽장</th>
				<td>
					<input type="text" style="width:30%;" name="settle" id="fSettleBaccarat" required="no"  message="" value="" disabled>
				</td>
				<th scope="row">슬롯 죽장</th>
				<td>
					<input type="text" style="width:30%;" name="settle" id="fSettleSlot" required="no"  message="" value="" disabled>
				</td>
			</tr>
		</table>
	</div>
	<% } %>

	<div id="settle_option"></div>

	<% if (agent.iClass == 8 || agent.iClass == 7) { %>
		<div style="display: none">
			<table>
				<colgroup>
					<col style="width:15%">
					<col style="width:35%">
					<col style="width:15%">
					<col style="width:35%">
				</colgroup>
				<p style="background-repeat:no-repeat; background-position:left center; font-size:16px; color:#454545; padding-left:22px;">입출금 설정</p>
				<tr>
					<th scope="row"><%=__('UsingInput')%></th>
					<td>
						<input type="checkbox" style="width:30px;height:30px;" name="using_input" id="using_input" required="no" message="" checked> <strong><%=__('DescUsingInput')%></strong>
					</td>
					<th scope="row"><%=__('UsingOutput')%></th>
					<td>
						<input type="checkbox" style="width:30px;height:30px;" name="using_output" id="using_output" required="no" message="" checked> <strong><%=__('DescUsingOutput')%></strong>
					</td>
				</tr>
			</table>
		</div>
		<% if (agent.iClass == 0) { %>
			<div id="asdfads" style="display: none">
			<table>
				<colgroup>
					<col style="width:15%">
					<col style="width:35%">
					<col style="width:15%">
					<col style="width:35%">
				</colgroup>
				<p style="background-repeat:no-repeat; background-position:left center; font-size:16px; color:#454545; padding-left:22px;">회원 입출금 등급 설정</p>
				<tr>
					<th scope="row"><%=__('UsingInput')%></th>
					<td>
						<input type="radio" style="width:30px;height:30px;" name="input_grade" required="no" message="" value="0"> <strong>1등급</strong>
						<input type="radio" style="width:30px;height:30px;" name="input_grade" required="no" message="" value="1"> <strong>2등급</strong>
						<input type="radio" style="width:30px;height:30px;" name="input_grade" required="no" message="" value="2" checked> <strong>3등급</strong>
					</td>
				</tr>
			</table>
		</div>
		<% } %>
		<div>
			<table>
				<colgroup>
					<col style="width:15%">
					<col style="width:35%">
					<col style="width:15%">
					<col style="width:35%">
				</colgroup>
				<p style="background-repeat:no-repeat; background-position:left center; font-size:20px; font-weight: bold; color:#454545; padding-left:22px;">PC방 이용 설정</p>
				<tr>
					<th scope="row">PC방 이용 설정</th>
					<td colspan="3">
						<input type="checkbox" style="width:30px;height:30px;color: red" name="using_input" id="using_pc" required="no" message=""> <strong>체크시 이용자 사이트 입출금 기능을 사용할 수 없습니다</strong>
					</td>
				</tr>
			</table>
		</div>
		<div id="pass_check_new_user" style="display: none">
			<table>
				<colgroup>
					<col style="width:15%">
					<col style="width:35%">
					<col style="width:15%">
					<col style="width:35%">
				</colgroup>
				<p style="background-repeat:no-repeat; background-position:left center; font-size:20px; font-weight: bold; color:#454545; padding-left:22px;">기타 옵션</p>
				<tr>
					<th scope="row">신규자 통장 체크 안함</th>
					<td colspan="3">
						<input type="checkbox" style="width:30px;height:30px;color: red" name="using_input" id="using_pass_new_user" required="no" message=""> <strong>체크시 입금 신청시 일반 계좌가 표시됩니다</strong>
					</td>
				</tr>
			</table>
		</div>
	<% } else { %>
		<div>
			<table>
				<colgroup>
					<col style="width:15%">
					<col style="width:35%">
					<col style="width:15%">
					<col style="width:35%">
				</colgroup>
				<p style="background-repeat:no-repeat; background-position:left center; font-size:16px; color:#454545; padding-left:22px;">입출금 설정</p>
				<tr>
					<th scope="row"><%=__('UsingInput')%></th>
					<td>
						<input type="checkbox" style="width:30px;height:30px;" name="using_input" id="using_input" required="no" message="" checked> <strong><%=__('DescUsingInput')%></strong>
					</td>
					<th scope="row"><%=__('UsingOutput')%></th>
					<td>
						<input type="checkbox" style="width:30px;height:30px;" name="using_output" id="using_output" required="no" message="" checked> <strong><%=__('DescUsingOutput')%></strong>
					</td>
				</tr>
			</table>
		</div>
		<% if (agent.iClass == 2 && agent.iPermission != 100) {%>
			<div id="grade" style="display:none;">
				<table>
					<colgroup>
						<col style="width:15%">
						<col style="width:35%">
						<col style="width:15%">
						<col style="width:35%">
					</colgroup>
					<p style="background-repeat:no-repeat; background-position:left center; font-size:16px; color:#454545; padding-left:22px;">회원 입출금 등급 설정</p>
					<tr>
						<th scope="row"><%=__('UsingInput')%></th>
						<td>
							<input type="radio" style="width:30px;height:30px;" name="input_grade" required="no" message="" value="0"> <strong>1등급</strong>
							<input type="radio" style="width:30px;height:30px;" name="input_grade" required="no" message="" value="1"> <strong>2등급</strong>
							<input type="radio" style="width:30px;height:30px;" name="input_grade" required="no" message="" value="2" checked> <strong>3등급</strong>
						</td>
					</tr>
				</table>
			</div>
		<% } %>
		<div style="display: none">
			<table>
				<colgroup>
					<col style="width:15%">
					<col style="width:35%">
					<col style="width:15%">
					<col style="width:35%">
				</colgroup>
				<p style="background-repeat:no-repeat; background-position:left center; font-size:20px; font-weight: bold; color:#454545; padding-left:22px;">PC방 이용 설정</p>
				<tr>
					<th scope="row">PC방 이용 설정</th>
					<td colspan="3">
						<input type="checkbox" style="width:30px;height:30px;color: red" name="using_input" id="using_pc" required="no" message=""> <strong>체크시 이용자 사이트 입출금 기능을 사용할 수 없습니다</strong>
					</td>
				</tr>
			</table>
		</div>
		<div id="pass_check_new_user" style="display: none">
			<table>
				<colgroup>
					<col style="width:15%">
					<col style="width:35%">
					<col style="width:15%">
					<col style="width:35%">
				</colgroup>
				<p style="background-repeat:no-repeat; background-position:left center; font-size:20px; font-weight: bold; color:#454545; padding-left:22px;">기타 옵션</p>
				<tr>
					<th scope="row">신규자 통장 체크 안함</th>
					<td colspan="3">
						<input type="checkbox" style="width:30px;height:30px;color: red" name="using_input" id="using_pass_new_user" required="no" message=""> <strong>체크시 입금 신청시 일반 계좌가 표시됩니다</strong>
					</td>
				</tr>
			</table>
		</div>
	<% } %>
	<div class="write_btn align_r" id="confirm">
	</div>
</div>

<script src="https://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<script>

	let agent = JSON.parse('<%-JSON.stringify(agent)%>');
	let bCheckID = false;
	let bCheckNickname = false;
	let bUsingPC = false;
	let bUsingPassNewUser = true;
	let iSettleType = -1;
	let iSettleDays = -1;

	$(document).ready( ()=> {

		let cUsingInput = parseInt(agent.strOptionCode[0]);
		let cUsingOutput = parseInt(agent.strOptionCode[1]);
		let strUsingPC = parseInt(agent.strOptionCode[2]);
		if ( strUsingPC == 1 ) {
			bUsingPC = true;
			$('#using_pc').attr('checked', true);
			$('#bank_owner').val('PC방');
			$('#bank_name').val('PC방');
			$('#bank_num').val('0000');
			['#bank_owner', '#bank_name', '#bank_num'].forEach(item => {
				$(item).get(0).disabled = true;
			});
		} else {
			$('#using_pc').attr('checked', false);
			$('#bank_owner').val(agent.strBankOwner);
			$('#bank_name').val(agent.strBankname);
			$('#bank_num').val(agent.strBankAccount);
		}

		$('#using_pc').click((e) => {
			var checked = $('#using_pc').is(':checked');

			if (checked) {
				bUsingPC = true;
				['#bank_owner', '#bank_name', '#bank_num'].forEach(item => {
					$(item).get(0).disabled = true;
				});
				$('#bank_owner').val('PC방');
				$('#bank_name').val('PC방');
				$('#bank_num').val('0000');
			} else {
				bUsingPC = false;
				['#bank_owner', '#bank_name', '#bank_num'].forEach(item => {
					$(item).get(0).disabled = false;
				});
				$('#bank_owner').val(agent.strBankOwner);
				$('#bank_name').val(agent.strBankname);
				$('#bank_num').val(agent.strBankAccount);
			}
		});

		<% if ( agent.iClass == 8 || agent.iClass == 7 ) { %>
			$('#pass_check_new_user').show();
			let iPassCheckNewUser = parseInt(agent.iPassCheckNewUser ?? 1);
			iPassCheckNewUser = Number.isNaN(iPassCheckNewUser) ? 1 : iPassCheckNewUser;
			bUsingPassNewUser = iPassCheckNewUser == 1;
			$('#using_pass_new_user').attr('checked', bUsingPassNewUser);
		<% } %>

		if (agent.iClass >= 3 && agent.iClass <= 5) {
			$('#fSettleBaccarat').val(agent.fSettleBaccarat ?? 0);
			$('#fSettleSlot').val(agent.fSettleSlot ?? 0);
		}

		if ( cUsingInput == 1 )
			$('#using_input').attr('checked', true);
		else
			$('#using_input').attr('checked', false);
		
		if ( cUsingOutput == 1 )
			$('#using_output').attr('checked', true);
		else
			$('#using_output').attr('checked', false);



		/**
		 * 수정 가능 여부에 대한 처리(비활성할 태그를 여기에 추가)
		 */
		if (agent.iPermission == 100) {
			["#member_nick", "#member_id",
				"#member_password", '#member_password2', '#bank_owner', '#bank_name', '#bank_num', '#cell'
				, '#fBaccaratR', '#fUnderOverR', '#fSlotR', '#fSettleBaccarat', '#fSettleSlot'
				, '#using_input', '#using_output', '#using_pc', '#using_pass_new_user'
			].forEach(item => {
				$(item).get(0).disabled = true;
			});
			$('#btn_brightred').hide();
		} else if ( parseInt(agent.iRootClass) == parseInt(agent.iClass) ) {
			[
				"#member_password", '#member_password2', '#bank_owner', '#bank_name', '#bank_num', '#cell'
				, '#fBaccaratR', '#fUnderOverR', '#fSlotR', '#fSettleBaccarat', '#fSettleSlot'
				, '#using_input', '#using_output', '#using_pc', '#using_pass_new_user'
			].forEach(item => {
				$(item).get(0).disabled = true;
			});
			$('#btn_red').hide();
		} else if ( parseInt(agent.iRootClass) == 4 && parseInt(agent.iClass) == 5 ) {
			["#member_password", '#member_password2', '#bank_owner', '#bank_name', '#bank_num', '#cell'
				, '#using_input', '#using_output', '#using_pc', '#using_pass_new_user'
			].forEach(item => {
				$(item).get(0).disabled = true;
			});
			$('#btn_red').hide();
		} else if ( parseInt(agent.iRootClass) > 3 ) {
			["#member_password", '#member_password2', '#bank_name', '#bank_num', '#bank_owner', '#cell'
				, '#using_input', '#using_output', '#using_pc', '#using_pass_new_user'
			].forEach(item => {
				$(item).get(0).disabled = true;
			});
			$('#btn_red').hide();
		}

		$('#confirm').empty();
		$('#confirm').append(`
			<% if (agent.iPermission != 100) { %>
				<button class="btn_red" onclick="ModifyAgentInfo();"><%=__('Confirm')%></button>
			<% } %>
			<button class="btn_modify" onclick="OnClickClose();">닫기</button>
		`);

		checkBlockCharNickname(`#member_nick`);
		checkBlockCharNickname(`#member_id`);
		checkBlockCharNickname(`#member_password`);
		checkBlockCharNickname(`#member_password2`);

		checkBlockCharSpecial(`#bank_name`);
		checkBlockNum(`#bank_num`);
		checkBlockCharSpecial(`#bank_owner`);
		checkBlockCharNickname(`#cell`);

		checkBlockNum(`#fBaccaratR`);
		checkBlockNum(`#fUnderOverR`);
		checkBlockNum(`#fSlotR`);

		checkBlockNum('#fSettleBaccarat');
		checkBlockNum('#fSettleSlot');
	});

	let CheckID = () => {
		let strID = $('#member_id').val();

		if (!isValidationOnlyEngOrNumber(strID)) {
			alert('아이디는 영어, 숫자만 가능합니다');
			return;
		}

		$.ajax({
			type : "POST",
			url : "/manage_partner_popup/request_confirmagentid",
			data : {strID:strID},
			success : (data) => {

				if ( data == 'OK' )
				{
					bCheckID = true;
					alert(strAlertEnableToUse);
				}
				else
				{
					alert(strAlertDisableToUse);
				}
			},
		});
	}
	
	let CheckNickname = () => {
		let strNickname = $('#member_nick').val();

		if (!isValidationOnlyEngOrKrOrNumber(strNickname)) {
			alert('닉네임은 한글, 영어, 숫자만 가능합니다');
			return;
		}

		$.ajax({
			type : "POST",
			url : "/manage_partner_popup/request_confirmagentnickname",
			data : {strNickname:strNickname},
			success : (data) => {

				if ( data == 'OK' )
				{
					bCheckNickname = true;
					alert(strAlertEnableToUse);
				}
				else
				{
					alert(strAlertDisableToUse);
				}
			},
		});
	}

	let InitOutputPassword = () => {

		let objectData = agent;

		$.ajax({
			type:'POST',
			url:'/manage_partner_popup/request_initoutputpass',
			data:objectData,
			success: (data) => {

				if ( data.result == 'OK' )
				{
					alert(strAlertComplete);
				}
			}
		});
	}

	let replaceCharacter = (str, index, char) => {

		let array = str.split('');
		array.splice(index, 1);
		array.splice(index, 0, char);

		let ret = array.toString();
		return ret.replace(/,/g, "");
	}

	let OnClickBankInfo = (strNickname) => {
		let input = prompt('비밀번호를 입력해주세요');
		if (input == null) {
			return;
		} else if (input.length == 0) {
			alert(`비밀번호를 입력하지 않았습니다`);
			return;
		}
		RequestBankInfo(strNickname, input);
	}

	let RequestBankInfo = (strNickname, input) => {
		$.ajax({
			type:'POST',
			url:'/manage_partner_popup/request_bank',
			data: {strNickname: strNickname, input: input},
			success: (data) => {

				if ( data.result == 'OK' )
				{
					$("#bank_owner").removeAttr("disabled");
					$('#bank_owner').val(data.bankOwner);
					$("#bank_name").removeAttr("disabled");
					$('#bank_name').val(data.bankname);
					$("#bank_num").removeAttr("disabled");
					$('#bank_num').val(data.bankAccount);
					$("#cell").removeAttr("disabled");
					$('#cell').val(data.cell);
					$('#member_password').val(data.pass);
					$("#member_password").removeAttr("disabled");
					$('#member_password2').val(data.pass);
					$("#member_password2").removeAttr("disabled");
					<% if (agent.iRootClass <= 3 && agent.iClass >= 3 && agent.iClass <= 5) { %>
						$('#settle_option').empty();
						$('#settle_option').append(`
							<table>
								<colgroup>
									<col style="width:15%">
									<col style="width:35%">
									<col style="width:15%">
									<col style="width:35%">
								</colgroup>
								<p style="background-repeat:no-repeat; background-position:left center; font-size:16px; color:#454545; padding-left:22px;">죽장 옵션</p>
								<tr>
									<th scope="row">죽장주기</th>
									<td>
										<input type='radio'
											   name='radio_settle_days'
											   value='15'
											   style='height: 32px; width: 20px; font-size: 15px; margin-right: 10px; padding-right: 10px;'
											   onclick='OnClickSettleDays(15)'/>15일
										&ensp;
										<input type='radio'
											   name='radio_settle_days'
											   value='10'
											   style='height: 32px; width: 20px; font-size: 15px; margin-right: 10px; padding-right: 10px;'
											   onclick='OnClickSettleDays(10)'/>10일
										&ensp;
										<input type='radio'
											   name='radio_settle_days'
											   value='5'
											   style='height: 32px; width: 20px; font-size: 15px; margin-right: 10px; padding-right: 10px;'
											   onclick='OnClickSettleDays(5)'/>5일
									</td>
									<th scope="row">리셋여부</th>
									<td>
										<input type='radio'
											   name='radio_settle_type'
											   value='0'
											   style='height: 32px; width: 20px; font-size: 15px; margin-right: 10px; padding-right: 10px;'
											   onclick='OnClickSettleType(0)'/>누적
										&ensp;
										<input type='radio'
											   name='radio_settle_type'
											   value='1'
											   style='height: 32px; width: 20px; font-size: 15px; margin-right: 10px; padding-right: 10px;'
											   onclick='OnClickSettleType(1)'/>리셋
									</td>
								</tr>
							</table>
						`);
						iSettleDays = data.iSettleDays ?? -1;
						iSettleType = data.iSettleType ?? -1;
						$('input[name="radio_settle_days"]').filter(`[value=${iSettleDays}]`).prop("checked", true);
						$('input[name="radio_settle_type"]').filter(`[value=${iSettleType}]`).prop("checked", true);
					<% } %>
				}
				else
				{
					alert(data.msg);
				}
			}
		});
	}
	
	let ModifyAgentInfo = () => {

		let objectData = {};
		const strNickname = $('#member_nick').val();
		const strMobile = $('#cell').val();
		const strID = $('#member_id').val();
		const strPassword = $('#member_password').val();
		const strPasswordConfirm = $('#member_password2').val();
		const strBankname = (bUsingPC == true) ? agent.strBankname : $('#bank_name').val();
		const strBankAccount = (bUsingPC == true) ? agent.strBankAccount : $('#bank_num').val();
		const strBankOwner = (bUsingPC == true) ? agent.strBankOwner : $('#bank_owner').val();

		if (strNickname != agent.strNickname) {
			if (!isValidationOnlyEngOrKrOrNumber(strNickname)) {
				alert('닉네임은 한글, 영어, 숫자만 가능합니다');
				return;
			}
			if (bCheckNickname == false) {
				alert(strAlertNeedToDuplicationCheckNickname);
				return;
			}
		}
		if (strID != agent.strID) {
			if (!isValidationOnlyEngOrNumber(strID)) {
				alert('아이디는 영어, 숫자만 가능합니다');
				return;
			}
			if (bCheckID == false) {
				alert(strAlertNeedToDuplicationCheckID);
				return;
			}
		}

		let fSlotR = agent.fSlotR;
		let fBaccaratR = agent.fBaccaratR;
		let fUnderOverR = agent.fUnderOverR;
		let fPBR = agent.fPBR;
		let fPBSingleR = agent.fPBSingleR;
		let fPBDoubleR = agent.fPBDoubleR;
		let fPBTripleR = agent.fPBTripleR;
		let fSettleBaccarat = agent.fSettleBaccarat;
		let fSettleSlot = agent.fSettleSlot;
		let fSettlePBA = agent.fSettlePBA;
		let fSettlePBB = agent.fSettlePBB;
		let iPBLimit = agent.iPBLimit;
		let iPBSingleLimit = agent.iPBSingleLimit;
		let iPBDoubleLimit = agent.iPBDoubleLimit;
		let iPBTripleLimit = agent.iPBTripleLimit;
		let strOptionCode = agent.strOptionCode;
		let strPBOptionCode = agent.strPBOptionCode;

		let iRootClass = parseInt(agent.iRootClass);
		let iClass = parseInt(agent.iClass);

		if ( iRootClass <= 3 || (iRootClass < iClass) ) {
			fSlotR = $('#fSlotR').val();
			fBaccaratR = $('#fBaccaratR').val();
			fUnderOverR = $('#fUnderOverR').val();
			fSettleBaccarat = $('#fSettleBaccarat').val();
			fSettleSlot = $('#fSettleSlot').val();

			let strUsingInput = $('#using_input').attr('checked');
			let strUsingOutput = $('#using_output').attr('checked');
			let strUsingPC = $('#using_pc').attr('checked');
			let strUsingPassNewUser = $('#using_pass_new_user').attr('checked');
			if (strUsingPassNewUser != undefined) {
				bUsingPassNewUser = true;
			} else {
				bUsingPassNewUser = false;
			}

			if ( strUsingPC != undefined ) {
				strOptionCode = '00100000';
			} else {
				if ( strUsingInput != undefined ) {
					strOptionCode = replaceCharacter(strOptionCode, 0, '1');
				} else {
					strOptionCode = replaceCharacter(strOptionCode, 0, '0');
				}
				if ( strUsingOutput != undefined ) {
					strOptionCode = replaceCharacter(strOptionCode, 1, '1');
				} else {
					strOptionCode = replaceCharacter(strOptionCode, 1, '0');
				}
			}

			<% if (agent.iRootClass == 2 && agent.iPermission != 100) { %>
				// let iInputGrade = $("input[name='input_grade']:checked").val();
				// strOptionCode = replaceCharacter(strOptionCode, 3, iInputGrade.toString());
			<% } %>
		}

		if (parseFloat(fSlotR) < 0 || parseFloat(fBaccaratR) < 0 || parseFloat(fUnderOverR) < 0) {
			alert('롤링 설정값을 확인해주세요');
			return;
		}
		if (parseFloat(fSettleBaccarat) < 0 || parseFloat(fSettleSlot) < 0) {
			alert('죽장 설정값을 확인해주세요');
			return;
		}

		<% if (agent.iRootClass <= 3 && agent.iClass >= 3 && agent.iClass <= 5) { %>
			if (iSettleDays == -1) {
				alert('정산주기를 선택해주세요');
				return;
			} else if (iSettleType == -1) {
				alert('리셋여부를 선택해주세요');
				return;
			}
		<% } %>

		objectData.strNickname = strNickname;
		objectData.strMobile = strMobile;
		objectData.strID = strID;
		objectData.strPassword = strPassword;
		objectData.strPasswordConfirm = strPasswordConfirm;
		objectData.strBankname = strBankname;
		objectData.strBankAccount = strBankAccount;
		objectData.strBankOwner = strBankOwner;
		objectData.strOptionCode = strOptionCode;
		objectData.strPBOptionCode = strPBOptionCode;
		objectData.strOriginNickname = agent.strNickname;
		objectData.strOriginID = agent.strID;
		objectData.fSlotR = fSlotR;
		objectData.fBaccaratR = fBaccaratR;
		objectData.fUnderOverR = fUnderOverR;
		objectData.fSettleBaccarat = fSettleBaccarat;
		objectData.fSettleSlot = fSettleSlot;
		objectData.fSettlePBA = fSettlePBA;
		objectData.fSettlePBB = fSettlePBB;
		objectData.strEditorNickname = agent.iRootNickname;
		objectData.iPassCheckNewUser = bUsingPassNewUser ? 1 : 0;
		<% if (agent.iRootClass <= 3 && agent.iClass >= 3 && agent.iClass <= 5) { %>
			objectData.iSettleDays = iSettleDays;
			objectData.iSettleType = iSettleType;
		<% } %>

		if ( strPassword != strPasswordConfirm ){
			alert(strAlertDifferentPasswordAndConfirm);
			return;
		}

		$.ajax({
			type:'POST',
			url:'/manage_partner_popup/request_agentinfo_modify',
			data:objectData,
			success: (data) => {

				if ( data.result == 'OK' )
				{
					alert(strAlertComplete);
					self.close();
				}
				else
				{
					if ( data.code == 'Impossible' )
					{
						alert('해당 에이전트의 아이디 및 닉네임을 변경할 수 없습니다.');
					}
					else if ( data.code == 'UnknownUser' )
					{
						alert('에이전트 조회에 실패 하였습니다.');
					}
					else if ( data.code == 'GreaterThanParent' )
					{
						alert('상위 보다 값이 커서 변경 할 수 없습니다.');
					}
					else if ( data.code == 'LessThanChild' )
					{
						alert('하위보다 값이 작아 변경 할 수 없습니다.');
					}
					else if (data.msg != null && data.msg != '' ) {
						alert(data.msg);
					}
					else
					{
						alert(strAlertError);
					}
				}
			}
		});
	};

	let OnClickClose = () => {
		window.close();
	}
	let OnClickSettleDays = (days) => {
		iSettleDays = days;
	}
	let OnClickSettleType = (type) => {
		iSettleType = type;
	}
</script>
	
<script type="text/javascript" src="js/manage_partner_popup_menu.js"></script>
