
<div style="height:5px;"></div>
<div class="list">
	<div class="search_wrap">
			<p style="background-repeat:no-repeat; background-position:left center; font-size:20px; color:#454545; padding-left:22px;margin-top:10px;height:30px;margin-bottom:5px;"><%=__('User')%> <%=__('RecordOutput')%>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				<div style="background-color:#ffffff;text-align:right;padding-right:5px;padding-top:10px;padding-bottom:10px;" colspan="19">
					<input style="margin-left:180px;width:100px;" type="text" id="datepicker1" class="datepicker"/>~
					<input style="width:100px;" type="text" id="datepicker2" class="datepicker" />
		
					<button class="btn_blue" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnClickSearchInput();"><%=__('Search')%></button>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<%=__('Search')%>
					<select id="select_search" style="width:80px;">
						<option value="Nickname"><%=__('Nickname')%></option>
					</select>
		
					<input type="text" value="" style="width:10%;"id="strSearchNickname">
					<button class="btn_blue" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnClickSearchInput();"><%=__('Search')%></button>
		
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
			<table class="search_list">
			<thead>
				<tr>
					<th width="4%"><%=__('Index')%></th>
					<th width="6%"><%=__('Token')%></th>
					<th width="5%"><%=__('Nickname')%></th>
					<th width="8%"><%=__('CashBeforeOutput')%></th>
					<th width="8%"><%=__('Output')%></th>
					<th width="9%"><%=__('OutputHolderName')%></th>
					<th width="8%"><%=__('DateRequest')%></th>
					<th width="8%"><%=__('DateProcess')%></th>
					<th width="8%">가입일</th>
				</tr>
			</thead>
			<tbody id="input_list">
			<tr>
				<td style="color:red;"><%=__('Total')%></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			</tbody>
		</table>

		<div class="pagination mt0" id="pagination">
		</div>
	</div>
</div>

<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript" src="js/enum.js"></script>
<script type="text/javascript" src="js/manage_partner_popup_menu.js"></script>
<script type="text/javascript" src="js/manage_inout_ref.js"></script>
<script type="text/javascript" src="js/pagination.js"></script>
<script type="text/javascript">
	var agent = JSON.parse('<%-JSON.stringify(agent)%>');
	
	DatePicker();
	$("#datepicker1").val(GetCurrentDateBefore(30));
    $("#datepicker2").val(GetCurrentDate());

	let iLimit = 30;
	let iCurrentPage = 1;
	let searchKey = '';

	$(document).ready(() => {
		OnClickSearchInput();
	});

	let OnClickSearchInput = () => {

		let date1 = $("#datepicker1").val();
        let date2 = $("#datepicker2").val();

		let strNickname = $('#strSearchNickname').val();

		$.ajax(
            {
                type:'post',
                url: "/manage_inout/request_searchby",
                context: document.body,
                data:{
					type:'OUTPUT',
					dateStart:date1,
					dateEnd:date2,
					strGroupID:agent.strGroupID,
					strSearchNickname:strNickname,
					iClass:agent.iClass,
					iLimit:iLimit,
					iPage:iCurrentPage,
					input:searchKey,
				},
        
                success:function(obj) {

					console.log(obj);

					const total = obj.totalCount ?? 0;
					SetList(obj.data, getNo(iLimit, total, iCurrentPage, 0));

					$('#pagination').empty();
					$('#pagination').append(getPagination(iLimit, obj.totalCount, iCurrentPage));
                }
            }
        );
	}

	let OnClickPage = (iPage) => {
		if (iPage < 1) {
			return;
		}
		iCurrentPage = iPage;
		OnClickSearchInput();
	}

	let SetList = (data, startIndex) =>
	{
		let iTotal = 0;

		$('#input_list').empty();
		for ( let i in data )
		{
			if ( data[i].eState == 'COMPLETE' )
			{
				let tag = `
				<tr>
					<td>${parseInt(startIndex)-i}</td>
					<td>${data[i].id}</td>
					<td>${data[i].strID}</td>
					<td>${data[i].iPreviousCash.toLocaleString()}</td>
					<td>${data[i].iAmount.toLocaleString()}</td>
					<td>${data[i].strAccountOwner}</td>
					<td>${data[i].createdAt}</td>
					<td>${data[i].updatedAt}</td>
					<td>${data[i].userCreatedAt}</td>
				</tr>
				`;
				$('#input_list').append(tag);

				iTotal += parseInt(data[i].iAmount);
			}
		}

		let endtag = `
			<td style="color:red;"><%=__('Total')%></td>
			<td></td>
			<td></td>
			<td></td>
			<td>${iTotal.toLocaleString()}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		`;
		$('#input_list').append(endtag);
	}

</script>

<div id="top_payment_alarm_area" style="text-align:right;top:15px;left:85%;width:10%;z-index:1000;position:absolute;">
</div>