<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <title>지분자 보기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/js/placeholders.js"></script>
    <script type="text/javascript" src="/js/layout.js"></script>
    <script type="text/javascript" src="/js/common_js.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/general.css"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
</head>
<body>

<!-- content 시작 -->
<div class="content" style="position:relative; padding:0 10px 0 10px;">

    <div class="list_tit">
        <h3 style="font-size:35px;color:yellow;font-weight:bold;padding-top:10px; font-family: 'Hahmlet', serif;">지분자 보기</h3>
    </div>
    <!-- 네비게이션 종료 -->
    <div class="write">

        <form name="frm" action="member_write_action.php" target="_fra_admin" method="post"  enctype="multipart/form-data">
            <input type="hidden" name="vmode" value="popup"/>

            <p style="background-repeat:no-repeat; background-position:left center; font-size:16px; color:#454545; padding-left:22px;">지분자 정보</p>

            <table>
                <caption><%=__('BoardWrite')%> <%=__('Register')%></caption>
                <colgroup>
                    <col style="width:15%;">
                    <col style="width:35%;">
                    <col style="width:15%;">
                    <col style="width:31%;">
                </colgroup>
                <tr>
                    <th scope="row"> <%=__('Nickname')%></th>
                    <td>
                        <input type="text" style="width:70%;" name="nickname" required="no"  message="닉네임" id="nickname" disabled="disabled">
                    </td>
                    <th scope="row">지분율(%)</th>
                    <td>
                        <input type="number" style="width:70%;" name="fShare" required="no"  message="지분율" id="fShare">%
                    </td>
                </tr>
            </table>

        </form>

        <div class="write_btn align_r mt35" id="bottom_btns">
            <button class="btn_red" style="background-color: red" onclick="DeleteShareUser();">삭제</button>
            <button class="btn_modify" onclick="UpdateShareUser();"><%=__('Save')%></button>
            <a href="javascript:self.close();" class="btn_list"><%=__('Close')%></a>
        </div>
    </div>
</div>
</div>
<script type="text/javascript", src="js/manage_user_popup_menu.js"></script>
<script type="text/javascript">
    var agent = JSON.parse('<%-JSON.stringify(agent)%>');
    var user =  JSON.parse('<%-JSON.stringify(user)%>');


    console.log(agent);
    console.log(user);

    let strNickname = user.strNickname;
    let fShare = user.fShareR;

    checkBlockNum(`#fShare`);

    $('#nickname').val(strNickname);
    $('#fShare').val(fShare);

    let UpdateShareUser = () => {

        const strNickname = $('#nickname').val();
        const fShareR = $('#fShare').val();

        $.ajax(
            {
                type:'post',
                url: "/manage_partner_popup/update_share_user",
                context: document.body,
                data:{
                    fShareR: fShareR,
                    strNickname:strNickname,
                },
                success:function(data) {
                    if ( data.result == 'OK' )
                    {
                        alert(data.msg);
                        opener.location.reload();
                        window.close();
                    }
                    else
                    {
                        alert(data.msg);
                    }
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            }
        );
    }

    let DeleteShareUser = () => {
        if (!confirm('삭제하시겠습니까')) {
            return;
        }

        const strID = agent.strID;
        const strNickname = $('#nickname').val();
        if (strNickname == '' || strNickname == undefined) {
            alert("닉네임을 입력해주세요.");
            return;
        }

        $.ajax(
            {
                type:'post',
                url: "/manage_partner_popup/delete_share_user",
                context: document.body,
                data:{
                    strID: strID,
                    strNickname:strNickname,
                },
                success:function(data) {
                    if ( data.result == 'OK' )
                    {
                        alert(data.msg);
                        opener.location.reload();
                        window.close();
                    }
                    else
                    {
                        alert(data.msg);
                    }
                },
                error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            }
        );
    }
</script>

<div id="top_payment_alarm_area" style="text-align:right;top:15px;left:85%;width:10%;z-index:1000;position:absolute;">

</div>

</body>
</html>