<div style="height:5px;"></div>

<div class="list">
	<div class="search_wrap">

			<p style="background-repeat:no-repeat; background-position:left center; font-size:20px; color:#454545; padding-left:22px;margin-top:10px;height:30px;margin-bottom:5px;">로그기록
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</p>

			<div style="background-color:#ffffff;text-align:right;padding-right:5px;padding-top:10px;padding-bottom:10px;" colspan="19">
				<input style="margin-left:180px;width:100px;" type="text" id="datepicker1" class="datepicker"/>~
				<input style="width:100px;" type="text" id="datepicker2" class="datepicker" />
	
				<button class="btn_blue" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnClickSearchInput(false);"><%=__('Search')%></button>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%=__('Search')%>
				<select id="select_search" style="width:80px;">
					<option value="Nickname"><%=__('Nickname')%></option>
				</select>
	
				<input type="text" value="" style="width:10%;"id="strSearchNickname">
				<button class="btn_blue" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnClickSearchInput(true);"><%=__('Search')%></button>
	
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
			<table class="search_list">
				<thead>
					<tr>
						<th width="5%"><%=__('Index')%></th>
						<th width="75%">변경사항</th>
						<th width="10%">변경자명</th>
						<th width="10%">등록일</th>
					</tr>
				</thead>
			<tbody id="log_list">
			</tbody>
		</table>
		
		<div class="pagination mt0">
			<a href="javascript:get_data('inner_partner_list2.php', 'inner_content', 's_sido=13&s_gugun=parent_level=4&s_date=&e_date=&s_cate=&pageNo=1');" class="on" style="color:#ffffff;">1</a>
		</div>
	</div>
</div>

<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript" src="js/enum.js"></script>
<script type="text/javascript" src="js/manage_partner_popup_menu.js"></script>
<script type="text/javascript" src="js/manage_inout_ref.js"></script>
<script type="text/javascript">
	let agent = JSON.parse('<%-JSON.stringify(agent)%>');

	$(document).ready(() => {
		DatePicker();
		$("#datepicker1").val(GetCurrentDateBefore(30));
		$("#datepicker2").val(GetCurrentDate());

		OnClickSearchInput();
	});

	let OnClickSearchInput = () => {

		let date1 = $("#datepicker1").val();
        let date2 = $("#datepicker2").val();
		let strNickname = agent.strNickname;

		$.ajax(
            {
                type:'post',
                url: "/manage_user_popup/request_logs",
                data:{dateStart:date1, dateEnd:date2, strNickname:strNickname},
        
                success:function(data) {
					SetList(data);
                }
            }
        );
	}

	let SetList = (data) =>
	{
		$('#log_list').empty();
		for ( let i in data )
		{
			let tag = `
				<tr>
					<td>${parseInt(i)+1}</td>
					<td>${data[i].strLogs}</td>
					<td>${data[i].strEditorNickname}</td>
					<td>${data[i].createdAt}</td>
				</tr>
				`;
			$('#log_list').append(tag);
		}
	}

</script>