<div class="sub_wrap">
    <div class="container clearfix">
        <div class="content" style="position:relative; padding:0 10px 0 10px;">
            <ul class="list_tab" style="margin-bottom:10px;width:100%;z-index:10000;" id="bettingrecord_header">
            </ul>
        </div>
        
        <div style="background-color:#ffffff;text-align:right;padding-right:5px;padding-top:0px;padding-bottom:0px;">
            <input style="margin-left:180px;width:100px;height:18px;" type="text" id="datepicker1" class="datepicker"/>~
            <input style="width:100px;height:18px;" type="text" id="datepicker2" class="datepicker" />

            <button class="btn_blue" id="button_toggle_record" style="width:100px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnClickRecord(false);"><%=__('Search')%></button>

            <%=__('Search')%>
            <select id="select_roomno" style="width:80px;">
                <option><%=__('Nickname')%></option>
            </select>
            <input style="margin-left:0px;width:100px;" id="strSearchNickname" type="text"/>
            <button class="btn_blue" id="button_toggle_record" style="width:100px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnClickRecord(true);"><%=__('Search')%></button>
            <select id="select_limit" style="width:80px; display: none;" >
                <option value="30">30개씩</option>
                <option value="50">50개씩</option>
                <option value="100">100개씩</option>
            </select>
        </div>
        
        <div class="list">
            <div class="list_tit">
                <h3>비보 베팅내역
                </h3>
            </div>

            <div class="list">
                <div class="search_wrap">	
                    <table class="search_list">
                            <caption><%=__('SearchResult')%></caption>
                            <colgroup>
                                <col style="width:3%;">
                                <col style="width:5%;">
                                <col style="width:7%;">
                                <col style="width:7%;">
                                <col style="width:7%;">
                                <col style="width:7%;">
                                <col style="width:7%;">
                                <col style="width:7%;">
                                <col style="width:7%;">
                                <col style="width:7%;">
                                <col style="width:15%;">
                                <col style="width:10%;">
                                <col style="width:10%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">번호</th>
                                    <th scope="col">벤더</th>
                                    <th scope="col">테이블</th>
                                    <th scope="col"><%=__('Round')%></th>
                                    <th scope="col"><%=__('Nickname')%></th>
                                    <th scope="col"><%=__('BettingOriginCash')%></th>
                                    <th scope="col"><%=__('BettingAccount')%></th>
                                    <th scope="col"><%=__('BettingAmount')%></th>
                                    <th scope="col"><%=__('BettingWin')%></th>
                                    <th scope="col">베팅후 금액</th>
                                    <th scope="col"><%=__('BettingTime')%></th>
                                    <th scope="col">배팅 처리</th>
                                    <th scope="col">비고</th>
                                </tr>
                            </thead>
                            <tbody id="record_list">
                                
                            <tr>
                        </tbody>
                    </table>

                    <div class="pagination mt0" id="pagination">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/enum.js"></script>
<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript" src="js/manage_bettingrecord_menu.js"></script>
<script type="text/javascript" src="js/manage_setting_ref.js"></script>
<script type="text/javascript" src="js/pagination.js"></script>
<script type="text/javascript" src="js/socket.js"></script>
<script>
    let user = JSON.parse('<%-JSON.stringify(user)%>');
    let iocount = JSON.parse('<%-JSON.stringify(iocount)%>');

    let iCurrentPage = 1;
    let iLimit = 30;
    $('#select_limit').on("change", function () {
        iLimit = this.value;
    });

    $(document).ready(() => {
        DatePicker();
        $('#datepicker1').val(GetCurrentDate());
        $('#datepicker2').val(GetCurrentDate());

        Alert(iocount, "<%=__('RequestInput')%>", "<%=__('RequestOutput')%>","<%=__('LetterSend')%>");

        SetBettingRecordHeader(2, user.iRootClass);

        OnClickRecord(false);
    });

    let GetBettingTarget = (iTarget, strTableID, color) => {
        const colorBlue = '#52acff';
                    const colorRed = '#da5656';
                    const colorGreen = '#15ca2d';
                    const colorOrange = '#e7af16';

                    const fontSize = '15px';

        let tagTarget = `<td style="background-color:${color};font-size:${fontSize};"></td>`;

        let cBettingTarget = iTarget;

        switch ( cBettingTarget )
        {
            case 0:
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};color:${colorGreen};">T</td>`;
                break;
            case 1:
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};color:${colorBlue};">P</td>`;
                break;
            case 2: //  Banker
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};color:${colorRed};">B</td>`;
                break;
            case 3:
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};"><font style="color:${colorBlue}">P</font>-Pair</td>`;
                break;
            case 4:
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};"><font style="color:${colorRed}">B</font>-Pair</td>`;
                break;
            case 5: //  Either Pair
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};color:${colorBlue};">E-Pair</td>`;
                break;
            case 6: //  Perfect Pair
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};color:${colorRed};">Perfect Pair</td>`;
                break;
            case 7: //  Player Bonus
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};color:${colorBlue};">P-Bonus</td>`;
                break;
            case 8: //  Banker Bonus
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};color:${colorRed};">B-Bonus</td>`;
                break;


            case 100:
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};"><font style="color:${colorBlue}">P</font>-<font style="color:${colorRed}">Under</font></td>`;
                break;
            case 101:
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};"><font style="color:${colorBlue}">P</font>-<font style="color:${colorBlue}">Over</font></td>`;
                break;
            case 102:
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};"><font style="color:${colorRed}">B</font>-<font style="color:${colorRed}">Under</font></td>`;
                break;
            case 103:
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};"><font style="color:${colorRed}">B</font>-<font style="color:${colorBlue}">Over</font></td>`;
                break;

            case 400:
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};color:${colorOrange};">Roulette</td>`;
                break;
            case 500:
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};color:${colorOrange};">Blackjack</td>`;
                break;
            case 600:
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};color:${colorOrange};">DragonTiger</td>`;
                break;
            case 700:
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};color:${colorOrange};">Holdem</td>`;
                break;
            case 800:
                tagTarget = `<td style="background-color:${color};font-size:${fontSize};color:${colorOrange};">Teen Patti</td>`;
                break;
        }            
        return tagTarget;
    }

    let RequestRecord = (dateStart, dateEnd, strNickname) => {
        $.ajax({
            url:"/manage_bettingrecord/request_record",
            type:"POST",
            context: document.body,
            data : {
                strNickname:strNickname,
                strGroupID:user.strGroupID,
                iClass:user.iClass,
                dateStart:dateStart,
                dateEnd:dateEnd,
                strVender:'VIVO',
                iComplete:'0,1,2',
                iLimit:iLimit,
                iPage:iCurrentPage,
            },
            success: function (obj) {

                console.log(obj);

                if ( obj.result == 'OK' )
                {
                    $('#record_list').empty();

                    let records = obj.data;

                    const fontSize = '15px';

                    let objectTotal = {
                        iBetting:0,
                        iWin:0,
                        iTotal:0
                    };

                    for ( let i in records )
                    {
                        let color = '#FFFFFF';
                        if ( records[i].iWin > 0 ) {
                            color = '#d6f3c9';
                        }

                        objectTotal.iBetting += records[i].iBetting;
                        objectTotal.iWin += records[i].iWin;
                        objectTotal.iTotal = objectTotal.iBetting - objectTotal.iWin;

                        let cBettingTarget = parseInt(records[i].iTarget) % 1000;
                        let tagTarget = GetBettingTarget(records[i].iTarget, records[i].strTableID, color);
                        
                        let tag = `<tr>
                                        <td style="background-color:${color};">${getNo(iLimit, obj.totalCount, iCurrentPage, i)}</td>
                                        <td style="background-color:${color};">${records[i].strVender}</td>
                                        <td style="background-color:${color};">${records[i].strTableID}</td>
                                        <td style="background-color:${color};">${records[i].strRound}</td>
                                        <td style="background-color:${color};"><a style="color:blue;" onclick="OnClickNickname('${records[i].strNickname}')" href="#">${GetClassNickName(records[i].iClass, records[i].strNickname)}</a></td>
                                        <td style="background-color:${color};">${GetNumber(records[i].iPreviousCash)}</td>
                                        ${tagTarget}
                                        <td style="background-color:${color};color:blue;">${GetNumber(records[i].iBetting)}</td>
                                        <td style="background-color:${color};">${GetNumber(records[i].iWin)}</td>
                                        <td style="background-color:${color};">${GetNumber(records[i].iAfterCash)}</td>
                                        <td style="background-color:${color};">${records[i].createdAt}</td>
                                        <td style="background-color:${color};">${records[i].updatedAt ?? ''}</td>
                                        <td style="background-color:${color};"></td>
                                    </tr>`;
                        $('#record_list').append(tag);
                    }

                    let tagTotal = `<tr>
                                        <td colspan="7" style="font-weight: bold;">${strTotal}</td>
                                        <td style="color:blue;">${GetNumber(objectTotal.iBetting)}</td>
                                        <td style="color:red;">${GetNumber(objectTotal.iWin)}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>`;
                    $('#record_list').append(tagTotal);

                    $('#pagination').empty();
                    $('#pagination').append(getPagination(iLimit, obj.totalCount, iCurrentPage));
                }
            }
        });
    }

    let OnClickPage = (iPage) => {
        if (iPage < 1) {
            return;
        }
        iCurrentPage = iPage;
        const dateStart = $('#datepicker1').val();
        const dateEnd =  $('#datepicker2').val();
        let strNickname = $('#strSearchNickname').val();
        RequestRecord(dateStart, dateEnd, strNickname);
    }

    let OnClickRecord = (bNickname) => {
        const dateStart = $('#datepicker1').val();
        const dateEnd =  $('#datepicker2').val();
        let strNickname = $('#strSearchNickname').val();
        iCurrentPage = 1;
        RequestRecord(dateStart, dateEnd, strNickname);
    }
</script>
