<div class="sub_wrap">
    <div class="container clearfix">

        <% if ( parseInt(user.iClass) < 3 && user.iPermission != 100 ) { %>
            <ul style="float:right; margin-right:10px; position:relative; z-index:10;" class="clearfix">
                <a class="btn_blue" style="background-color: orange;color:white;" type="button" href="javascript:OnClickWritingLetter('');">지정 쪽지</a>
                <a class="btn_red" style="background-color: red;color:white;" type="button" href="javascript:OnClickGroupWritingLetter();"><%=__('LetterSendAll')%></a>
            </ul>
        <% } %>

        <div class="content" style="position:relative; padding:0 10px 0 10px;">
            <ul class="list_tab" style="margin-bottom:10px;width:75%;z-index:10000;" id="setting_header">
            </ul>
        </div>
    
        <div class="list">

            <div style="background-color:#ffffff;text-align:right;padding-right:5px;padding-top:0px;padding-bottom:0px;" colspan="19">

                <input style="margin-left:180px;width:100px;" type="text" id="datepicker1" class="datepicker"/>~
                <input style="width:100px;" type="text" id="datepicker2" class="datepicker" />
                <button class="btn_blue" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="RequestLetterListFromSearch();"><%=__('Search')%></button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <%=__('Confirm')%>
                <select id="letter_state" style="width:80px;">
                    <option value="ALL"><%=__('All')%></option>
                    <option value="READED"><%=__('Read')%></option>
                    <option value="UNREAD"><%=__('Unread')%></option>
                </select>
                <%=__('Search')%>
                <select style="width:80px;">
                    <option value="NICKNAME"><%=__('Nickname')%></option>
                </select>
                <input id="letter_sender" style="margin-left:0px;width:100px;" type="text"/>
                <button class="btn_blue" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="RequestLetterListFromSearch();"><%=__('Search')%></button>
                <select id="select_limit" style="width:80px;">
                    <option value="20">20개씩</option>
                    <option value="50">50개씩</option>
                    <option value="100">100개씩</option>
                </select>
            </div>

            
            <div class="search_wrap">
					
                <div class="list_tit" style="margin-top:20px;">
                    <h3><%=__('LetterListSended')%>
                    </h3>
                    <% if ( user.iPermission != 100 ) { %>
                        <button class="btn_add" type="button" onclick="OnClickWritingLetter('');">쪽지 쓰기</button>
                    <% } %>
                </div>
                    
                <table class="search_list">
                    <thead>
                        <tr>
                            <th width="3%"><input type="checkbox" id="chkAll" value=""></th>
                            <th width="3%"><%=__('Index')%></th>
                            <th width="4%"><%=__('Admin')%></th>
                            <th width="4%"><%=__('ProAdmin')%></th>
                            <th width="4%"><%=__('ViceAdmin')%></th>
                            <th width="4%"><%=__('Agent')%></th>
                            <th width="4%"><%=__('Shop')%></th>
                            <th width="30%"><%=__('Contents')%></th>
                                <!-- <th width="10%">본사 닉네임</th> -->
                            <th width="10%"><%=__('Nickname')%></th>
                            <th width="10%"><%=__('StateLetter')%></th>
                            <th width="10%">답변여부</th>
                            <th width="10%"><%=__('DateSend')%></th>
                            <th width="10%"><%=__('DateRead')%></th>
                            <th width="5%"><%=__('Type')%></th>
                            <% if ( parseInt(user.iRootClass) <= 3 && user.iPermission != 100 ) { %>
                                <th width="5%"><%=__('Menu')%></th>
                            <%}%>
                        </tr>
                    </thead>
                    <tbody id="letter_list">

                    </tbody>
                </table>
                <button class="btn_del" id="remove_select" style="width:80px;height:25px;text-align:center;background-color: grey;color:white">선택삭제</button>
                <div class="pagination mt0" id="pagination">
                </div>
            </div>	
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="js/enum.js"></script>
<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript" src="js/manage_partner_ref.js"></script>
<script type="text/javascript" src="js/manage_setting_menu.js"></script>
<script type="text/javascript" src="js/manage_setting_ref.js"></script>
<script type="text/javascript" src="js/socket.js"></script>
<script type="text/javascript" src="js/pagination.js"></script>
<script>
    let user = JSON.parse('<%-JSON.stringify(user)%>');
    let iocount = JSON.parse('<%-JSON.stringify(iocount)%>');

    let iCurrentPage = 1;
    let iLimit = 20;

    $('#select_limit').on("change", function () {
        iLimit = this.value;
    });

    $('#chkAll').on("click", function () {
        $('.chkGrp').attr('checked', this.checked);

        let groupIds = '';
        $(".chkGrp:checked").each((idx, item) => {
            if (idx === 0) {
                groupIds += item.value;
            } else {
                groupIds += ','+item.value;
            }
        });
        if (groupIds !== '') {
            $('#remove_select').css('background-color', 'red');
        } else {
            $('#remove_select').css('background-color', 'grey');
        }
    });

    $('#remove_select').on('click', function () {
        let groupIds = '';
        $(".chkGrp:checked").each((idx, item) => {
            if (idx == 0) {
                groupIds += item.value;
            } else {
                groupIds += ','+item.value;
            }
        });
        console.log(groupIds);
        if (groupIds == '') {
            alert('삭제할 항목을 선택해주세요');
            return;
        }
        if (confirm('선택 항목을 완전히 삭제하시겠습니까?')) {
            OnClickRemoveLetters(groupIds);
        }
    });

    let OnClickRemoveLetters = (ids) => {
        $.ajax({
            url:"/manage_setting_popup/request_letter_select_remove",
            type:"POST",
            context: document.body,
            data: {
                ids: ids,
                strNickname:user.strNickname,
                iClass:user.iClass,
                strGroupID:user.strGroupID,
            },
            success: function (obj) {
                console.log(obj);
                if (obj.result == 'OK') {
                    reload();
                } else {
                    alert(obj.msg);
                }
            }
        });
    }

    $(document).ready(() => {
        DatePicker();
        $("#datepicker1").val(GetCurrentDateBefore(30));
        $("#datepicker2").val(GetCurrentDate());

        SetSettingHeader(1, user.iClass);

        Alert(iocount, "<%=__('RequestInput')%>", "<%=__('RequestOutput')%>","<%=__('LetterSend')%>");
        AlertintervalSoundOff('alert_letter');
        AlertintervalSoundOff('alert_letter_reply');

        RequestLetterList(0);
    });

    let RequestLetterListFromSearch = () => {
        RequestLetterList(0);
    }

    let RequestLetterList = (iPage) => {

        const strKeyword = $('#letter_sender').val();
        const eState = $('#letter_state').val();
        const eSender = $('#letter_sender').val();
        const dateStart = $('#datepicker1').val();
		const dateEnd = $('#datepicker2').val();

        console.log(eState);
        console.log(eSender);

        $.ajax({
            url:"/manage_setting_popup/request_letterrecord",
            type:"POST",
            context: document.body,
            data: {
                iPage:iPage,
                eState:eState,
                eSender:eSender,
                strNickname:user.strNickname,
                strGroupID:user.strGroupID,
                iClass:user.iClass,
                strKeyword:strKeyword,
                dateStart:dateStart,
				dateEnd:dateEnd,
                iLimit:iLimit,
                iPage:iCurrentPage
            },
            success: function (obj) {

                console.log(obj);
                $('#letter_list').empty();

                $('#pagination').empty();
                $('#pagination').append(getPagination(iLimit, obj.totalCount, iCurrentPage));

                $('#remove_select').css('background-color', 'grey');

                let letters = obj.letters;
                let totalCount = (obj.totalCount);
                let iStartIndex = totalCount;
                if (iCurrentPage > 1) {
                    iStartIndex = totalCount - (iCurrentPage-1)*iLimit;
                }

                for ( let i in letters )
                {
                    let iIndex = iStartIndex - i;
                    let color = 'blue';
                    let color2 = 'black';
                    let color3 = 'black';
                    let eRead = strRead;
                    let reply = '대기';
                    let strRead2 = letters[i].updatedAt;
                    if ( letters[i].eRead == 'UNREAD' )
                    {
                        eRead = strUnread;
                        strRead2 = ''
                        color = 'red';
                        color2 = 'red';
                    }
                    else if ( letters[i].eRead == 'REPLY' )
                    {
                        if (letters[i].strFrom == user.strNickname) {
                            eRead = '답변미확인';
                            color2 = 'red';
                        } else {
                            reply = '답변완료';
                        }
                    }
                    else if ( letters[i].eRead == 'REPLY_READED' )
                    {
                        reply = '답변완료';
                    }
                    let eState = strNormal;
                    if ( letters[i].eType == 'ANNOUNCE' )
                        eState = strAnnouncement;

                    let strModified = letters[i].strContents.replace(/(<br>)/g,' ');

                    let tag =
                    `
                    <tr height="30">
                        <td><input type="checkbox" id="chk" class="chkGrp" value="${letters[i].id}"></td>
                        <td>${iIndex}</td>
                        <% if (user.iRootClass <= 3) { %>
                            <td><a href="#" onclick="OnClickNickname('${letters[i].strAdminNickname}')">${letters[i].strAdminNickname}</a></td>
                            <td><a href="#" onclick="OnClickNickname('${letters[i].strPAdminNickname}')">${letters[i].strPAdminNickname}</a></td>
                            <td><a href="#" onclick="OnClickNickname('${letters[i].strVAdminNickname}')">${letters[i].strVAdminNickname}</a></td>
                            <td><a href="#" onclick="OnClickNickname('${letters[i].strAgentNickname}')">${letters[i].strAgentNickname}</a></td>
                            <td><a href="#" onclick="OnClickNickname('${letters[i].strShopNickname}')">${letters[i].strShopNickname}</a></td>
                            <td><a id="content_${letters[i].id}" style="text-align:left;padding-left:10px;color:${color};" href="#" onclick="OnClickRead('${letters[i].id}','${letters[i].strTo}','${letters[i].eRead}');">${strModified}</a></td>
                            <td><a href="#" onclick="OnClickNickname('${letters[i].strTo}')">${GetClassNickName(letters[i].iClassTo, letters[i].strTo)}</a></td>
                        <% } else { %>
                            <td>${letters[i].strAdminNickname}</td>
                            <td>${letters[i].strPAdminNickname}</td>
                            <td>${letters[i].strVAdminNickname}</td>
                            <td>${letters[i].strAgentNickname}</td>
                            <td>${letters[i].strShopNickname}</td>
                            <td><a style="text-align:left;padding-left:10px;color:${color};" href="#" onclick="OnClickRead('${letters[i].id}','${letters[i].strTo}','${letters[i].eRead}');">${strModified}</a></td>
                            <td>관리자</td>
                        <% } %>
                        <td id="readState_${letters[i].id}" style="color: ${color2};">${eRead}</td>
                        <td style="color: ${color3};">${reply}</td>
                        <td>${letters[i].createdAt}</td>
                        <td id="readDate_${letters[i].id}">${strRead2}</td>
                        <td>${eState}</td>
                        <% if ( parseInt(user.iRootClass) <= 3 && user.iPermission != 100 ) { %>
                            <td><a class="btn_red" href="#" onclick="OnClickRemoveLetters('${letters[i].id}');">${strRemove}</a></td>
                        <% } %>
                    </tr>
                    `;
                    $('#letter_list').append(tag);

                    $('.chkGrp').on("click", function () {
                        let groupIds = '';
                        $(".chkGrp:checked").each((idx, item) => {
                            if (idx == 0) {
                                groupIds += item.value;
                            } else {
                                groupIds += ','+item.value;
                            }
                        });
                        if (groupIds !== '') {
                            $('#remove_select').css('background-color', 'red');
                        } else {
                            $('#remove_select').css('background-color', 'grey');
                        }
                    });
                }
            }
        });
    }

    function reload() {
        RequestLetterList(iCurrentPage);
    }

    let OnClickRead = (id, strTo, eRead) => {
        // if (eRead == 'UNREAD') {
        //     $(`#content_${id}`).css('color', 'blue');
        //     $(`#readState_${id}`).css('color', 'black');
        //     $(`#readState_${id}`).text('읽음')
        //     $(`#readDate_${id}`).text(new Date());
        // }
        ReadLetter(id, strTo, 1);
        if (eRead == 'UNREAD' || eRead == 'REPLY') {
            reload();
        }
    }

    let OnClickPage = (iPage) => {
        if (iPage < 1) {
            return;
        }
        iCurrentPage = iPage;
        RequestLetterList(iCurrentPage);
    }
</script>