<div style="height:5px;"></div>
<div class="list">
	<div class="search_wrap" id="div_realtimebet_overview">
	</div>
	<div style="background-color:#ffffff;text-align:right;padding-right:5px;padding-top:10px;padding-bottom:10px;" colspan="19">
		<input style="margin-left:180px;width:100px;" type="text" id="datepicker1" class="datepicker"/>~
		<input style="width:100px;" type="text" id="datepicker2" class="datepicker" />
		&nbsp;
		<button class="menu1" id="button_search" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;" onclick="OnClickSearch(8, '<%=agent.strGroupID%>', '<%=agent.iClass%>');"><%=__('Search')%></button>
		&nbsp;
		<button class="menu5" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;" onclick="OnClickTodayRecord();"><%=__('Today')%></button>
		&nbsp;
		<button class="menu1" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;" onclick="OnClickMonthly1stRecord();"><%=__('Half1')%></button>
		&nbsp;
		<button class="menu1" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;" onclick="OnClickMonthly2ndRecord();"><%=__('Half2')%></button>
		&nbsp;
		<button class="btn_blue" id="button_toggle_record" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;background-color: rgb(136, 136, 248);color:white" onclick="OnClickMonthlyRecord();"><%=__('Open')%></button>
		<select id="select_limit" style="width:80px; display: none;" >
			<option value="30">30개씩</option>
			<option value="50">50개씩</option>
			<option value="100">100개씩</option>
		</select>
	</div>
	<div class="search_wrap" id="div_realtimebet_overview_record">
		<div id="table_record_list" class="day_tot_list_area" style="margin-top:20px;">
			<table class="search_list" style="margin-bottom:20px;">
				<thead>
					<tr>
						<th width="7.5%" rowspan="2"><%=__('Date')%></th>
						<th width="5%" rowspan="2"><%=__('Input')%></th>
						<th width="5%" rowspan="2"><%=__('Output')%></th>
						<th width="6%" rowspan="2"><%=__('MyCoin')%></th>
						<th width="4%" rowspan="2"></th>
						<th width="45%" colspan="9"><%=__('Baccarat')%></th>
						<th width="6%" rowspan="2"><%=__('Evolution')%></th>
						<th width="5%" rowspan="2"><%=__('Blackjack')%></th>
						<th width="5%" rowspan="2"><%=__('Roulette')%></th>
						<th width="5%" rowspan="2"><%=__('Slot')%></th>
						<th width="5%" rowspan="2"><%=__('PowerBall')%></th>
						<th width="6.5%" rowspan="2"><%=__('Total')%></th>
					</tr>
					<tr>
						<th width="5%"><%=__('Tie')%></th>
						<th width="5%"><%=__('Player')%></th>
						<th width="5%"><%=__('PlayerUnder')%></th>
						<th width="5%"><%=__('PlayerOver')%></th>
						<th width="5%"><%=__('Banker')%></th>
						<th width="5%"><%=__('BankerUnder')%></th>
						<th width="5%"><%=__('BankerOver')%></th>
						<th width="5%"><%=__('PlayerPair')%></th>
						<th width="5%"><%=__('BankerPair')%></th>
						<th width="5%"><%=__('EitherPair')%></th>
						<th width="5%"><%=__('PerfectPair')%></th>
					</tr>
				</thead>
				<tbody id="tbody_record_list">
				</tbody>
			</table>
		</div>
	</div>

	<div class="search_wrap">
		
		<!-- <p style=" font-size:20px; color:#d6f3c9; padding-left:22px;margin-top:10px;height:30px;margin-bottom:5px;"></p> -->
		<p style=" font-size:20px; color:#454545; padding-left:22px;margin-top:10px;height:30px;margin-bottom:5px;"></p>
		<input type="hidden" name="data_member_idx" value=""/>
			<div style="text-align:right;padding-right:10px;margin-top:-40px;margin-bottom:10px;">
			</div>
	</div>
	<div class="search_wrap">
		<p style="background-repeat:no-repeat; background-position:left center; font-size:20px; color:#454545; padding-left:22px;margin-top:10px;height:30px;margin-bottom:5px;"><%=__('Baccarat')%> <%=__('RecordBetting')%></p>
		<table class="search_list">
			<caption><%=__('SearchResult')%></caption>
			<colgroup>
				<col style="width:3%;">
				<col style="width:5%;">
				<col style="width:7%;">
				<col style="width:7%;">
				<col style="width:7%;">
				<col style="width:7%;">
				<col style="width:5%;">
				<col style="width:5%;">
				<col style="width:5%;">
				<col style="width:7%;">
				<col style="width:7%;">
				<col style="width:7%;">
				<col style="width:10%;">
				<col style="width:10%;">
				<col style="width:7%;">
			</colgroup>
			<thead>
			<tr>
				<th scope="col">번호</th>
				<th scope="col">벤더</th>
				<th scope="col">테이블</th>
				<th scope="col"><%=__('Round')%></th>
				<th scope="col"><%=__('Nickname')%></th>
				<th scope="col"><%=__('BettingOriginCash')%></th>
				<th scope="col" colspan="3"><%=__('BettingAccount')%></th>
				<th scope="col"><%=__('BettingAmount')%></th>
				<th scope="col"><%=__('BettingWin')%></th>
				<th scope="col">베팅후 금액</th>
				<th scope="col"><%=__('BettingTime')%></th>
				<th scope="col">당첨 결과</th>
				<th scope="col">비고</th>
			</tr>
			</thead>
			<tbody id="betting_list">
			</tbody>
		</table>
		<div class="pagination mt0" id="pagination">
		</div>
		<input type="hidden" id="strSearchNickname" value="<%=agent.strNickname%>"/>
	</div>
</div>

<script type="text/javascript" src="js/enum.js"></script>
<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/manage_partner_ref.js"></script>
<script type="text/javascript" src="js/manage_partner_popup_ref.js"></script>
<script type="text/javascript" src="js/manage_bettingrecord_ref.js"></script>
<script type="text/javascript" src="js/manage_user_popup_menu.js"></script>
<script type="text/javascript" src="js/pagination.js"></script>
<script type="text/javascript">

	let agent = JSON.parse('<%-JSON.stringify(agent)%>');
	let objectOverview = JSON.parse('<%-JSON.stringify(overview)%>');
	let parents = JSON.parse('<%-JSON.stringify(parents)%>');

	let iCurrentPage = 1;
	let iLimit = 30;
	$('#select_limit').on("change", function () {
		iLimit = this.value;
	});

	$(document).on('click', '.menu1', (e) => {
		$('.menu5').attr('class', 'menu1');
		$(e.currentTarget).attr('class', 'menu5');
	});

	let bToggleRecord = false;
	let bClickDateSelection	= false;

	$(document).ready(() => {
		DatePicker();
		$('#datepicker1').val(GetCurrentDate());
		$('#datepicker2').val(GetCurrentDate());

		$("#table_record_list").hide();
		OnClickTodayRecord();
	});


	let OnClickTodayRecord = () => {

		bClickDateSelection	= true;

		$('#datepicker1').val(GetCurrentDate());
		$('#datepicker2').val(GetCurrentDate());

		bToggleRecord = true;
		$("#button_toggle_record").text("<%=__('Close')%>");

		RequestOverviewUser(EAgent.eUser, agent.strGroupID, agent.iClass, agent.strNickname);
		RequestBettingListOnPopup(EAgent.eUser, agent.strGroupID, agent.iClass, agent.iPermission, iLimit, iCurrentPage);
		RequestBettingRecordUser(EAgent.eUser, agent.strGroupID, agent.iClass, agent.strNickname);
	}

	let OnClickMonthly1stRecord = () => {

		bClickDateSelection	= true;
		$('#datepicker1').val(GetMonthly1stStartDate());
		$('#datepicker2').val(GetMonthly1stEndDate());

		bToggleRecord = true;
		$("#button_toggle_record").text("<%=__('Close')%>");

		RequestOverviewUser(EAgent.eUser, agent.strGroupID, agent.iClass, agent.strNickname);
		RequestBettingListOnPopup(EAgent.eUser, agent.strGroupID, agent.iClass, agent.iPermission, iLimit, iCurrentPage);
		RequestBettingRecordUser(EAgent.eUser, agent.strGroupID, agent.iClass, agent.strNickname);
	}

	let OnClickMonthly2ndRecord = () => {

		bClickDateSelection	= true;
		$('#datepicker1').val(GetMonthly2ndStartDate());
		$('#datepicker2').val(GetMonthly2ndEndDate());

		bToggleRecord = true;
		$("#button_toggle_record").text("<%=__('Close')%>");

		RequestOverviewUser(EAgent.eUser, agent.strGroupID, agent.iClass, agent.strNickname);
		RequestBettingListOnPopup(EAgent.eUser, agent.strGroupID, agent.iClass, agent.iPermission, iLimit, iCurrentPage);
		RequestBettingRecordUser(EAgent.eUser, agent.strGroupID, agent.iClass, agent.strNickname);
	}
	
	function OnClickMonthlyRecord()
	{
		bToggleRecord = !bToggleRecord;

		if ( bToggleRecord ) {

			$("#table_record_list").show();
			$("#button_toggle_record").text("<%=__('Close')%>");

			if ( false == bClickDateSelection )
			{
				$('#datepicker1').val(GetMonthlyStartDate());
				$('#datepicker2').val(GetMonthlyEndDate());
			}

			RequestBettingRecordUser(EAgent.eUser, agent.strGroupID, agent.iClass, agent.strNickname);
		}
		else {
			$("#table_record_list").hide();
			$("#button_toggle_record").text(strOpen);
		}
	}

	let OnClickSearch = (iTargetClass, strGroupID, iClass) => {

		bToggleRecord = true;
		$("#button_toggle_record").text("<%=__('Close')%>");

		RequestOverviewUser(EAgent.eUser, agent.strGroupID, agent.iClass, agent.strNickname);
		RequestBettingListOnPopup(EAgent.eUser, agent.strGroupID, agent.iClass, agent.iPermission, iLimit, iCurrentPage);
		RequestBettingRecordUser(EAgent.eUser, agent.strGroupID, agent.iClass, agent.strNickname);
	}

	let OnClickPage = (iPage) => {
		if (iPage < 1) {
			return;
		}
		iCurrentPage = iPage;
		OnClickSearch();
	}
</script>