<div style="height:5px;"></div>
<div class="list">

	<div class="search_wrap">
		<p style="background-repeat:no-repeat; background-position:left center; font-size:20px; color:#454545; padding-left:22px;margin-top:10px;height:30px;margin-bottom:5px;">
			<%=__('User')%> <%=__('RecordOutput')%>
		</p>

		<div style="background-color:#ffffff;text-align:right;padding-right:5px;padding-top:10px;padding-bottom:10px;" colspan="19">
			<input style="margin-left:180px;width:100px;" type="text" id="datepicker1" class="datepicker"/>~
			<input style="width:100px;" type="text" id="datepicker2" class="datepicker" />
			<button class="btn_blue" style="border:1px solid rgb(95, 93, 93);width:70px;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnClickSearchInput();"><%=__('Search')%></button>
		</div>

		<table class="search_list">
			<thead>
				<tr>
					<th width="4%"><%=__('Index')%></th>
					<th width="6%"><%=__('Type')%></th>
					<th width="5%"><%=__('Nickname')%></th>
					<th width="8%"><%=__('CashBeforeOutput')%></th>
					<th width="8%"><%=__('OutputAmount')%></th>
```					<% if (agent.iRootClass == 2) { %>
						<th width="9%"><%=__('BankAccountHolderName')%>&nbsp;&nbsp;<button class="btn_blue" style="border:1px solid rgb(95, 93, 93);width:50px;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnClickBank();">보기</button></th>
					<% } else { %>
						<th width="9%"><%=__('BankAccountHolderName')%></th>
					<% } %>
					<th width="8%"><%=__('DateRequest')%></th>
					<th width="8%"><%=__('DateProcess')%></th>
					<th width="8%">가입일</th>
				</tr>
			</thead>
			<tbody id="input_list">
			</tbody>
		</table>

		<div class="pagination mt0" id="pagination">
		</div>
	</div>
</div>

<script type="text/javascript" src="js/enum.js"></script>
<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/manage_user_popup_menu.js"></script>
<script type="text/javascript" src="js/manage_partner_ref.js"></script>
<script type="text/javascript" src="js/pagination.js"></script>
<script type="text/javascript">
	let agent = JSON.parse('<%-JSON.stringify(agent)%>');

	DatePicker();
	$('#datepicker1').val(GetCurrentDateBefore(30));
	$('#datepicker2').val(GetCurrentDate());

	let searchKey = '';
	let iCurrentPage = 1;
	let iLimit = 30;
	$('#select_limit').on("change", function () {
		iLimit = this.value;
	});

	$(document).ready(() => {
		OnClickSearchInput();
	});

	<% if (agent.iRootClass == 2) { %>
	let OnClickBank = () => {
		let input = prompt('암호입력');
		if (input == null) {
			return;
		} else if (input.length == 0) {
			alert(`암호 미입력`);
			return;
		}

		$.ajax(
				{
					type:'post',
					url: "/manage_inout/request_input_pass",
					context: document.body,
					data:{
						iPage:iCurrentPage,
						input:input,
					},

					success:function(obj) {
						if (obj.result == 'OK') {
							searchKey = obj.key;
							OnClickPage(iCurrentPage);
						} else {
							alert(obj.msg);
						}
					}
				}
		);
	}
	<% } %>

	let OnClickSearchInput = () => {

		let date1 = $("#datepicker1").val();
		let date2 = $("#datepicker2").val();

		$.ajax(
			{
				type:'post',
				url: "/manage_inout/request_searchby",
				context: document.body,
				data:{
					type:'OUTPUT',
					dateStart:date1,
					dateEnd:date2,
					strGroupID:agent.strGroupID,
					strSearchNickname: agent.strNickname,
					iLimit: iLimit,
					iPage:iCurrentPage,
					iClass:agent.iClass,
					searchKey:searchKey
				},

				success:function(obj) {

					console.log(obj);

					const total = obj.totalCount ?? 0;
					SetList(obj.data, getNo(iLimit, total, iCurrentPage, 0));

					$('#pagination').empty();
					$('#pagination').append(getPagination(iLimit, obj.totalCount, iCurrentPage));
				}
			}
		);
	}

	let OnClickPage = (iPage) => {
		if (iPage < 1) {
			return;
		}
		iCurrentPage = iPage;
		OnClickSearchInput();
	}

	let SetList = (data, startIndex) =>
	{
		let iTotal = 0;

		$('#input_list').empty();
		for ( let i in data )
		{
			if ( data[i].eState == 'COMPLETE' )
			{
				let tag = `
				<tr>
					<td>${parseInt(startIndex)-i}</td>
					<td>${data[i].id}</td>
					<td>${data[i].strID}</td>
					<td>${data[i].iPreviousCash.toLocaleString()}</td>
					<td>${data[i].iAmount.toLocaleString()}</td>
					<td>${data[i].strAccountOwner}</td>
					<td>${data[i].createdAt}</td>
					<td>${data[i].updatedAt}</td>
					<td>${data[i].userCreatedAt}</td>
				</tr>
				`;
				$('#input_list').append(tag);

				iTotal += parseFloat(data[i].iAmount);
			}
		}

		let endtag = `
			<td style="color:red;"><%=__('Total')%></td>
			<td></td>
			<td></td>
			<td></td>
			<td>${iTotal.toLocaleString()}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		`;
		$('#input_list').append(endtag);
	}
</script>