<div style="height:5px;"></div>
<div class="list">
	<div class="search_wrap">
		<p style="background-repeat:no-repeat; background-position:left center; font-size:20px; color:#454545; padding-left:22px;margin-top:10px;height:30px;margin-bottom:5px;font-family: 'Noto Sans KR sans-serif';">
			<%=__('RecordPointExchange')%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</p>

		<div style="text-align: left; padding-left: 5px;">
			<button class="btn_blue" id="button_search" style="border:1px solid rgb(95, 93, 93);width:70px;;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="Search('');">전체</button>
			<button class="btn_blue" id="button_search" style="border:1px solid rgb(95, 93, 93);width:70px;;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="Search('inout');">지급/차감</button>
			<button class="btn_blue" id="button_search" style="border:1px solid rgb(95, 93, 93);width:70px;;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="Search('rolling');">롤링</button>
		</div>
		<div style="background-color:#ffffff;text-align:right;padding-right:5px;padding-top:10px;padding-bottom:10px;" colspan="19">
			<input style="margin-left:180px;width:100px;" type="text" id="datepicker1" class="datepicker"/>~
			<input style="width:100px;" type="text" id="datepicker2" class="datepicker" />
			<button class="btn_blue" id="button_search" style="border:1px solid rgb(95, 93, 93);width:70px;;height:25px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="Search();"><%=__('Search')%></button>
		</div>

		<table class="search_list">
			<thead>
				<tr>
					<th width="5%" style="font-size:14px;"><%=__('Index')%></th>
					<th width="16%" style="font-size:14px;">전환전 금액</th>
					<th width="16%" style="font-size:14px;">금액</th>
					<th width="16%" style="font-size:14px;">합계</th>
					<th width="15%" style="font-size:14px;"><%=__('Exchange')%><%=__('Type')%></th>
					<th width="16%" style="font-size:14px;">닉네임</th>
					<th width="16%" style="font-size:14px;">전환 일자</th>
				</tr>
			</thead>
			<tbody id="listGTRecord">
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript" src="js/enum.js"></script>
<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/manage_user_popup_menu.js"></script>
<script type="text/javascript">
	let agent = JSON.parse('<%-JSON.stringify(agent)%>');
	let searchType = '';

	let GetType = (eType) => {
		if ( eType == 'ROLLING' )
		{
			return {strType:'롤링', color:'green'};
		}
		else if ( eType == 'TAKE' )
		{
			return {strType:'차감', color:'red'};
		}
		else if ( eType == 'GIVE' )
		{
			return {strType:'지급', color:'blue'};
		}
		else if ( eType == 'SETTLE' )
		{
			return {strType:'죽장', color:'red'};
		}
		else if ( eType == 'GETSETTLE' )
		{
			return {strType:'죽장지급', color:'red'};
		}
		return {strType:'', color:'black'};
	}

	$(document).ready(() => {
		DatePicker();

		$('#datepicker1').val(GetCurrentDate());
		$('#datepicker2').val(GetCurrentDate());

		Search('');
	});

	let RequestGTRecord = (strSearch, iClass) => {

		let dateStart = $('#datepicker1').val();
		let dateEnd = $('#datepicker2').val();

		$.ajax({
			type:'post',
			url: "/manage_user_popup/request_gtrecord_user",
			context: document.body,
			data:{strNickname:agent.strNickname, dateStart:dateStart, dateEnd:dateEnd, strSearch:strSearch, iClass:iClass, searchType:searchType},
			success: (list) => {
				for ( let i in list )
				{
					let objectType = GetType(list[i].eType);
					let nickname = list[i].strTo;
					let iClass = list[i].iClassTo;
					let iAmount = list[i].iAmount;
					let iBeforeAmount = list[i].iBeforeAmountFrom;
					let iAfterAmount = list[i].iAfterAmountFrom;
					if (nickname == agent.strNickname) {
						if (list[i].eType != 'ROLLING') {
							nickname = list[i].strFrom;
							iClass = list[i].iClassFrom;
						}
						iBeforeAmount = list[i].iBeforeAmountTo;
						iAfterAmount = list[i].iAfterAmountTo;
					}

					let tag = `	<tr>
								<td>${list[i].id}</td>

								<td>${GetNumberSign(iBeforeAmount)}</td>
								<td>${GetNumberSign(iAmount)}</td>
								<td>${GetNumberSign(iAfterAmount)}</td>
								<td style='color:${objectType.color}'>${objectType.strType}</td>
								<td>${GetClassNickName(iClass, nickname)}</td>
								<td>${list[i].createdAtFormat}</td>
								</tr>`;

					$('#listGTRecord').append(tag);
				}
				SetTotal(list);
			},
			error:function(request,status,error){
				alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			}
		});
	}

	let SetTotal = (list) => {
		if (searchType == 'inout' || searchType == '') {
			let giveTotal = 0;
			let takeTotal = 0;
			for (let i in list) {
				if (list[i].eType == 'GIVE') {
					giveTotal += list[i].iAmount;
				} else if (list[i].eType == 'TAKE') {
					takeTotal += list[i].iAmount;
				}
			}
			let total = giveTotal - takeTotal;
			let tag = `	<tr>
					<td></td>
					<td>합계</td>
					<td>${GetNumberSign(total)}</td>
					<td colspan="4" style="text-align: left; padding-left: 10px;"><font style="color: blue;">지급 : ${GetNumberSign(giveTotal)}</font>    <font style="color: red; padding-left: 10px;">차감 : ${GetNumberSign(takeTotal)}</font></td>
					</tr>`;
			$('#listGTRecord').append(tag);
		} else {
			let total = 0;
			for (let i in list) {
				total += list[i].iAmount;
			}

			let tag = `	<tr>
					<td></td>
					<td>합계</td>
					<td>${GetNumberSign(total)}</td>
					<td colspan="4" style="text-align: left"></td>
					</tr>`;
			$('#listGTRecord').append(tag);
		}
	}

	let Search = (type) => {
		searchType = type;
		$('#listGTRecord').empty();
		RequestGTRecord('');
	}
	
</script>