<!--slider-->
<div style="width:100%; overflow: hidden;">
    <ul class="bxslider">
        <!-- <li><img src="/img/slider_01.jpg" /></li>
        <li><img src="/img/slider_02.jpg" /></li> -->
        <li><img src="/img/slider_03.jpg" /></li>
    </ul>
</div>
<script src="/js/jquery.cycle2.js"></script>
<script src="/js/bxslider.js"></script>
<script>
    $(document).ready(function(){
        $('.slider').bxSlider({auto: true,
            autoControls: true,pager:true,});
    });

    var GoGame = (strGame, strGameKey) => {
        if ( strGame == 'LIVE_VIVO' || strGame == 'LIVE_WORLD' )
        {
            alert('준비중입니다.');
            return;
        }

        console.log(bLogin);
        if ( "false" == bLogin )
        {
            alert('로그인이 필요한 서비스 입니다.');
            return;
        }

        let objectData = {strGame:strGame, strGameKey:strGameKey};

        $.ajax({
            type:"POST",
            url:"/game",
            dataType:"text",
            data:objectData,
            success:function(data) {
                
                console.log('##### GAME OPEN')
                console.log(data);

                // //eval(data);
                //window.open(data,strGame, 'popupGame', 'width=1920, height=1080, toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no');

                if ( data == '' )
                    alert('해당 게임은 점검중입니다.');
                else
                    window.open(data, 'popupGame','height=' + screen.height + ',width=' + screen.width + 'fullscreen=yes');
            },
            error: function(xhr, status, error) {
            alert(xhr.responseText);
            }
        });
    }

    var GoGameSM = (strGame, strGameKey) => {

        if ( "false" == bLogin )
        {
            alert('로그인이 필요한 서비스 입니다.');
            return;
        }

        window.open('','popupGame','height=' + screen.height + ',width=' + screen.width + 'fullscreen=yes');

        var $form = $('<form></form>');
        $form.attr('action', '/game/sm');
        $form.attr('method', 'post');
        $form.attr('target', 'popupGame');
        $form.appendTo('body');

        const cGame = $(`<input type="hidden" value="${strGame}" name="strGame">`);
        const cGameKey = $(`<input type="hidden" value="${strGameKey}" name="strGameKey">`);
        $form.append(cGame).append(cGameKey);
        $form.submit();
    }

    
    var GoPowerball = () => {

        if ( "false" == bLogin )
        {
            alert('로그인이 필요한 서비스 입니다.');
            return;
        }

        window.open('/powerball','IIPGames Powerball','width='+screen.width+', height='+screen.height+', statusbar=no,scrollbars=auto,toolbar=no,resizable=no')
    }

</script>

<div class="container">
    <div class="live-casino-wrap">
        <h1><img src="/img/game list title.png"></h1>
        <div class="game-list">
            <ul>
                <li onclick="GoGame('LIVE_EZUGI', '');">
                    <span class="char01"><img src="/img/casino08.png"></span>
                </li>
                <li onclick="GoGame('LIVE_CQ9', '');">
                    <span class="char01"><img src="/img/casino15.png"></span>
                </li>
                <li onclick="GoGame('LIVE_VIVO', '');">
                    <span class="char01"><img src="/img/casino01.png"></span>
                </li>
            </ul>
        </div>
        <div class="game-list">
            <ul>
                <li onclick="GoGame('LIVE_PP', '');">
                    <span class="char01"><img src="/img/casino05.png"></span>
                </li>
                <li onclick="GoGame('LIVE_EVOLUTION', '');">
                    <span class="char01"><img src="/img/casino12.png"></span>
                </li>
                <li onclick="GoGame('LIVE_WORLD', '');">
                    <span class="char01"><img src="/img/casino03.png"></span>
                </li>
                <li onclick="GoGame('LIVE_DREAM', '');">
                    <span class="char01"><img src="/img/casino02.png"></span>
                </li>
                <li onclick="GoGame('LIVE_VOTA', '');">
                    <span class="char01"><img src="/img/casino13.png"></span>
                </li>
                <li onclick="GoGame('LIVE_DOWON');">
                    <span class="char01"><img src="/img/casino14.png"></span>
                </li>
                <li onclick="GoGame('LIVE_ASIAGAMING');">
                    <span class="char01"><img src="/img/casino07.png"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="slot-game-wrap">
        <h1><img src="/img/slot_game_title.png"></h1>
        <div class="game-list">
            <ul>
                <li onclick="GoGameSM('SM_PP', '');">
                    <span class="char01"><img src="/img/slot01.png"></span>
                </li>
                <li onclick="GoGameSM('SM_HABANERO', '');">
                    <span class="char01"><img src="/img/slot05.png"></span>
                </li>
                <li onclick="GoGameSM('SM_MICROGAMING', 'MicroGaming Plus Slo');">
                    <span class="char01"><img src="/img/slot02.png"></span>
                </li>
                <li onclick="GoGameSM('SM_NETENT', 'netent');">
                    <span class="char01"><img src="/img/slot08.png"></span>
                </li>
                <li onclick="GoGameSM('SM_REDTIGER', 'redtiger');">
                    <span class="char01"><img src="/img/slot14.png"></span>
                </li>
                <li onclick="GoGameSM('SM_BLUEPRINT', 'Blueprint Gaming');">
                    <span class="char01"><img src="/img/slot12.png"></span>
                </li>
                <li onclick="GoGameSM('SM_DRAGONSOFT', 'Dragoon Soft');">
                    <span class="char01"><img src="/img/slot21.png"></span>
                </li>
                <li onclick="GoGameSM('SM_RELAX', 'Relax Gaming');">
                    <span class="char01"><img src="/img/slot11.png"></span>
                </li>
                <li onclick="GoGameSM('SM_ELK', 'Elk Studios');">
                    <span class="char01"><img src="/img/slot13.png"></span>
                </li>
                <li onclick="GoGameSM('SM_PLAYSTAR', 'PlayStar');">
                    <span class="char01"><img src="/img/slot19.png"></span>
                </li>
                <li onclick="GoGameSM('SM_BOOONGO', 'Booongo');">
                    <span class="char01"><img src="/img/slot03.png"></span>
                </li>
                <li onclick="GoGameSM('SM_PLAYSON', 'PlaySon');">
                    <span class="char01"><img src="/img/slot04.png"></span>
                </li>
                <li onclick="GoGameSM('SM_CQ9', 'CQ9');">
                    <span class="char01"><img src="/img/slot15.png"></span>
                </li>
                <li onclick="GoGameSM('SM_ASIASLOT', '7-mojos-slots');">
                    <span class="char01"><img src="/img/slot17.png"></span>
                </li>
                <li onclick="GoGameSM('SM_BETSOFT', '7777');">
                    <span class="char01"><img src="/img/slot18.png"></span>
                </li>
            </ul>
        </div>
    </div>
    
    <!--게시판-->
    <div class="board-wrap">
        <div class="board-list">
            <div class="list-b">
                <h1 onclick="location.href='/board/list'" style="cursor: hand;cursor: pointer;"><span>UNOVER</span><span>공지사항</span></h1>
                <table id="main_notice">
                    <colgroup>
                        <col class="col01">
                        <col class="col02">
                    </colgroup>

                    <tbody>
                    <% for ( let i in listAnnouncement ) { %>
                        <tr>
                            <% const address = `/board/ann?id=${listAnnouncement[i].id}`;%>
                            <td><a href="<%=address%>">- <%=listAnnouncement[i].strSubject%></a></td>
                            <td><%=listAnnouncement[i].createdAt%></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="board-list">
            <div class="list-b">
                <h1 onclick="location.href='/faq/list'" style="cursor: hand;cursor: pointer;"><span>UNOVER</span><span>FAQ</span></h1>
                    <table id="main_faq">
                        <colgroup>
                            <col style="width:60%">
                            <col style="width:20%">
                        </colgroup>
                        <tbody>
                        <% for ( let i in listFaq ) { %>
                            <tr>
                                <% const address = `/faq/get?id=${listFaq[i].id}`;%>
                                <td><a href="<%=address%>">- <%=listFaq[i].strSubject%></a></td>
                                <td><%=listFaq[i].createdAt%></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>

<!--pop 배너영역-->
<!--  popup  -->
    <div id="main_pop_notice_popup" class="pop_main" style="z-index:1000; position:absolute; top: 85px;">
    <table style="">
        <tr>
            <td style="padding-left: 10px;">
                <div id="main_pop_notice_popup_01" style="display: none">
                    <div><img src="/img/pop/popup_01.png" style="width:450px; height: 700px;" /></div>
                    <div style="height:35px; background:#262626;  color:#ffffff;">
                        <span style="float: left; margin-left: 20px; margin-top: 5px;"><input type="checkbox" name="nomore" onclick="closePop('main_pop_notice_popup_01');"></span>
                        <span onclick="$('#main_pop_notice_popup_01').hide();" style="cursor:hand;cursor:pointer;line-height: 35px;float:left; margin-left:5px;">오늘하루 이창 열지않음</span>
                        <span class="close">
                            <span onclick="$('#main_pop_notice_popup_01').hide();" style="cursor:hand;cursor:pointer;line-height: 35px;float:right; margin-right:20px;">닫기 X</span>
                        </span>
                    </div>
                </div>
            </td>
            <td style="padding-left: 10px;">
                <div id="main_pop_notice_popup_02" style="display: none">
                    <div><img src="/img/pop/popup_02.png" style="width:450px; height: 700px;" /></div>
                    <div style="height:35px; background:#262626;  color:#ffffff;">
                        <span style="float: left; margin-left: 20px; margin-top: 5px;"><input type="checkbox" name="nomore" onclick="closePop('main_pop_notice_popup_02');"></span>
                        <span onclick="$('#main_pop_notice_popup_02').hide();" style="cursor:hand;cursor:pointer;line-height: 35px;float:left; margin-left:5px;">오늘하루 이창 열지않음</span>
                        <span class="close">
                            <span onclick="$('#main_pop_notice_popup_02').hide();" style="cursor:hand;cursor:pointer;line-height: 35px;float:right; margin-right:20px;">닫기 X</span>
                        </span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

    <!--  Play moview  -->
    <div id="main_pop_notice_new20" class="pop_main" style="display:none;z-index:9990;">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" bgcolor="#000000">
                    <video width="620" controls autoplay loop muted>
                        <source src="/img/uo.mp4" type="video/mp4">
                    </video>
                </td>
            </tr>
        </table>

        <div style="height:35px; background:#262626;  color:#ffffff; margin-top: -5px;">

        <span style="width:325px;float:left; display:block; font-size:12px; letter-spacing:-0.05em; font-weight:bold;
        line-height:25px; padding-left:20px;padding-top:5px; cursor:pointer;" >오늘하루 이창 열지않음<span><input type="checkbox" name="nomore" onclick="closePop('main_pop_notice_new20');"></span></span>

            <span class="close">
                <span onclick="$('#main_pop_notice_new20').hide();" style="cursor:hand;cursor:pointer;line-height: 35px;float:right; margin-right:10px;">닫기 X</span>
            </span>
        </div>

    </div>


    <script>

    function getCookie( name ){
        var nameOfCookie = name + "=";
        var x = 0;
        while ( x <= document.cookie.length )
        {
            var y = (x+nameOfCookie.length);
            if ( document.cookie.substring( x, y ) == nameOfCookie ) {
                if ( (endOfCookie=document.cookie.indexOf( ";", y )) == -1 )
                    endOfCookie = document.cookie.length;
                return unescape( document.cookie.substring( y, endOfCookie ) );
            }
            x = document.cookie.indexOf( " ", x ) + 1;
            if ( x == 0 )
                break;
        }
        return ;
    }

    function setCookie( name, value, expiredays )
    {
        var todayDate = new Date();
        todayDate.setDate( todayDate.getDate() + expiredays );
        document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
    }

    function closePop(getId)
    {
        setCookie( getId, "done" , 1 );
        $('#'+getId).hide();
    }

    if(getCookie("main_pop_notice_new20") != "done") {
        Popup_new_right("main_pop_notice_new20", 150, 10)
        $("#main_pop_notice_new20").show();
    }

    if(getCookie("main_pop_notice_popup_01") != "done") {
        $("#main_pop_notice_popup_01").show();
    }else{
        $("#main_pop_notice_popup_01").hide();
    }

    if(getCookie("main_pop_notice_popup_02") != "done") {
        $("#main_pop_notice_popup_02").show();
    }else{
        $("#main_pop_notice_popup_02").hide();
    }
    
    function Popup_new(divname, topPos, mWidth) {
        //request data for centering


        var obj = $('#' + divname);
        var iHeight = (document.body.clientHeight / 2) - obj.height() / 2 + document.body.scrollTop;
        //var iWidth = (document.body.clientWidth / 2) - obj.width() / 2 + document.body.scrollLeft - mWidth;
        var iWidth = mWidth;


        var windowWidth = document.documentElement.clientWidth;
        var popupWidth = $("#" + divname).width();
        //centering
        $("#" + divname).css({
            "position": "absolute",
            "z-index": "9999",
            "top": topPos,
            "left": iWidth
        });
    }

    function Popup_new_right(divname,topPos,mWidth){
        $("#"+divname).css({
            "position": "absolute",
            //"z-index": "9999",
            "top": topPos,
            "right": mWidth
        });
    }

</script>



<script>
    $(document).ready(function () {
        // ajaxContents("/ajaxCall/loginMsg", "msgTxt");
        // ajaxContents("/ajaxCall/topNotice", "main_notice");
        // ajaxContents("/ajaxCall/topWithdraw", "day");
        // ajaxContents("/ajaxCall/callCenter", "callcenter");
        // ajaxContents("/ajaxCall/topEvent", "main_event");
        // ajaxContents("/ajaxCall/topFaq", "main_faq");
        // ajaxContents("/ajaxCall/topWeekWithdraw", "week");
    });

</script><!-- 여기서 부터 카피라이트 부분입니다. -->