<div class="sub_wrap">
    <div class="container clearfix">
        <div class="content" style="position:relative; padding:0 10px 0 10px;">
            <ul class="list_tab" style="margin-bottom:10px;width:75%;z-index:10000;" id="bankaccount_header">
            </ul>
        </div>

        <div style="background-color:#ffffff;text-align:right;padding-right:5px;padding-top:0px;padding-bottom:0px;">
            <input style="margin-left:180px;width:100px;height:18px;" type="text" id="datepicker1" class="datepicker"/>~
            <input style="width:100px;height:18px;" type="text" id="datepicker2" class="datepicker" />

            <button class="btn_blue" id="button_toggle_record" style="width:100px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="RequestPartnerSelection();"><%=__('Search')%></button>

            <%=__('Search')%>
            <select id="select_roomno" style="width:80px;">
                <option><%=__('Nickname')%></option>
            </select>
            <input style="margin-left:0px;width:100px;" id="strSearchNickname" type="text"/>
            <button class="btn_blue" id="button_toggle_record" style="width:100px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnClickRecord(true);"><%=__('Search')%></button>
            <select id="select_limit" style="width:80px; display: none;" >
                <option value="30">30개씩</option>
                <option value="50">50개씩</option>
                <option value="100">100개씩</option>
            </select>
        </div>

        <div class="list">

            <div class="list_tit">
                <h3>파트너 목록&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn_blue" id="bap_partner" style="width:100px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnRequestPartner(4);">대본사</button>
                    <button class="btn_blue" id="bap_partner" style="width:100px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnRequestPartner(5);">부본사</button>
                    <button class="btn_blue" id="bap_partner" style="width:100px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnRequestPartner(6);">총판</button>
                    <button class="btn_blue" id="bap_partner" style="width:100px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnRequestPartner(7);">매장</button>
                    <button class="btn_blue" id="bap_partner" style="width:100px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnRequestPartner(8);">회원</button>

                    <button class="btn_blue" style="margin-top:15px;float:right;width:150px;text-align:center;background-color: rgb(214, 180, 29);color:white" onclick="SaveAccountGrade();">계좌등급 저장</button>
                </h3>
            </div>

            <div class='list'>
                <div class="search_wrap">
                    <table class="search_list">
                        <caption><%=__('SearchResult')%></caption>
                        <colgroup>
                            <col style="width:3%;">
                            <col style="width:5%;">
                            <col style="width:7%;">
                            <col style="width:7%;">
                            <col style="width:7%;">
                            <col style="width:7%;">
                            <col style="width:5%;">
                            <col style="width:5%;">
                            <col style="width:5%;">
                            <col style="width:7%;">
                            <col style="width:7%;">
                            <col style="width:7%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">계좌 등급</th>
                            <th scope="col">대본사</th>
                            <th scope="col">부본사</th>
                            <th scope="col">총판</th>
                            <th scope="col">매장</th>
                            <th scope="col">대상</th>
                            <th scope="col">계좌문의 횟수</th>
                            <th scope="col">유효 입금 횟수</th>
                            <th scope="col">무효 입금 횟수</th>
                            <th scope="col">무조회 입금횟수</th>
                            <th scope="col">상세보기</th>
                        </tr>
                        </thead>
                        <tbody id="list_bapartner">
                        </tbody>
                    </table>
                    <div class="pagination mt0" id="pagination">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<script type="text/javascript" src="js/enum.js"></script>
<script type="text/javascript" src="js/time.js"></script>
<script type="text/javascript" src="js/manage_partner_ref.js"></script>
<script type="text/javascript" src="js/manage_bankaccount_menu.js"></script>
<script type="text/javascript" src="js/manage_setting_ref.js"></script>
<script type="text/javascript" src="js/manage_user_menu.js"></script>
<script type="text/javascript" src="js/manage_search_date.js"></script>
<script type="text/javascript" src="js/socket.js"></script>
<script>

    let user = JSON.parse('<%-JSON.stringify(user)%>');
    let iocount = JSON.parse('<%-JSON.stringify(iocount)%>');
     
    let iCurrentClass = 4;

    var i18nTexts = {
        Search: "<%=__('Search')%>",
        Today : "<%=__('Today')%>",
        Half1: "<%=__('Half1')%>",
        Half2: "<%=__('Half2')%>",
        Open: "<%=__('Open')%>",
		Nickname: "<%=__('Nickname')%>",
    };

    let startDate = GetCurrentDate();
	let endDate = GetCurrentDate();

    let bToggleRecord = false;
    let bClickDateSelection	= false;
    const cTClass	= parseInt(user.iClass);

    $(document).on('click', '.menu1', (e) => {
        $('.menu5').attr('class', 'menu1');
        $(e.currentTarget).attr('class', 'menu5');
    });

    $(document).ready(() => {
        SetSeachButtons("#search_date",2,i18nTexts,user,4);

        DatePicker();

        $('#datepicker1').val(startDate);
        $('#datepicker2').val(endDate);
        $("#table_record_list").hide();

        SetCalculationHeader(0, user.iClass);
        //SetOverview(objectOverview, "#div_realtimebet_overview", true, user.iRootClass);
        Alert(iocount, "<%=__('RequestInput')%>", "<%=__('RequestOutput')%>","<%=__('LetterSend')%>");
    });

    let OnClickSearchNickname = () => {
        // RequestUserList(user.iClass, user.strGroupID, user.iClass);
    }

    let RequestPartnerSelection = () => {

        OnRequestPartner(iCurrentClass);
    }

    let OnRequestPartner = (iClass) => {

        iCurrentClass = iClass;

        const dateStart = $('#datepicker1').val();
        const dateEnd = $('#datepicker2').val();

        $.ajax({
			type:'post',
			url: "/manage_bankaccount/request_partner",
			context: document.body,
			data:{
                strGroupID:user.strGroupID,
				iClass:iClass,
                dateStart:dateStart,
                dateEnd:dateEnd,
			},
			success: (data) => {

                if ( data.result == 'OK' )
                {
                    $('#list_bapartner').empty();
                    for ( let i in data.list )
                    {
                        const aObject = data.list[i];
                        let strAccountGrade = data.list[i].strOptionCode[3];

                        let tag = `
                        <tr>
                            <td>${parseInt(i)+1}</td>
                            <td><input id="bankaccount_grade" strID='${aObject.strID}' strOptionCode='${aObject.strOptionCode}' style='width:70%;' value="${strAccountGrade}"></td>
                            <td>${data.list[i].strPAdminNickname}</td>
                            <td>${data.list[i].strVAdminNickname}</td>
                            <td>${data.list[i].strAgentNickname}</td>
                            <td>${data.list[i].strShopNickname}</td>

                            <td>
                                <a href="javascript:RequestPartnerInfo('${aObject.strNickname}', '${aObject.strGroupID}', '${aObject.iClass}', '${aObject.iPermission}', '${aObject.strNickname}');"  style="color:blue;">${aObject.strNickname}</a>
                            </td>

                            <td>${data.list[i].iNumRequest}</td>
                            <td>${data.list[i].iNumValidInput}</td>
                            <td>${data.list[i].iNumInvalidInput}</td>
                            <td>${data.list[i].iNumStandbyInput}</td>
                            <td><button class="btn_blue" style="width:50px;text-align:center;background-color: rgb(74, 141, 68);color:white" onclick="OnPopupDetail('${data.list[i].strID}');">상세</button></td>
                        </tr>`;

                        //<td>${data.list[i].strNickname}</td>

                        $('#list_bapartner').append(tag);
                    }
                }
			},
		});
    }

    $(document).on('click', '#bap_partner', (e) => {

        $('button[id="bap_partner"]').each( (index, element) => {

            $(element).css('background-color', 'rgb(74, 141, 68)');

        });
        //$('#bap_partner')

        $(e.currentTarget).css('background-color', 'red');

    });

    let OnPopupDetail = (strID) => {

        window.open('', 'popupDetail', 'width=1280, height=720, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');

        var $form = $('<form></form>');
        $form.attr('action', '/manage_bankaccount/detail');
        $form.attr('method', 'post');
        $form.attr('target', 'popupDetail');
        $form.appendTo('body');

        const dateStart = $('#datepicker1').val();
        const dateEnd = $('#datepicker2').val();

        var idx = $(`<input type="hidden" value="${strID}" name="strID">`);
        var page = $(`<input type="hidden" value="${dateStart}" name="dateStart">`);
        var category = $(`<input type="hidden" value=${dateEnd} name="dateEnd">`);

        $form.append(idx).append(page).append(category);

        $form.submit();
    }

    let SaveAccountGrade = () => {

        //let list = [];
        let str = '';

        let bFoundError = false;

        $('input[id="bankaccount_grade"]').each( (index, e) => {

            const strID = $(e).attr('strID');
            let strOptionCode = $(e).attr('strOptionCode');
            const cGrade = $(e).val();

            if ( parseInt(cGrade) >= 0 && parseInt(cGrade) <= 9 )
            {
                console.log(`${index} + strID : ${strID}`);

                let array = strOptionCode.split('');
                array[3] = cGrade;
                strOptionCode = array.join('');
            
                //list.push({strID:strID, strOptionCode:strOptionCode});
                str += `${strID}:${strOptionCode},`;
            }
            else
            {
                bFoundError = true;
                return;
            }
        });

        if ( bFoundError == true )
        {
            alert('계좌 등급은 0 부터 9까지 입니다.');
            return;
        }

        if ( str.length <= 0 )
            return;

        str = str.substring(0, str.length-1);

        console.log(str);

        if ( confirm('계좌 등급을 업데이트 하시겠습니까?'))
        {
            $.ajax({
                type:'post',
                url: "/manage_bankaccount/request_updategrade",
                context: document.body,
                data:{data:str},
                success: (data) => {

                    if ( data.result == 'OK' )
                    {
                        alert('계좌 등급이 업데이트 되었습니다.');
                    }
                },
            });
        }

    }

</script>